[2017-03-30 09:05] ThomasKranitsas commented on #1109
The 'expected' image above has the MM abbreviation that's why I'm saying it's not correct... It should still have the correct abbreviation (eg `Cd`), right?

[2017-03-30 09:59] ThomasKranitsas commented on #1108
@ajefts currently it's not only the register button which is randomly shown... It's also the forum link icon.. Should I leave the code which randomly shows the forum icon and just show the register button for all challenges that are open for registration?

[2017-03-30 10:04] birdofpreyru commented on #1105
Ok, this should fix it: https://github.com/appirio-tech/react-components/pull/147

[2017-03-30 11:29] appirio-jenkins commented on #1108
The register button should definitely show for all where registration is open. For the forum link, please show it for all. Ideally, it should only show if the user is logged in and registered for the challenge, but let's not try to do that check yet.

[2017-03-30 14:32] tladendo commented on #1105
confirmed that this fix works

[2017-03-30 14:32] #1105 closed

[2017-03-30 16:23] tladendo commented on #1110
working on some related filter issues, will look at this after they wrap up

[2017-03-30 18:46] vic-topcoder commented on #1109
@ThomasKranitsas yes, the thing I'm pointed is for the TCO badge to match the challenge code background. The abbreviation should match the challenge track - in this case Code.

[2017-03-30 18:52] vic-topcoder commented on #1108
@ThomasKranitsas we don't want any random generations of the interface anymore. We should follow only the functional logic as we're pushing to get this into production. Let's have all challenges sorted in the correct buckets.
 - Treat "open for registration" as a boolean to show the register button, and remove it as a phase on the timeline. Registration should not be shown as a current phase name

[2017-03-30 19:02] vic-topcoder commented on #1092
We're going to address this in the challenges on the platform project. It should be quick, and fixes on the current page are going to be discarded when the new pages arrive. This is a known issue and we will improve the typography with the next release on challenge pages

[2017-03-30 19:09] ThomasKranitsas commented on #1109
@vic-topcoder I've already finished this one.
ref: https://github.com/appirio-tech/react-components/pull/146

[2017-03-30 19:11] ThomasKranitsas commented on #1108
@vic-topcoder I've already removed the random bool here https://github.com/appirio-tech/react-components/pull/148

About the forum link: How am I supposed to implement this on the `react-components` to show the forum link only to challenges where a user is registered?

[2017-03-30 19:34] ajefts commented on #1108
@ThomasKranitsas Can we check the "my challenges" list for the user and show the forum icon based on that?

[2017-03-30 20:07] vic-topcoder commented on #1111
We also lost the RSS feed link under the navigation; can we get it back @tladendo ?

[2017-03-30 20:29] #1111 closed

[2017-03-30 20:29] tladendo commented on #1111
@ThomasKranitsas this is already fixed now

[2017-03-30 20:30] #1104 closed

[2017-03-30 20:30] #1109 closed

[2017-03-30 20:33] tladendo commented on #1106
this is in

[2017-03-30 20:33] #1106 closed

[2017-03-30 20:36] tladendo commented on #1102
fixed

[2017-03-30 20:36] #1102 closed

[2017-03-30 20:36] tladendo commented on #1101
I'll get someone on this

[2017-03-30 20:37] #1098 closed

[2017-03-30 20:56] vic-topcoder opened #1113 "[$10] Layout issues - prize disappearing on resize"
Current implementation of mobile view hides the prize on the challenge card. It should be brought back.

Expected:
![screen shot](https://cloud.githubusercontent.com/assets/8484061/24525793/94ba89c4-1550-11e7-9e17-595a83d8d5bc.png)

Current:
![screen shot 2](https://cloud.githubusercontent.com/assets/8484061/24525800/98f21e26-1550-11e7-8eeb-9b727d79d45b.png)
![screen shot 1](https://cloud.githubus

[2017-03-30 20:56] vic-topcoder commented on #1113
It happens on "open for registration" only challenges

[2017-03-30 21:00] ajefts commented on #1108
@ThomasKranitsas It looks like the tooltip for the timeline is always hitting the prod API.  Can you update this some the url is configured based on the env?  I think @birdofpreyru just did this for a few other components.

[2017-03-30 21:47] ajefts opened #1114 "New listing - remove SRM view"
Let's remove this nav for this view until it's complete.

[2017-03-30 21:48] ThomasKranitsas commented on #1114
Can I fix this?

[2017-03-30 21:54] ajefts opened #1115 "[$20] - New Listing - past challenges are ordering wrong"
it also shows all MM challenges first.  This should be sorted desc...

[2017-03-30 22:04] ajefts opened #1116 "New listing - hide the "Open for Review" section"
Please hide it in the sidebar too.

[2017-03-30 23:51] vic-topcoder opened #1117 "Web fonts issues"
There seems to be a dependency issues with the web fonts stack on connect app. I traced declaration for Typekit, which we decided to not use. The declarations of Roboto font family is done in `_fonts.scss`, which is in `react-components`, but that is dependency from `connect-app`. We need to fix the use and declarations of web fonts for all apps and components.

1. Remove dependency of font declar

[2017-03-30 23:53] vic-topcoder commented on #1117
There are warnings listed in dev tools in Chrome/Firefox, so you can trace the problem. Since I don't know who can help, I added you all here. @vikasrohit can provide deeper feedback on the issue, but if we can't get our font stack sorted soon, we cannot render the UI effectively on people that don't have Roboto installed locally.

[2017-03-30 23:54] vic-topcoder commented on #1117
@vikasrohit: is there a reason we're still using Typekit on topcoder-app?

[2017-03-31 00:02] birdofpreyru commented on #1117
@vic-topcoder Ok, I'll fix it tomorrow.

By the way, have you checked our new `community-app`? Roboto fonts are already in there, together with the test page, which renders them all. In case you have not seen it yet, I'd say you should have a look and tell whether you like how the fonts are rendered there, or whether this need further improvements.

[2017-03-31 00:14] vic-topcoder commented on #1117
@birdofpreyru I'll take a look - haven't had time yet. That sounds amazing! Thanks!

[2017-03-31 00:16] vic-topcoder opened #1118 "[$10] - Listing bucket footer is wrong"
The current listing footer is not up to speck:

Current:
![screen shot 4](https://cloud.githubusercontent.com/assets/8484061/24531255/7f314a4a-156c-11e7-9b45-f1299be61b97.png)

Expected:
![screen shot 6](https://cloud.githubusercontent.com/assets/8484061/24531257/841727c8-156c-11e7-8add-2d891c56830d.png)

[2017-03-31 01:29] vic-topcoder commented on #1117
I love the console and how it lists all resources generated. Yes, if it is possible to use this solution on all projects, that'll be great. Can you also post a link to the solution so we know how to keep all implementations in sync (for future reference)? Thanks!

[2017-03-31 02:15] vic-topcoder opened #1119 "[$50] - Side menu and list title updates"
We need to split active challenges from past challenges. This can be done with a slight update on the side menu, and title of the buckets. The listing should still include the recently finished challenges as a nice segue to explore past challenges. All active is the combined list view, so the count should include the total number of all sub-groups (Participating, Open for registration, Running).

[2017-03-31 02:15] vic-topcoder commented on #1119
@ajefts Tony, please advise if any changes of the labels are necessary.

[2017-03-31 12:24] birdofpreyru commented on #1117
Fixed in 252ce5a6b7134451e905c3b5c8a1d55b05b5f575
I've also added font test page into this repo at the `/font-test` route, so that we can easily verify that setup works in different environments.

I guess, we should release `community-app` (with Topcoder specific staff excluded, but with more tests, examples and docs added) as starting pack for ReactJS and re-use it in all future projects. Embedin

[2017-03-31 17:03] #1114 closed

[2017-03-31 19:35] ajefts opened #1120 "New Listings - remove pagesize constraint on past challenges"
The past challenges being limited in the api call with pageSize=20.  This prevents the user from seeing more than 20 challenges, regardless of how they filter.

Remove the constraint.  If we need to set some limit for performance reasons, it should be something pretty high.

[2017-03-31 19:54] tladendo commented on #1119
@ThomasKranitsas are you taking a look or should i pull someone else in?

[2017-03-31 19:55] ThomasKranitsas commented on #1119
@tladendo I'm afraid I won't be able to do this today. If you have someone available to do this today please assign it to him/her

[2017-03-31 19:56] tladendo commented on #1118
I have someone looking at this

[2017-03-31 19:57] tladendo commented on #1115
@ajefts not sure i understand, can you provide more details?

[2017-03-31 19:57] tladendo commented on #1101
This is in progress and nearly done, just need to resolve some conflicts

[2017-03-31 19:59] tladendo commented on #1113
got someone looking into this

[2017-03-31 20:01] ajefts opened #1121 "[$20] - New Listing - subtrack not showing all tracks"
![image](https://cloud.githubusercontent.com/assets/3812270/24567159/7cbe0ca8-162a-11e7-9f3d-9e8f2a21c8a0.png)

Where are the subtracks/challenge types getting pulled from?  This is not the full list.  The full set of subtracks should come from:

https://api.topcoder.com/v2/develop/challengetypes
https://api.topcoder.com/v2/design/challengetypes

[2017-03-31 20:03] tladendo commented on #1121
should we use the API or hardcode this?

[2017-03-31 20:06] ajefts commented on #1115
Please load the app in a clean browser and click past challenges in the side bar.  This is what you will get:

![image](https://cloud.githubusercontent.com/assets/3812270/24567482/f27263bc-162b-11e7-9724-298ec4163b9e.png)

[2017-03-31 20:07] ajefts commented on #1121
API

[2017-03-31 20:38] #1108 closed

[2017-03-31 20:40] #1075 closed

[2017-03-31 20:40] #1065 closed

[2017-03-31 20:41] ajefts commented on #1073
Still having some issues with this one...

To reproduce, click Filters when in mobile size and see how the fields are laying out.

![image](https://cloud.githubusercontent.com/assets/3812270/24568698/f0638fc4-1630-11e7-9cc3-2f70e0fb1078.png)

[2017-03-31 20:45] ajefts commented on #1120
Update:  This seems to getting applied when you select Past Challenges in the sidebar and then use the filter at the top.  For example, filter on Subtrack = Code after you select Past Challenges.

![image](https://cloud.githubusercontent.com/assets/3812270/24568812/69f794de-1631-11e7-99ea-b635f34ae7a9.png)

[2017-03-31 21:14] ajefts opened #1122 "[$20] - New Listings - Keywords not showing full list"
This appears to still be using mock data.  This needs to be populated from the API.

Please use https://api.topcoder.com/v3/technologies/

[2017-03-31 21:57] ajefts commented on #1120
I found at least part of the issue to be in ChallengeFiltersExample.jsx

it's making explicit calls to the past challenge apis with 20 set.  I bumped it up to 100 (the max allowed pagesize in the api for now, but this needs to be improved.  This should be calling the API based on the filter criteria.  Especially for past challenges, infinite scroll will be pointless if it doesn't refetch from the

[2017-04-01 01:49] vic-topcoder opened #1123 "[$15] - Layout break points issues"
Current layout break points are not right. We split the card into 2 lines way too early (bellow 1280), while this behavior should happen under < 1023.

Expected:
![screen shot 1](https://cloud.githubusercontent.com/assets/8484061/24574125/bf82cea8-1642-11e7-8d27-a0c654edbb8d.png)

Current:
![screen shot 3](https://cloud.githubusercontent.com/assets/8484061/24574126/c4000518-1642-11e7-9901-5af6211f

[2017-04-01 12:31] tladendo commented on #1120
this might be fixed by the infinite list patch. I'll get it merged in today but I need to look at it a bit more. I think it may break some styling...

[2017-04-01 12:40] tladendo commented on #1115
@ajefts sorted descending on what basis?

[2017-04-01 12:48] #1116 closed

[2017-04-01 12:51] ajefts opened #1124 "[$10] New Listing - Open for Review changes"
On the "All Challenges" view, hide the "Open for Review" section.

Also, in the sidebar please change the behavior of the "Open for review" link so it loads https://www.topcoder.com/review/development-review-opportunities/.

![image](https://cloud.githubusercontent.com/assets/3812270/24578866/3cba22c0-16b8-11e7-9957-b91dcb18bf33.png)

[2017-04-01 12:53] #1103 closed

[2017-04-01 12:55] #1079 closed

[2017-04-01 12:57] #1076 closed

[2017-04-01 12:57] #1074 closed

[2017-04-01 12:58] ajefts commented on #1115
Most recently completed challenges should be at the top.

[2017-04-01 13:06] ajefts opened #1125 "[$25] New Listings - If checkpoint phase is open"
Is a challenge has a Checkpoint phase for design challenges, we're currently showing the Submission phase as the current phase on the timeline.  This is because both the Checkpoint phase and Submission phase are open at the same time.  We need to make this logic a little smarter.

If Checkpoint and Submission are both active phases, then we need to show the Checkpoint phase as the current phase on

[2017-04-01 13:10] ajefts opened #1126 "[$5] New Listings - Clicking My Challenges not working"
When you click My Challenges in the sidebar, it is not loading anything.  It should be loading the My Challenges view for the challenges that I'm participating in.

![image](https://cloud.githubusercontent.com/assets/3812270/24579006/073a1c6a-16bb-11e7-85a0-c434aa3ba6da.png)

[2017-04-01 13:11] ajefts opened #1127 "$[5] New Listings - remove count on past challenges in sidebar"
Remove the count from the past challenges in the sidebar.

![image](https://cloud.githubusercontent.com/assets/3812270/24579026/3b08e24c-16bb-11e7-92e5-e3775118983a.png)

[2017-04-01 13:15] ajefts opened #1128 "[$5] New Listing - RSS link not set"
The "Get the RSS" link in the sidebar footer should be opening https://feeds.topcoder.com/challenges/feed?list=active

![image](https://cloud.githubusercontent.com/assets/3812270/24579039/805f7e64-16bb-11e7-9f64-1ae800c2ff24.png)

[2017-04-01 13:29] ajefts opened #1129 "[$10] New Listing - count for open challenges"
This count in the sidebar for "Open for registration" vs. the # of challenges listed is off. I think the could is excluding the Marathon (MM) matches.  Please make sure marathon matches are included in the count.

![image](https://cloud.githubusercontent.com/assets/3812270/24579155/b7894292-16bd-11e7-9900-2d5d6a0b2ae5.png)

[2017-04-01 13:32] ajefts opened #1130 "[$10] New Listings - All Challenges count"
Exclude the past challenges count from the All Challenges count.

The All Challenges count should be equal to the sum of "Open for  Registration" + "Ongoing challenges".

![image](https://cloud.githubusercontent.com/assets/3812270/24579171/04531f6c-16be-11e7-8d95-e99ff7aadf01.png)

[2017-04-01 17:43] tladendo commented on #1101
@vic-topcoder I've deployed what's been submitted, can you take a look in dev?

[2017-04-01 17:47] k-tempest commented on #1128
Can I work on this one? I don't have permission to assign myself.

[2017-04-01 18:46] tladendo commented on #1128
@k-tempest I couldn't add you right now, but I assigned myself in your place (I'm the copilot). Please start working on it and we'll get you in the system as soon as we can.

[2017-04-01 18:52] ajefts commented on #1128
@k-tempest I invited  you, so you should be able to assign yourself now.  Thanks.

[2017-04-01 19:04] tladendo opened #1131 "[$20] - New Listings - Console errors"
In the dev environment, we have an error that looks like:

`undefined:1 Uncaught (in promise) TypeError: Failed to fetch(…)`

This shouldn't be happening. But its cause is unclear.

[2017-04-01 19:07] tladendo commented on #1113
@ajefts don't add this to the bug bash, i have a patch already. Just waiting for a conflict resolve

[2017-04-01 19:09] k-tempest commented on #1128
@tladendo @ajefts thank you.
Unfortunately, I still cannot assign myself although I'm in the competitors group

[2017-04-01 19:20] tladendo opened #1132 "[$30] - New Listings - Add search term to URL params"
The listings page has a free-form text search field that operates independently of filters. Right now, it isn't included in the URL params. It should be added to URL params so users can deep link to their searches. (It should still be independent of filters, though, and clearing filters shouldn't clear the search term.)

[2017-04-01 19:21] ajefts commented on #1128
ok, I assigned you.  I think I fixed the perms too so you can assign yourself going forward.  Thanks!

[2017-04-01 20:12] vic-topcoder commented on #1117
That's great, Sergey! Thanks for the amazing explanation! 👍 🥇

[2017-04-01 20:20] vic-topcoder opened #1133 "Layout rendering performance issues"
Current rendering on challenge listings is not optimized. Initial load, clicking on side navigation, reordering  - all have a significant delay (2-4s). This is caused by layout trashing, heavy calculations and scripting. We need to update the components used to not cause recalculating. The initial research on performance in chrome dev tools timeline shows a lot of the problems happen with recalcul

[2017-04-01 20:23] vic-topcoder commented on #1133
All, I think your expert knowledge can help in this case - that's why I add you all to the ticket. Any suggestions on how to better do the stack and optimize the rendering would be great. I saw something like recalculating the absolute position of each tooltip for each card, which was crazy! We should really optimize the rendering, as this would destroy the user experience on the page. I cannot im

[2017-04-02 00:06] k-tempest commented on #1127
Sorry, I mistyped issue number

[2017-04-02 01:45] shizhouxing commented on #1130
@tladendo How to load the listing page? I can't see any challenges at local.topcoder-dev.com:3000/listings. Thank you.

[2017-04-02 05:45] shubhendusaurabh commented on #1078
https://github.com/appirio-tech/react-components/pull/169

[2017-04-02 06:01] daft300punk commented on #1107
Please assign me this, topcoder handle: daft300punk. Have figured out the problem, will send PR soon.

[2017-04-02 06:44] shizhouxing commented on #1126
It seems this issue is the same as #1107.

[2017-04-02 07:00] shizhouxing commented on #1077
Where are "challenges/SRM" tabs? I can only see a single challenge tab. When I click on it, the page won't reload.

![wx20170402-145943](https://cloud.githubusercontent.com/assets/11014212/24585116/0bae784a-17b5-11e7-87b5-649d8e090ace.png)

[2017-04-02 07:14] daft300punk commented on #1126
Is this solved? If not, can you assign me this?

[2017-04-02 07:16] shizhouxing commented on #1126
@daft300punk Sorry it seems I don't have permission to do this.

[2017-04-02 07:23] daft300punk commented on #1126
@ajefts Can you give me permission to collaborate?

[2017-04-02 08:25] shizhouxing commented on #1119
Some questions:

"Split active from past challenges"
Isn't it already splited?

"Add the footer as long pages won't allow the users to reach the footer easily;"
Sticky footer?

[2017-04-02 18:49] tladendo commented on #1115
@shizhouxing You've marked many issues "READY FOR REVIEW" but I don't see any PRs from you. What's going on? If you're not working on the issues, please set them to "OPEN FOR PICKUP"

[2017-04-02 18:51] tladendo commented on #1119
It's not already split. They need to be separate columns in the sidebar.

@vic-topcoder what's the thing about the footer?

[2017-04-02 20:20] tladendo commented on #1122
@shizhouxing left comment in PR about environments

[2017-04-02 20:21] tladendo commented on #1121
@shizhouxing Left comment in PR about environments

[2017-04-02 20:28] tladendo commented on #1124
@shizhouxing see comment on PR

[2017-04-02 20:32] tladendo commented on #1078
@vic-topcoder can you review this in dev and confirm that the behavior is correct now?

[2017-04-02 21:20] tladendo commented on #1118
submitter is focusing on another issue -- added to bb

[2017-04-02 23:44] shizhouxing commented on #1115
@tladendo My PRs are at react-components repo.

[2017-04-03 02:11] shizhouxing commented on #1121
@tladendo Updated.

[2017-04-03 02:17] shizhouxing commented on #1122
@tladendo Updated.

[2017-04-03 03:26] shizhouxing commented on #1124
@tladendo updated.

[2017-04-03 05:55] shizhouxing commented on #1119
@tladendo @vic-topcoder  There is no footer in spec, but there is already one in the current code.

[2017-04-03 06:16] shizhouxing commented on #1119
@vic-topcoder

"Increase distance between challenges and filters"

What distance were you referring to? I can't see the difference between current code and spec. Could you please point it out in the image? Thank you.

[2017-04-03 14:02] #1113 closed

[2017-04-03 14:45] #1130 closed

[2017-04-03 14:47] #1128 closed

[2017-04-03 14:47] #1127 closed

[2017-04-03 14:49] Gauravseta commented on #1128
Can i participate in this challenges?

[2017-04-03 14:49] #1121 closed

[2017-04-03 15:02] ajefts opened #1135 "[$10] New Listings - sort subtracks in filter"
Please sort the subtracks in the filter alphabetically (ascending).

![image](https://cloud.githubusercontent.com/assets/3812270/24615693/fb750748-185c-11e7-9f36-3d591f395d20.png)

[2017-04-03 15:11] ajefts commented on #1107
@daft300punk I've updated your permissions.  Please submit your fix as soon as you can.  Thanks!

[2017-04-03 15:11] #1126 closed

[2017-04-03 15:21] tladendo commented on #1133
@vic-topcoder Can we pick a few really specific things to optimize? I messed a little bit with the timeline stuff but I'm still not sure I really know what I'm looking for. Maybe the timeline tooltips? And are you seeing the same problem with the sidebar?

[2017-04-03 17:11] ajefts opened #1136 "[$5] New Listings - remove counts from My Filters"
Remove the counts from the My Filters section.  It's not calculating the count until you click on them, so let's just remove the counts to avoid confusion.

![image](https://cloud.githubusercontent.com/assets/3812270/24621312/035c3da2-186f-11e7-93cb-f0cb38f08704.png)

[2017-04-03 19:12] ajefts opened #1137 "[$10] New Listing - Add SRM tab back in with link"
Please add the SRM tab back tot he top of the listings page but instead of loading the tab just link it to arena.topcoder.com in a new browser window.

This is the PR that hid it:  https://github.com/appirio-tech/react-components/pull/151/files

[2017-04-03 19:14] ajefts opened #1138 "[$15] New Listings - prize overlap on smaller screens"
Please see this screenshot:
![image](https://cloud.githubusercontent.com/assets/3812270/24626716/32dd23c8-1880-11e7-9227-8e3ea851a07a.png)

Notice as you shrink the browser size the prize overlaps the other elements.

[2017-04-03 19:33] chq-matteo commented on #1110
Can I be assigned to this issue please?

[2017-04-03 20:35] Gauravseta commented on #1138
Can you please assign this to me?

[2017-04-03 20:38] Gauravseta commented on #1138
How to self assign? I am not able to see any such link or button.

[2017-04-03 20:47] vic-topcoder commented on #1119
@shizhouxing - the footer under the side navigation is the one available in code. The reason is that with a very long list people might not be able to scroll to the current footer of the page. The RSS link in the current code must be brought back into the side navigation, as it is connected to the challenges, not generic RSS feed.

[2017-04-03 20:48] Gauravseta commented on #1138
Please dont assign it to me..I wont be able to complete.

[2017-04-03 20:49] vic-topcoder commented on #1101
Yes, looks good so far. When can we expect the rest of the fixes?

[2017-04-03 20:51] ajefts opened #1140 "[$15] New Listings - All Challenges getting added as a filter item"
For some reason, "All Challenges" is listed in My Filters.  However, I don't have a filter with that name.  It's causing issues especially when you link directly to a page that is filtered like this:

https://www.topcoder.com/listings/#&tracks=design&mode=6&name=All%20Challenges

Instead of loading the standard page filtered on Design challenges only, it loads the "All Challenges" filter view...wh

[2017-04-03 20:57] #1073 closed

[2017-04-03 20:59] #1078 closed

[2017-04-03 21:00] #1115 closed

[2017-04-03 21:04] ajefts commented on #1122
@shizhouxing  This doesn't seem to be working.

@tladendo Is the latest merged for this?

[2017-04-03 21:05] #1125 closed

[2017-04-03 21:05] #1129 closed

[2017-04-03 21:14] ajefts commented on #1119
Hi guys,

Is there more info we need for this one?

I think we're functionally close to what we need, but we need to design updates.

@vic-topcoder I'm not crazy about the updated naming.  I'd leave it as is for now :)

[2017-04-03 21:30] vic-topcoder opened #1141 "[$5] Hide "Feedback" widget"
Let's remove the Usersnap feedback widget. We had it only for the Alpha version, so in prep for production we don't need it anymore.

![screen shot 2](https://cloud.githubusercontent.com/assets/8484061/24632721/18520934-187a-11e7-9183-fa2a9a7a434f.png)

[2017-04-03 21:30] Gauravseta commented on #1140
@ajefts Request you help me. How can i get acess to assign myself if i wish to solve an issue.

[2017-04-03 21:44] Gauravseta commented on #1141
@vic-topcoder request you to provide self assigning rights.I do wish to solve issue.

[2017-04-03 21:56] Gauravseta commented on #1140
@ajefts Sir please guide.Cant i receive any issue to solve?

[2017-04-03 23:53] ajefts commented on #1140
Hi @Gauravseta.  I've invited you to the team so you can work on these.  Thanks!

[2017-04-04 00:28] daft300punk commented on #1107
here - https://github.com/appirio-tech/react-components/pull/179

[2017-04-04 00:47] daft300punk commented on #1107
here - https://github.com/appirio-tech/react-components/pull/180

[2017-04-04 01:00] shizhouxing commented on #1122
@ajefts It works well here:

![wx20170404-085921](https://cloud.githubusercontent.com/assets/11014212/24637612/1220e422-1915-11e7-87eb-5f4c66e17d31.png)

Please check it again.

[2017-04-04 13:24] tladendo opened #1142 "[$5] - New Listings - Sidebar should be level with challenge listings"
Some new changes knocked the alignment of these two off.

[2017-04-04 14:02] Gauravseta commented on #1140
@ajefts I am still not able to assign issue to myself..Please help..

[2017-04-04 14:06] Gauravseta commented on #1142
@tladendo I am not able to assign this issue to myself..Please invite me to team..Thanks..Please reply

[2017-04-04 14:10] Gauravseta opened #1143 "Unable to self assign issue."
Please help me.Please take me in team.Thank you

[2017-04-04 15:20] #1143 closed

[2017-04-04 15:21] Gauravseta commented on #1142
@tladendo I found the link to accept the invitation which was sent by @ajefts .Thanks @ajefts

[2017-04-04 17:34] ajefts commented on #1122
@tladendo Can you please check this one?  It's not working in dev:  https://www.topcoder-dev.com/listings/

[2017-04-04 17:37] ajefts commented on #1122
The api call is being made like this:  https://www.topcoder-dev.com/undefined/technologies/

[2017-04-04 17:54] ajefts commented on #1141
@Gauravseta You should be able to assign yourself now, right?

[2017-04-04 18:27] Colinh84 commented on #1132
PR: https://github.com/appirio-tech/react-components/pull/192

[2017-04-04 19:11] vic-topcoder commented on #1133
The quickest way to test is to disable the tooltip. Currently, the tooltip recalculates sizes even when it is invisible, which amounts to those loading problems. Can we try with a different tooltip component, as the one we currently use probably won't be easy to change.

[2017-04-04 19:38] vic-topcoder commented on #1133
![pasted_image_at_2017_04_04_12_33_pm](https://cloud.githubusercontent.com/assets/8484061/24675279/6296f0d6-1933-11e7-9ec3-4563716cada7.png)
We should disable the calculation of all tooltip instances unless the user hovers on a trigger, and then calculate. This calculation on a large scale is what kills the performance.

[2017-04-04 22:03] tladendo commented on #1138
@shizhouxing your fix moves prize to far to the left for mobile view. compare with the current styling.

[2017-04-04 22:24] tladendo commented on #1110
@chq-matteo i'm assuming this one was ready for review, since your PR worked

[2017-04-04 23:57] shizhouxing commented on #1122
@ajefts That's strange. It works well under both dev and prod here. I can't see the incorrect api call mentioned by you. My own branch used to test it: https://github.com/shizhouxing/react-components/tree/issue-1122.

![screen shot 2017-04-05 at 7 54 39 am](https://cloud.githubusercontent.com/assets/11014212/24683961/39cdfa1c-19d5-11e7-87d1-24f41432d479.png)

[2017-04-04 23:59] shizhouxing commented on #1136
PR merged: https://github.com/appirio-tech/react-components/pull/181

[2017-04-05 05:18] shizhouxing commented on #1138
@tladendo Updated.

[2017-04-05 05:33] shizhouxing commented on #1122
@ajefts This issue does exist in tom-styling-fixes branch now. But it's caused by @tladendo 's commit : https://github.com/appirio-tech/react-components/commit/4174e0f765ac65ba16ea063f6feef9074f77239f#diff-ae29fea0f0457235ad94a5a060d669fd

@tladendo It seems `API_URL_V3` doesn't exist as a constant. It's `API_URL` that refers to v3 api. So I think changing `API_URL` to `API_URL_V3` is incorrect he

[2017-04-05 05:42] chq-matteo commented on #1110
@tladendo Yeah sorry I don't have the permission to change labels.

[2017-04-05 10:44] pfilippi24 opened #1148 "Can't see the forum link at all on the challenge details page, even after refreshes"
Starting today the forum link doesn't appear on the challenge details page even after refreshing the page multiple times.

![image](https://cloud.githubusercontent.com/assets/4476695/24702071/76967f3c-19fd-11e7-9c8c-655ea8006936.png)

[2017-04-05 11:48] chq-matteo commented on #1077
Can you assign me to this issue? I know how to solve this

[2017-04-05 12:26] chq-matteo commented on #1077
Can anybody label this as waiting for review? I don't have the permission to do that.

[2017-04-05 12:34] chq-matteo commented on #1077
Thank you

[2017-04-05 15:08] ajefts opened #1150 "[$10] New Listings - Past Challenges end date and sorting"
The end date on the past challenges needs a space between the "Ended" and the date:

![image](https://cloud.githubusercontent.com/assets/3812270/24712179/2035c1aa-19f0-11e7-800e-28c767109082.png)

Also, the Marathon Matches are getting added to the bottom of the list.  Can we get them sorted along with the design and dev challenges?

[2017-04-05 15:08] ajefts commented on #1150
fyi @tladendo

[2017-04-05 15:22] ajefts opened #1151 "[$5] New Listings - set register link"
The Register  button at the end of the challenge card should take the user to the challenge details.  Same link that the challenge title uses.

![image](https://cloud.githubusercontent.com/assets/3812270/24712882/1ab0587e-19f2-11e7-9c6f-44f3a109a5c8.png)

[2017-04-05 15:46] chq-matteo commented on #1151
Can you assign me this issue please?Can you assign me this issue please?

[2017-04-05 15:55] ajefts commented on #1151
@chq-matteo I sent you a team invite.  Please accept and then you should be able to assign it.

[2017-04-05 15:56] #1142 closed

[2017-04-05 15:56] #1138 closed

[2017-04-05 15:57] #1135 closed

[2017-04-05 15:57] #1137 closed

[2017-04-05 15:58] chq-matteo commented on #1151
Thanks

[2017-04-05 15:59] #1123 closed

[2017-04-05 16:01] ajefts opened #1152 "[$5] New Listing - sizing of boxes on responsive view is off"
One of the recent fixes seems to have broken the alignment of the sidebar panel and the listing when you are in responsive layout.

![image](https://cloud.githubusercontent.com/assets/3812270/24714808/8defba00-19f7-11e7-81a4-357f0e7998ca.png)

[2017-04-05 16:01] #1118 closed

[2017-04-05 16:02] #1110 closed

[2017-04-05 16:02] #1107 closed

[2017-04-05 16:04] ajefts commented on #1077
After review, clicking the Challenges tab is taking the user to the homepage.

[2017-04-05 17:02] sharathkumaranbu opened #1153 "Active challenge listed as stalled challenge"
There is an active challenge which is listed as stalled challenge in new listings page.

Please find below.

Actual Challenge page:

![image](https://cloud.githubusercontent.com/assets/7723558/24717305/9efbc8cc-1a4f-11e7-85a3-5d7bdcb4b167.png)

Topcoder listing page:

![image](https://cloud.githubusercontent.com/assets/7723558/24717334/b92bb946-1a4f-11e7-9188-d5909a63258e.png)

[2017-04-05 18:15] ajefts commented on #1153
Hi @sharathkumaranbu

Can you show me your url and sidebar?  II'm not seeing the same as you, but it could be a filtering bug.

Thanks.

![image](https://cloud.githubusercontent.com/assets/3812270/24720229/53eb75de-1a0a-11e7-9f4d-c2ac70c7cb57.png)

[2017-04-05 18:27] sharathkumaranbu commented on #1153
Now when I check it, it's fine. I don't know what happened.

Initially I clicked on My Challenges, as you see on the ticket.

[2017-04-05 19:13] #1153 closed

[2017-04-05 19:34] #1141 closed

[2017-04-05 20:37] ajefts opened #1154 "[$50] - New Listings - Add section for Upcoming Challenges"
Add a section that is just like Ongoing challenges, except it will be labeled "Upcoming challenges" and will retrieve upcoming challenges from the API.

Put this section at the end after Open for Review.

[2017-04-05 20:53] ajefts opened #1155 "[$5] New Listings - sidebar footer links"
Please add the proper url targets for the footer links in the sidebar.  They should match the footer URLs you see on https://www.topcoder-dev.com/my-dashboard.  Also, remove the "More" item.

![image](https://cloud.githubusercontent.com/assets/3812270/24726417/5022a9a2-1a20-11e7-80da-55bd31c2e5a1.png)

[2017-04-05 21:11] ajefts opened #1156 "[$10] New Listings - move My Challenges to the top"
Move the My Challenges bucket to the top of the page. So, order should be:

My Challenges
Open for Reg
Ongoing
Past
....

[2017-04-07 00:54] birdofpreyru opened #1161 "New Listings - A problem with track switches"
Steps to reproduce:
1. Go to the new listing page;
2. Switch off Design and Data Science track switches;
3. Reload the page (the state of switches will persists and you'll see dev challenges only);
4. Switch on the Design switch. No design challenges will appear until you reload the whole page!

[2017-04-07 00:58] birdofpreyru opened #1162 "New Listings - Winners problem"
When you hover `winners` label on a past challenge in the new listing:
1. All appearing winners are labeled as 1-st place winners!
2. For those having avatars, the avatar is shown only inside the tooltip, the avatars inside challenge card stay without photo.

[2017-04-07 03:06] ajefts opened #1163 "[$30] New Listing - Active Marathon matches are not showing"
There are 2 active matches in prod that aren't showing on the new listings page.  I believe this was broken in a recent update.

I can see the API calls in the console returning the 2 marathon matches.  I can also see that the past marathon matches are displaying.  So, I believe it's an issue with the front end logic.

[2017-04-07 03:07] ajefts opened #1164 "[$20] New Listing - My Challenges aren't showing all challenges"
The My Challenges view in the new listings is not showing all challenges.  Compare to https://www.topcoder.com/my-dashboard/ to see the difference.

[2017-04-07 03:12] ajefts commented on #1163
@shubhendusaurabh @ThomasKranitsas @birdofpreyru @shizhouxing @Colinh84 @chq-matteo Looking for a quick fix on this one if you can....

Also for this one:  https://github.com/appirio-tech/topcoder-app/issues/1164

[2017-04-07 04:16] shubhendusaurabh commented on #1163
@ajefts in which list these marathon matches should show up? "Open for registration" or "Ongoing challenges"?

[2017-04-07 05:41] appirio-jenkins commented on #1163
The are open for registration now.  I also don't see them in My Challenges,
and I'm registered for one.

On Fri, Apr 7, 2017 at 12:16 AM, Shubhendu <notifications@github.com> wrote:

[2017-04-07 05:45] ajefts commented on #1163
if you look in the console, you can see them getting returned in the api calls...

https://api.topcoder.com/v2/data/marathon/challenges/?listType=active

[2017-04-07 06:07] chq-matteo commented on #1163
@ajefts @appirio-jenkins I think I know the solution, how many challenges are you registered in? It would also solve the other open issue #1164

[2017-04-07 06:22] shubhendusaurabh commented on #1163
appirio-tech/react-components/pull/207

[2017-04-07 13:28] ajefts commented on #1164
@Colinh84 This didn't seem to fix the issue.  I currently have 11 challenges on https://www.topcoder.com/my-dashboard/ and only 8 My Challenges on the listings.

My Dashboard:

![image](https://cloud.githubusercontent.com/assets/3812270/24802040/76054530-1b74-11e7-8a7c-d378852f0763.png)

My Challenges:

![image](https://cloud.githubusercontent.com/assets/3812270/24802080/92e767a0-1b74-11e7-93a9-f4

[2017-04-07 13:31] ajefts commented on #1163
@shubhendusaurabh Thanks for the fix.  It looks to be working.

Since this was outside the timeline of the official bug bash, I can't count it towards that but you'll definitely still get the payment for this one directly.

[2017-04-07 13:31] #1163 closed

[2017-04-07 13:33] ajefts commented on #1163
Challenge created successfully
Challenge Url: https://www.topcoder.com/challenge-details/30057145/?type=develop&noncache=true

[2017-04-07 13:48] ajefts opened #1167 "[$30] - New Listing - clean up constants"
I've noticed quite a few cases of using hardcoded constants for things like api urls.  These need to all be part of config and able to be different for dev/qa/prod environments.

For example, right now, a search of the /components folder in react-components returns about 20 results. All of these should be determined dynamically, using props like MAIN_URL.

[2017-04-07 13:49] ajefts commented on #1167
@tladendo This might be good for a short cleanup code challenge.  Let's do it soon as I know want it to propagate for too long...

[2017-04-07 15:00] Colinh84 commented on #1164
@ajefts Do you mind checking this one again? I just tested it from the new dev branch and it still works for me - I have 10 challenges registered and loading the local.topcoder.com/challenges/ URL shows 10 challenges under "My Challenges":

![challenges](https://cloud.githubusercontent.com/assets/2287621/24805635/a93914e6-1bdc-11e7-9d63-f438b533bd60.png)

The changes I made are the only places whe

[2017-04-07 16:53] tladendo commented on #1167
@tonyj how about launching another bug bash for cleanup? that way i can just make tasks for all the little outstanding things while also cleaning up other remaining issues

[2017-04-07 17:28] tladendo opened #1168 "[$30] - New Listings - Navigation within listings page"
If you're on the /challenges page, and use the top navigation (Compete > Design, etc.), the URL hash will update, but the page won't update. Ideally, the listings component should update without a page reload.

[2017-04-07 17:34] tladendo commented on #1161
@birdofpreyru I can't reproduce so far. Are you still seeing this? Any other info?

[2017-04-07 17:35] tladendo commented on #1162
@vic-topcoder I'd like to add this to the bash, how should we change this?

[2017-04-07 17:48] ajefts opened #1169 "[$15] - New Listings - filter and search glitch"
Sky_ reported this issue. Users who do a search and then navigate to the "Open for registration" tab will encounter a glitch with the infinite listings.

  Please see the video...

http://take.ms/gtuqh

[2017-04-07 17:48] ajefts commented on #1169
fyi @tladendo

[2017-04-07 18:08] tladendo opened #1170 "[$20] - New Listings - Remove "Open for Review" bucket"
Since this is now linked to another page, we shouldn't have a bucket in the listings. This shouldn't be displayed at all -- though the sidebar link should remain.

[2017-04-07 18:36] tladendo opened #1171 "[$15] - New Listings - Should be able to expand keyword lists"
Long keyword lists will have a little number indicated the amount of extra keywords that can't be shown (e.g., "+5"). This should be expandable. Right now it isn't.

[2017-04-08 05:57] bkavita commented on #1171
Not able to assign the bug. Please grant the access.

[2017-04-08 09:57] Gauravseta opened #1172 "Unable to build locally."
Constantly I am getting below error while running commands as mentioned in Readme.
Note : npm and node versions are correct.
below is data from log file

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'build' ]
2 info using npm@3.7.3
3

[2017-04-08 12:47] birdofpreyru commented on #1161
@tladendo Yes, I still see the issue. Here is the video: https://youtu.be/6xxYF7g3pCU

[2017-04-08 13:36] mohhasbias commented on #1171
how to assign the bug?

[2017-04-08 13:38] chq-matteo commented on #1172
try with an ubuntu-based os

[2017-04-08 13:40] chq-matteo commented on #1171
click on the gear icon near 'Assignees'

[2017-04-08 13:58] mohhasbias commented on #1171
there is no gear.
![image](https://cloud.githubusercontent.com/assets/2347137/24829549/1d6e5170-1c9e-11e7-886f-b4f6c80825ef.png)

maybe i miss something...

[2017-04-08 14:23] chq-matteo commented on #1171
Ah you are not in this repository team yet, I don't know if @bkavita is still looking for a fix

[2017-04-08 14:27] bkavita commented on #1171
Yes I am still waiting for someone to grant me access :)

[2017-04-08 14:28] bkavita commented on #1171
@tladendo, @ajefts - pls grant the access.

[2017-04-08 14:36] chq-matteo commented on #1171
@bkavita if you think you can solve this in 24h I'll label this issue as 'In progress', when you are done submit a pull request linking this issue and I'll label it as 'waiting for approval'

[2017-04-08 17:01] tladendo commented on #1164
@ajefts Since this came down to an API issue, should we pay this one out?

[2017-04-08 17:06] tladendo commented on #1172
question: does react-components build for you?

[2017-04-08 17:16] tladendo opened #1173 "[$10] - New Listing - Sorting when using track switches"
If you switch the track switches on and off, the sorting will alternate between displaying "Select..." and "Most recent." This should stay consistent while hitting the track switches.

[2017-04-08 17:18] tladendo opened #1174 "[$5] - New Listing - "x" off-center on keywords and subtracks"
The "x" is too high on subtracks and keywords once they've been selected.

[2017-04-08 17:21] tladendo opened #1175 "[$5] - New Listings - Winners lists should link to member profiles"
This is for past challenges only.

[2017-04-08 23:36] ajefts commented on #1171
@bkavita and @mohhasbias I sent you both an invite.  Thanks!

[2017-04-09 01:06] mohhasbias commented on #1171
@ajefts thank you for the invite

[2017-04-09 06:27] Gauravseta commented on #1172
react components are visible in my directory "node_modules".

[2017-04-09 07:08] mk7293 commented on #1169
@tladendo, @ajefts - pls grant the access.

[2017-04-09 09:11] mohhasbias commented on #1169
may I change the assignee?

[2017-04-09 09:12] mohhasbias commented on #1169
the label is ```OPEN FOR PICKUP``` but the assignee is not released yet.

[2017-04-09 09:46] shubhendusaurabh commented on #1167
appirio-tech/react-components/pull/213 and appirio-tech/webpack-config/pull/34

[2017-04-09 15:13] chq-matteo commented on #1161
@tladendo @birdofpreyru is this issue going to get a bounty?

[2017-04-09 16:28] Gauravseta commented on #1171
@tladendo ..I know wherechanges are to be done.I just need some more time.

[2017-04-09 19:25] chq-matteo commented on #1168
Notice that both pull requests are needed for this fix to work.

[2017-04-09 19:28] chq-matteo commented on #1161
Anyways I believe that I solved this issue while I was working on [Issue #1168](https://github.com/appirio-tech/topcoder-app/issues/1168)

[2017-04-09 19:28] chq-matteo commented on #1168
I think that these patch will fix also #1161

[2017-04-09 21:05] tladendo commented on #1172
many of the issues can be fixed using just the react-components repo. only a couple need topcoder-app.

are you using nvm for your node version?

[2017-04-09 21:06] tladendo commented on #1171
@Gauravseta if no one else assigns you can pick it up again

[2017-04-09 21:07] tladendo commented on #1169
@mohhasbias @mk7293 the assignee is released

[2017-04-10 02:19] mk7293 commented on #1169
@tladendo, @ajefts Still, I think I dont have permission. I cant able to add me in the assignees.

[2017-04-10 10:27] tladendo commented on #1155
bug bash 2

[2017-04-10 10:43] #1168 closed

[2017-04-10 10:51] ajefts commented on #1169
Hi @mk7293 I sent you an invite for access.  Welcome to the Bug Bash :)

[2017-04-10 16:26] tladendo opened #1177 "[$20] - New Listings - Keyword tag filtering doesn't work"
Clicking on the little keyword tags on the challenge cards doesn't work anymore -- but they should.

[2017-04-10 16:37] ajefts commented on #1154
fyi @tladendo I updated the description

[2017-04-10 16:49] tladendo commented on #1154
The "upcoming" endpoint looks like this: http://api.topcoder.com/v2/challenges/upcoming?type=develop

For more details, see the [Apiary doc](http://docs.tcapi.apiary.io/#reference/software-challenges/search-upcoming-software-challenges/search-upcoming-software-challenges).

[2017-04-11 10:11] chq-matteo commented on #1077
@ajefts was this issue fixed?

[2017-04-11 14:16] ajefts commented on #1077
@chq-matteo Yes, this one is done.

[2017-04-11 14:16] #1077 closed

[2017-04-11 16:14] tladendo commented on #1175
@shubhendusaurabh please see the comment on the PR ticket

[2017-04-12 10:13] tladendo commented on #1169
@mk7293 self-assignment is for 24 hours. Please wrap up the ticket or unassign yourself

[2017-04-14 20:20] ajefts commented on #1164
Yes, please.  Let's close it out.  It's actually related to private tasks, but let's close this and payout the fix.  Thanks.

[2017-04-20 07:37] Sande3p opened #1178 "Incorrect review phase progress"
The review phase progress appears to be buggy ref: https://gyazo.com/6d3daa63472aa3a65804bd2b81b512c2

[2017-04-20 20:51] ajefts opened #1179 "Remove items from Compete header"
Remove the sub items from the Compete top nav and make it so clicking "Compete" takes you to the /challenges page.  Let's make sure this still remains mobile friendly.

[2017-04-20 20:52] ajefts commented on #1179
@birdofpreyru want to do a F2F for this one?

[2017-04-21 01:13] birdofpreyru commented on #1179
@ajefts: Yeap, I can take care about it.
A question though: what about the `Competitive Programming` item in `Compete` sub-menu (takes to `arena.topcoder.com`)? Should we leave the sub-menu, and just replace four other items (`All Challenges`, `Design Challenges`, `Development Challenges`, `Data Science Challenges`) by a single item, say `Active Challenges`?

[2017-04-21 04:23] Gauravseta commented on #1179
No money? No labels for this?

[2017-04-21 09:40] birdofpreyru commented on #1179
@Gauravseta I'll open a dedicated F2F challenge as soon as @ajefts confirms the details.

[2017-04-21 13:18] ajefts commented on #1179
The original idea was to use the /challenges page for nav to all the different tracks, including competitive programming.  We have the SRM tab on there that takes you to arena.topcoder.com and eventually will populate the page with SRMs.

However, I can see now that it's probably not obvious to users and people that don't know what SRM is would be lost.  So, let's keep your idea for now.  All Chal

[2017-04-21 13:23] ajefts opened #1180 "Marathon links for registrants and submitters wrong on past challenges."
On https://www.topcoder.com/challenges/#&tracks=datasci&mode=6&name=Past%20challenges, if you look at the links for the registrants and submissions on the "MM" challenges, they are wrong.  They need to go to links like this:

Registrants:  https://community.topcoder.com/longcontest/?module=ViewRegistrants&rd=16903
Submissions:  https://community.topcoder.com/longcontest/?module=ViewStandings&rd=16

[2017-04-21 13:23] ajefts commented on #1180
@birdofpreyru Here is another easy one.

[2017-04-21 18:37] birdofpreyru commented on #1179
UPDATE: F2F is scheduled and will go live soon: https://www.topcoder.com/challenge-details/30057344/?type=develop&noncache=true

[2017-04-21 18:37] birdofpreyru commented on #1180
UPDATE: F2F is scheduled and will go live soon: https://www.topcoder.com/challenge-details/30057344/?type=develop&noncache=true

[2017-04-23 09:22] birdofpreyru commented on #1180
@ajefts Fixed in https://github.com/appirio-tech/react-components/commit/e41dccd41d890c96cbdce0c2c10aab03e6dd5940
Should be pushed to prod, and we can close the ticket.

[2017-04-23 09:27] birdofpreyru commented on #1179
@ajefts Fixed in these commits:
https://github.com/appirio-tech/tc-site/commit/ae028c249ec507e52a47893f3a746d7c69ba23df
https://github.com/appirio-tech/topcoder-app/commit/9ca6d965a3c28f58c8b195617356f567c341ca62
Though, not fixed in legacy parts of the site, like forum App, may be somewhere else.

[2017-04-27 09:56] LAMBDA01 opened #1182 "build module error,jsx SyntaxError"
[code]

////////////////////////////////// some of the node modules version
[code]

//////////////////////////////node_modules/appirio-tech-webpack-config/webpack.config.coffee
[code]
//////////////////////////////node_modules/appirio-tech-react-components/.babelrc
[code]

//////////////////////////my environment
node v5.12.0
npm v3.8.6
System: Ubuntu 16.04.2 LTS

I also noticed that the apirio-te

[2017-05-02 07:48] #1182 closed

[2017-05-02 14:07] ajefts opened #1183 "Add cognitive to signup skill picker page"
Add the option for Cognitive to the skill picker page when registering (https://www.topcoder.com/skill-picker).  This should behave the same way that Predix does in terms of integrating with mailchimp and our member cert service.

[2017-05-02 14:07] ajefts commented on #1183
@vikasrohit Do you think you could do this one this week?

[2017-05-03 04:47] vikasrohit commented on #1183
@ajefts do you have the program/event id ready?

[2017-05-03 04:56] vikasrohit commented on #1183
I just recalled, we already have the Cognitive in skill picker. 😬

[2017-05-03 15:19] ajefts opened #1184 "Data science filter issue on Upcoming challenges"
If you go to Upcoming Challenges and then filter on "Data Science" at the top, it is NOT including Code challenges that are tagged with technology=Data Science.

This works for active and past challenges, so I think we just missed some logic on the upcoming view.

[2017-05-03 15:20] ajefts commented on #1184
@tladendo Can you run a quick fix for this one please?

[2017-05-03 17:05] #1177 closed

[2017-05-03 17:05] #1175 closed

[2017-05-03 17:05] #1174 closed

[2017-05-03 17:05] #1171 closed

[2017-05-03 17:06] #1170 closed

[2017-05-03 17:06] #1169 closed

[2017-05-03 17:06] #1167 closed

[2017-05-03 17:06] #1164 closed

[2017-05-03 17:06] #1156 closed

[2017-05-03 17:06] #1155 closed

[2017-05-03 17:06] #1152 closed

[2017-05-03 17:06] #1151 closed

[2017-05-03 17:06] #1154 closed

[2017-05-03 20:14] ajefts opened #1185 "Issues reported from DaraK"
Several issues presented in:
https://www.dropbox.com/s/22f29bs2jmagjkj/TC%20Bugs.avi?dl=0

[2017-05-03 20:14] ajefts commented on #1185
fyi @Dara-K I might need your help to describe these...

[2017-05-03 20:17] ajefts opened #1186 "Past challenges listing winner link bug"
Clicking on the "+##" next to the winners is opening an invalid page.  It should just take the user to the winners/results tab of the challenge.

![image](https://cloud.githubusercontent.com/assets/3812270/25679615/eff98944-301b-11e7-91fa-ea2123811a6f.png)

[2017-05-03 20:17] ajefts commented on #1186
fyi @Dara-K

[2017-05-03 20:24] Dara-K commented on #1185
I will describe the items and send in about an hour.

[2017-05-03 20:50] appirio-jenkins commented on #1185
Thanks!

On Wed, May 3, 2017 at 4:24 PM, Dara-K <notifications@github.com> wrote:

[2017-05-03 21:07] Dara-K commented on #1185
The video above shows several issues:
1.	Tooltips shows timeline doesn’t shows phases right. That challenge was has just started and next phase was checkpoint, at the time I did video.
2.	Also as others mentioned, for design if a challenge has passed checkpoint , it should not display under “Open for registration” category, because even if we register to see details. we are not allowed to submit i

[2017-05-03 21:09] Dara-K commented on #1186
Not only that is opening a new page, usually that number is wrong.

Also on your preview there are members who have photos, but those photos are displayed only when hovering the photo placeholder.

[2017-05-03 21:12] Dara-K commented on #1186
On same page, hope I am not mixing issues too much Tony :), if I hover over registrants numbers I get the impression is a link and I click it, but it does nothing. I expected to take me to Registrants tab on challenge details page.

[2017-05-03 21:13] ajefts commented on #1185
awesome.  @tladendo  - please see ^^^^^

[2017-05-08 15:25] ThomasKranitsas opened #1187 "Sorting not working correctly"
Sorting works only on the visible challenges and not in all available challenges.
As a result when sorting challenges with `Prize high to low` I get this http://take.ms/d1p3s even if there are many challenges with prize > $0

fyi @ajefts

[2017-05-08 15:29] sumitdaga opened #1188 "View more challenges seems to ignore top filters"
After clicking on "view more challenges" it does load a full list of challenges but ignores the top level "design, development, data science" filter

[2017-05-08 15:31] ajefts commented on #1187
@tladendo Can you get this fixes along with the v3 migration?

[2017-05-08 15:33] ajefts commented on #1188
@tladendo This one too please...

[2017-05-08 16:39] tladendo commented on #1184
fyi someone is working on this

[2017-05-08 16:42] tladendo commented on #1187
@ajefts do you mean that sorting should apply to challenges that haven't been fetched from the API yet? I think we're going to just have to run a challenge to move more filtering to the backend...should i get that going?

[2017-05-08 16:48] tladendo opened #1189 "Remove checkpointed challenges from "open for registration""
quoting @Dara-K : 'for design if a challenge has passed checkpoint , it should not display under “Open for registration” category, because even if we register to see details. we are not allowed to submit in round 2 if we didn’t submit for checkpoint.'

[2017-05-08 16:49] tladendo commented on #1185
@Dara-K just pushed some updates. are you still seeing (1)?

[2017-05-08 17:37] ajefts commented on #1187
Yes.  For example, if there are 30 challenges open for registration and I sort for most recent first, then it should show the post recent out of the entire 30 challenges even if the UI only supports showing 10 total items...

[2017-05-08 20:30] Dara-K commented on #1185
I cannot really test that exact situation, because on design we don't have any challenge with 2 rounds in round 1 now.  https://www.topcoder.com/challenges/#&tracks=design&mode=7&name=All%20Challenges

The timeline looks wrong for another challenge - check attached
![timeline](https://cloud.githubusercontent.com/assets/25185079/25823765/b7b2881e-3445-11e7-998b-b854eaa2c9d4.png)
It looks like we ha

[2017-05-09 14:17] tladendo commented on #1185
@Dara-K for (4) and (5), were you trying to use filters that you saved before the new challenge details page?

@ajefts is the intuition here correct? Should tracks persist as the user clicks new sidebar filters?

[2017-05-09 16:25] rsial2 commented on #1184
hey @tladendo just checking in on this. when do ya expect a fix to be submitted and deployed?

[2017-05-09 17:08] Dara-K commented on #1185
I used both filters...those with names are saved before, those without (My Filter #) after. As you see when you create a filter there is no option to name it and when I wanted to edit it, I couldn't see any on right column.

[2017-05-11 04:51] vikasrohit opened #1192 "Default cognitive to On in skill picker"
Replicated the issue, https://github.com/appirio-tech/accounts-app/issues/95 for better tracking. fyi @ajefts

[2017-05-11 05:20] vikasrohit commented on #1192
Done. Deployed to prod.

[2017-05-11 05:20] #1192 closed

[2017-05-17 16:58] #1179 closed

[2017-05-17 17:00] ajefts opened #1195 "Some filter params for challenge types are wrong"
When you filter on challenge types, some of the names are not correct which causes 0 results to return.  For example, filtering on Assembly and UI Proto are not using the correct parameters.

Please make sure all of them align properly with the API requirements.

[2017-05-17 17:08] ajefts commented on #1195
fyi, if you change the params in the call the page will return results:

https://www.topcoder.com/challenges/#&challengeTypes=UI%20Prototype%20Competition&tracks=datasci&tracks=design&tracks=develop&mode=6&name=All%20Challenges

https://www.topcoder.com/challenges/#&challengeTypes=Assembly%20Competition&tracks=datasci&tracks=design&tracks=develop&mode=6&name=All%20Challenges

[2017-05-18 12:45] ajefts opened #1196 "keyword search isn't working"
Searching on a term using the filter isn't working on challenge listings

[2017-05-18 12:45] ajefts commented on #1196
fyi @tladendo

[2017-05-19 09:06] tladendo commented on #1188
@ajefts should the track filters also be preserved when switching between side filters?

[2017-05-22 13:23] ajefts commented on #1188
Yes, please

[2017-05-25 23:37] ajefts opened #1199 "Dashboard Not Showing SRM's correctly"
Today is 05/25, but the dashboard indicates that it "starts in 5 days", but the date presented is 05/20.

![image](https://cloud.githubusercontent.com/assets/5807576/26472096/3864202c-416a-11e7-962d-971c7d95732a.png)

[2017-05-25 23:38] ajefts commented on #1199
fyi @rsial2

[2017-06-07 14:45] ajefts opened #1207 "Profile stats don't show sometimes"
It seems that very often when you load a profile page, the stats section does not display.  If you  refresh the page, then it does display.

![image](https://user-images.githubusercontent.com/3812270/26884722-73f95f5e-4b6e-11e7-9309-3f587a5a4726.png)

[2017-06-07 14:46] ajefts commented on #1207
@tladendo Here is a one-off issue we need fixed.

[2017-06-08 08:54] harshitmehta123 opened #1208 "Broken Link on Data Science Page"
The link is broken : https://www.topcoder.com/member-onboarding/competing-in-data-science-challenges-marathon-matches/

Found the link on:  https://www.topcoder.com/community/data-science/

[2017-06-08 13:52] ajefts commented on #1208
@harshitmehta123

I'm not seeing the broken link.  Do you have a screenshot?

Also, these pages are all in https://www.topcoder.com/wp-admin.  You're welcome to go in and make fixes.

[2017-06-09 07:11] harshitmehta123 commented on #1208
Sure,
I will make the changes! :)

[2017-06-12 12:42] Dara-K commented on #1185
Any update on these? been a month...

f0rc0d3r is also reporting the filter mixing issue here: https://github.com/topcoderinc/cab/issues/77

[2017-06-12 18:20] #1207 closed

[2017-06-12 19:48] #922 closed

[2017-06-12 19:48] #1029 closed

[2017-06-12 19:49] #1028 closed

[2017-06-12 19:49] #1026 closed

[2017-06-12 19:49] #1023 closed

[2017-06-12 19:49] #1022 closed

[2017-06-12 19:50] #1025 closed

[2017-06-12 19:50] #1030 closed

[2017-06-12 19:53] #1199 closed

[2017-06-12 19:54] #1196 closed

[2017-06-12 19:55] #1195 closed

[2017-06-12 19:57] #1189 closed

[2017-06-12 19:58] #1188 closed

[2017-06-12 20:05] ajefts opened #1211 "Forum link wrong on design challenge listing"
It should be in this format:  https://apps.topcoder.com/forums/?module=ThreadList&forumID=611906

It uses different params compared to dev and algo challenges.

[2017-06-12 20:05] ajefts commented on #1211
fyi @tladendo and @Dara-K

[2017-06-12 20:07] ajefts commented on #1185
Hi @Dara-K

We've been doing incremental releases that have addressed at least some of these.  I'm trying to itemize the remaining open items into individual tickets.

Thanks,
Tony

[2017-06-12 20:09] #1183 closed

[2017-06-12 20:10] #1180 closed

[2017-06-12 20:10] #1178 closed

[2017-06-12 20:11] #1173 closed

[2017-06-12 20:11] #1172 closed

[2017-06-12 20:11] #1162 closed

[2017-06-12 20:19] Dara-K commented on #1185
Hi Tony,

Yes, I saw some were fixed, but there are still others left. Thanks for taking care of these.

[2017-06-12 20:22] #1150 closed

[2017-06-12 20:22] #1140 closed

[2017-06-12 20:22] #1136 closed

[2017-06-12 20:23] ajefts commented on #1133
Going to close this since a lot of updates and refactoring have take place.  We can open up new issues as needed for performance.

[2017-06-12 20:23] #1133 closed

[2017-06-12 20:24] #1132 closed

[2017-06-12 20:24] #1131 closed

[2017-06-12 20:24] #1124 closed

[2017-06-12 20:25] Dara-K commented on #1186
Yes, images and counts are good now. Thanks!

[2017-06-12 20:25] #1122 closed

[2017-06-12 20:25] #1120 closed

[2017-06-12 20:25] #1119 closed

[2017-06-12 20:26] #1117 closed

[2017-06-12 20:27] #1069 closed

[2017-06-12 20:29] #1044 closed

[2017-06-12 20:31] #1000 closed

[2017-06-12 20:31] #960 closed

[2017-06-12 20:31] #915 closed

[2017-06-15 15:25] vbaileytopcoder opened #1212 "MOBILE https://www.topcoder.com/community/members/"
Mike Morris mentioned today that he views https://www.topcoder.com/community/members/ quite frequently and it does not render on mobile.

[2017-06-15 15:57] ajefts commented on #1212
@birdofpreyru This is not urgent, but maybe run a small challenge to clean this up when you get a chance...

[2017-06-15 16:36] birdofpreyru commented on #1212
@ajefts The F2F challenge is prepared & scheduled: https://www.topcoder.com/challenge-details/30058022/?type=develop&noncache=true

[2017-06-16 14:09] ajefts opened #1214 "Sorting not working in Open for Reg section"
Sorting by most recent doesn't seem to be working on the Open For Registration section at https://www.topcoder.com/challenges/

![image](https://user-images.githubusercontent.com/3812270/27230041-e81076ca-527b-11e7-81b4-cbb97cacff05.png)

[2017-06-16 14:10] ajefts commented on #1214
@tladendo fyi

[2017-06-17 10:23] #1212 closed

[2017-06-17 10:41] birdofpreyru commented on #1212
@ajefts The fix is ready and deployed to `dev`. I don't risk to merge it into `master`, as I am afraid to interfere in a wrong way with your changes related to the Fathers Day logo.

[2017-06-18 21:05] tladendo commented on #1214
Looks like "most recent" sorts by submission end date. The current implementation is doing this correctly. Should it be set to sort by some other parameter?

[2017-06-18 23:08] ajefts commented on #1214
Please change it to registration start date. It should show the most recently posted challenges.

[2017-06-19 03:17] tladendo commented on #1214
got it, working on a PR

[2017-06-19 20:17] #1214 closed

[2017-07-07 10:25] birdofpreyru opened #1220 "Issue with URLs of the member profile pages"
As reported by a community member:
[code]

It looks to me, there are two problems: (1) username in the URL must be URL-encoded, (2) the user profile endpoint demands trailing `/`. These links work:
https://www.topcoder.com/members/John%20Dethridge/
https://www.topcoder.com/members/%5B%5Biwi%5D%5D/

The best fix will be to update the routing inside `topcoder-app`, so that it redirects to the proper

[2017-07-07 13:42] ThomasKranitsas commented on #1220
@birdofpreyru which branch should I use?

[2017-07-07 13:50] birdofpreyru commented on #1220
@ThomasKranitsas `dev`

[2017-07-10 21:02] birdofpreyru commented on #1220
Fixed by the commit 989654c5157ca4b4acad06e8cd4289dc4608020b
@ajefts Can I push it to prod? To do so, is it still enough just to merge the change into master, or should I also tag the change with a new version?

[2017-07-10 21:02] #1220 closed

[2017-07-11 13:36] Sande3p opened #1222 "Font loading improvements"
Font initial loading is noticeable without font caching ref:
![image](https://user-images.githubusercontent.com/3652329/28070855-f6f7985e-666b-11e7-9ee6-7cdf4b7bccff.png)

[2017-07-11 13:40] Sande3p commented on #1222
I think we should have a benchmark for font loading.
Maybe it's like all fonts should be fetched under 1.5s

[2017-07-27 13:05] birdofpreyru opened #1223 "Dashboard Notifications: Issues noted by reviewers"
- banners config is placed under "/app/my-dashboard/notifications/notifications.jade" - This is confusing, there should
be a separate  banners folder under my-dashboard which should contain banners related code configs.

- app\directives\notification\notification.directive.js
empty function
[code]

- After an all amazing last yera TCO16 Beijing Regionals we were very excited to go back and do an e

[2017-08-11 06:42] kondakovdmitry commented on #1148
This issue is quite annoying. The forum link may remain invisible for hours. Now when the "registered" notification email does not always get to the inbox, to access the forum I have to dig into dev tools in the browser and get the forum link directly from api v2 response.
Why can't the forum link just be shown by the same logic, that changes Register button title to Unregister? This seems to be q

[2017-08-11 11:38] birdofpreyru commented on #1148
@kondakovdmitry The logic behind forum link is different, because it should be shown not only to the registered competitors, but also to reviewers, copilots, obsevers, i.e. to everybody having some role on a challenge. If you don't see it for some time lately, it means some problems in the backend api, like it fails to report the user roles on the challenge, thus the frontend thinks that user has

[2017-08-11 12:22] kondakovdmitry commented on #1148
@birdofpreyru Thank you for the explanation about the logic behind the forum link and for the reminder about software.topcoder.com - I forgot that I can access forum for all my current challenges from it.
As a quick fix for the issue though, how about making condition for showing the forum link to be the logical OR of the "registered" condition and the "have role on a challenge" condition? I.e. if

[2017-08-11 12:34] birdofpreyru commented on #1148
Good idea

[2017-08-19 09:51] ThomasKranitsas opened #1225 "Challenge status in 'My filters'"
Custom filters should only fetch`active` challenges. (Or make it configurable)

For example: I created a custom filter that shows me the challenges from `CODE` track but when I select it the results are full of completed challenges which makes the custom filter useless for me as I need to scroll and search to find an `active` challenge.

![listings - topcoder 2017-08-19 12-46-28](https://user-imag

[2017-08-29 15:39] NikitaJain-TC opened #1227 "Add 'Reviewer' tag in member profile"
If a member is a reviewer, an extra tag should be added to his profile showing that he is a reviewer.

For example- This member 'Talesforce' is a reviewer, but it is not reflected in his profile anywhere. Please check the image for reference. The image has a copilot tag, but the reviewer tag should also be there.

<img width="305" alt="screen shot 2017-08-29 at 8 25 13 pm" src="https://user-images

[2017-08-29 16:01] ajefts commented on #1227
@birdofpreyru this isn't high priority, but can you look into this when you get a chance? If we have an API (we'll need to check) that we can hit to determine if someone is a reviewer, then I think this will be pretty simple.

[2017-09-07 08:21] lsentkiewicz opened #1228 "Profile Info Is Cut in 50% cases"
See https://github.com/topcoderinc/cab/issues/80

Many members (including me) have this bug very often.

[2017-09-07 08:31] lsentkiewicz opened #1229 "🔥🔥🔥 Fix filter in the challenge listing"
Filters are not working properly in the challenge listing page.
It was reported multiple times in Slack (6 months ago, 3 months ago, and 1 month ago).
Will someone fix it finally?

[2017-09-07 10:51] birdofpreyru commented on #1228
@lsentkiewicz Now I have access to the error logs. Though, the logs for this bug are not that helpful:
![screenshot](https://user-images.githubusercontent.com/20144632/30160018-02d6f8a4-93cb-11e7-8045-34b19eda44c1.png)
I had no time to dig into it personally, as always get something to do with a higher priority. If anybody can dig into this and propose some solution, then we can move it on (and pa

[2017-09-07 13:31] ajefts commented on #1229
I believe we chatted and mentioned the issues were addressed in the new version of the listings page that is here:  http://community-app.topcoder.com/challenges

We are still making some infrastructure changes to be able to push this fully to production as the main challenge listing experience. We plan to do that this month.

If you see the issues on this page still, please let us know and @birdof

[2017-09-08 08:32] lsentkiewicz commented on #1229
@ajefts
It was 2 months ago (5 July 2017). I don't understand why you can't push fixes to production.
All bugs are related only to frontend functionality.

[2017-09-08 12:12] appirio-jenkins commented on #1229
We have multiple front end apps that are served under www.topcoder.com. The fixes are in the new community-app that is deployed using AWS ALB, which is what we are moving towards. We currently have some pretty complex network and routing configurations to handle several legacy apps, including topcoder-app, arena, marketing pages, direct, etc. The apps and network/routing needs to be reconfigured f

[2017-09-13 11:37] birdofpreyru commented on #1227
@ajefts Neither I, neither Thomas (I've asked him to double-check as he is reviewer himself) cannot find any information on whether a user is reviewer neither in API v2 nor in API v3 responses fetched from current dashboard / profile pages. I guess, we need add such record to the profile data response on the backend side.

[2017-09-21 07:09] sushilshinde opened #1230 "Not able to authenticate! Error details are in screenshot"
![topcoder-dev-loginfailed](https://user-images.githubusercontent.com/683231/30683130-c9a7b17c-9ec9-11e7-812e-e41f01176b2a.png)

[2017-09-21 07:24] sushilshinde commented on #1230
Working now @vikasrohit did help.

[2017-09-21 07:24] #1230 closed

[2017-10-06 12:05] sushilshinde opened #1235 "Tracks, Skills and Communities not able to update"
@ajefts @birdofpreyru
This bug can impact users signing up for communities from these two pages, it is likely to be [API](https://api.topcoder-dev.com/v3/memberCert/registrations/{SomeID}/programs/{AnotherID}/) issue. Another observation is API call return query exception details in the JSON response on failure. These exception details should not bubble up to the browser.

[**On Edit Profile page*

[2017-10-06 17:37] sushilshinde commented on #1235
Working now on the profile page, and on skill picker that isn't a feature. After discussion with @ajefts closing this

[2017-10-06 17:37] #1235 closed

[2017-10-15 19:01] harshitmehta123 opened #1237 "Update Cognitive Banner on Member Dashboard"
Update banner with attached image and link it to https://cognitive.topcoder.com/register/?utm_medium=banner&utm_source=topcoder&utm_campaign=cognitive-community

![cognitive-dashboard 1](https://user-images.githubusercontent.com/6296738/31587999-aceb5ad6-b1b9-11e7-88de-4eb1b72068ef.jpg)

[2017-10-16 08:09] vikasrohit commented on #1237
@sushilshinde it would be great if you can take it.

[2017-10-16 09:41] sushilshinde commented on #1237
@vikasrohit done!

`298e15ba8e537919d5f2c953b3018083f4017c57`

[2017-10-17 06:23] vikasrohit commented on #1237
Thanks @sushilshinde 👍

[2017-10-17 07:44] sushilshinde commented on #1237
@vikasrohit it's on `dev`

[2017-10-17 08:22] vikasrohit commented on #1237
Do you know expected time for the next release? @harshitmehta123 needs it asap on production.

[2017-10-20 18:25] #1237 closed

[2017-10-20 18:26] ajefts opened #1240 "Add cognitive badge"
Add the cognitive badge so it's available on member profiles.

Here are the design assets:

[Cognitive-Badge.zip](https://github.com/appirio-tech/topcoder-app/files/1402912/Cognitive-Badge.zip)

Please use this version:

![image](https://user-images.githubusercontent.com/3812270/31836262-a84df8b6-b5a2-11e7-8e2f-a61a1d8d659a.png)

[2017-10-20 18:26] ajefts commented on #1240
@sushilshinde Here is one for you when  you return.  thanks.

[2017-10-24 10:17] sushilshinde opened #1241 "Add blockchain community option in the skill picker page"
**Analysis and steps :**

1. Identify blockchain program id, add in topcoder.constants.js
2. Decide the place of the blockchain community in the list (order)
3. Add necessarily related code in skill-picker.controller.js
4. Test whether blockchain is posted/get via API - memberCert/registrations

@ajefts please comment

[2017-10-25 07:33] sushilshinde commented on #1241
@ajefts I have committed these changes without 1 and 2 from the list above

Feature code is in `skill-picker-blockchain#1241`

[2017-10-25 08:26] sushilshinde commented on #1240
@ajefts  this is the place, it will be displayed?

![screenshot-www topcoder-dev com-2017-10-25-13-54-43-343](https://user-images.githubusercontent.com/683231/31988268-2aebc568-b98c-11e7-92ca-d7c212f8dd4f.png)

[2017-10-26 13:41] ajefts commented on #1240
yes, that is where it will be displayed.  You'll see we have some other single badges there as opposed to the "progressive" badges in the image you attached.

[2017-10-26 13:42] ajefts commented on #1240
For the achievement data...it's not setup yet.  Let me see about doing that today

[2017-10-26 14:17] sushilshinde commented on #1240
Ok thanks, I will work on the code then.

[2017-10-27 09:26] sushilshinde commented on #1240
**Completed Items :**
Code to show badge committed for this change is on feature branch `cognitive-badge-issue#1240`
**Incomplete Items :**
1. Need sprite image from @Dara-K
2. Need achievement value for the Cognitive badge in the achievements payload @ajefts to update on that.

[2017-10-27 15:35] ajefts commented on #1241
1. the group ID for this one is 20000010.  Remember this is different than the other Communities that we have there since now we're using "groups" instead of legacy "events".  So, joining this community will mean we add the member to the group via the group API (https://github.com/appirio-tech/tc1-api-core/blob/dev/tech.core/tech.core.service.identity/doc/swagger.yaml#L140).  We have some examples

[2017-10-27 15:39] ajefts commented on #1240
2. it is achievement_id 16, 'IBM Cognitive Community'

[2017-10-28 19:20] Dara-K commented on #1240
What size do you need the badge @sushilshinde ?

[2017-10-30 03:55] sushilshinde commented on #1240
@Dara-K I sent details on slack.

[2017-10-31 09:03] sushilshinde commented on #1241
@ajefts thank you for the information, without that it was very hard to do what I did :)
Change is available at feature branch: `skill-picker-blockchain#1241`

**One issue with Groups API**

There is no API to get a single user subscription info from a group. Currently, I'm fetching all the users for a groupID via
https://api.topcoder-dev.com/v3/groups/20000010/members/
This is highly inefficient

[2017-10-31 09:23] Dara-K commented on #1240
Can you send me the details here pls? I don't see them on Slack

[2017-11-01 10:01] sushilshinde opened #1243 "Add community subscribe/unsubscribe section on the profile settings page"
Just like skill picker page, add community panel on profile settings page

![spec_new](https://user-images.githubusercontent.com/683231/32269866-b5cfafea-bf19-11e7-9ac4-e93aff02a6b9.png)

[2017-11-01 10:37] sushilshinde commented on #1243
Refer to [skills picker code](https://github.com/appirio-tech/topcoder-app/tree/dev/app/skill-picker)

[2017-11-01 16:34] vic-topcoder commented on #1240
Updated assets
![badge-cognitive](https://user-images.githubusercontent.com/8484061/32285521-c73577a6-bee7-11e7-8e87-e5bbaf57bdcc.png)
![badge grid large](https://user-images.githubusercontent.com/8484061/32285522-c747be34-bee7-11e7-98cc-c5cb4180c410.png)

[2017-11-03 12:12] sushilshinde commented on #1241
@ajefts done testing with new account, the code is at `dev` branch, it's ready for production.

[2017-11-03 12:15] sushilshinde commented on #1240
@Dara-K got help from @vic-topcoder.
@ajefts need badge data for users TonyJ and _sushilshinde in achievements array.

[2017-11-03 16:20] Dara-K commented on #1240
Thank you Vic!

[2017-11-29 06:46] harshitmehta123 opened #1245 "Issue with SRM Rating Graph"
Square1001 reported the following issue:
"I found a bug in my SRM rating graph.

If you see https://www.topcoder.com/members/square1001/details/?track=DATA_SCIENCE&subTrack=SRM (my rating graph for SRM), you can see that my first rating is 1308, but it's actually my second rating - my first rating is 1552.
Also, I participated in SRM 714, but there are no plot of SRM 714."

[2018-01-05 19:36] ajefts opened #1252 "skill picker update for cognitive"
Related to the work done in
https://github.com/appirio-tech/topcoder-app/issues/1241

...we have since migrated the Cognitive community to use the new groups structure (like Blockchain does).  We need to update the skill picker and member settings page so that it uses the groups api instead of the member cert api (event registration).

[2018-01-05 19:36] ajefts commented on #1252
@sushilshinde Could you put this on your short list?

fyi @harshitmehta123

[2018-02-07 09:53] RiteshTC opened #1267 "Set External Links as Beta feature"
External Links doesn't seem to work reliably.
Please mark the links as a Beta feature till the #1087 is fixed

Url: https://www.topcoder.com/settings/profile/
<img width="1214" alt="externalinks" src="https://user-images.githubusercontent.com/5771673/35909847-c866bf10-0c1a-11e8-9fb3-cd4dcfcbcbe9.png">

[2018-02-09 06:04] RiteshTC opened #1268 "Filter Search should not do text search"
Steps
Filter by technology tag by selecting AI.

Result:
The result includes challenges where challenge title or tags contains AI.

Expected Result:
Should search on technology tags only and not full text.

<img width="1296" alt="keywordsearch" src="https://user-images.githubusercontent.com/5771673/36013927-09207884-0d8d-11e8-93a9-ec30bcf9a464.png">

@birdofpreyru @ajefts

[2018-02-09 14:02] birdofpreyru commented on #1268
Moved into the correct repo: topcoder-platform/community-app#778

[2018-02-09 14:02] #1268 closed

[2018-02-16 04:15] #1092 closed

[2018-02-16 11:13] iversonLv opened #1278 "Challenge Detail right panel, the tooltip icon, background looked odd"
Challenge detail right panel, the tooltip question icon, background should be circle, I think the global P css style override it.
[![Screenshot from Gyazo](https://gyazo.com/5f6cf453ed8961d35b10e35989b2024b/raw)](https://gyazo.com/5f6cf453ed8961d35b10e35989b2024b)

[2018-02-23 06:39] JayaDhaka opened #1282 "Unable to see Marathon Match 98 on top in past challenges"
Our member is not able to see the recently finished MM98 on top position at this link : https://www.topcoder.com/challenges/?filter[tracks][datasci]=true&tab=details&bucket=past

member handle: xsabi

![blind filter editing](https://user-images.githubusercontent.com/34749364/36581312-47f299ce-1892-11e8-87ea-4aa0d6abd6a7.JPG)
![empty filter result on mm subtrack](https://user-images.githubuserconte

[2018-02-27 01:45] vic-topcoder opened #1284 "Skill not found on Profile page"
_From @gargsaurabh86 on February 17, 2018 18:57_

### Reported URL ###
*URL where the issue occured, if applicable*
https://www.topcoder-dev.com/settings/profile/

### Reproduction Steps ###
1. Login to https://connect.topcoder-dev.com/ using pshah_customer/topcoder123
2. Navigate to https://www.topcoder-dev.com/settings/profile/
3. Enter Skill language as Java

### Expected Result ###

*Enter the

[2018-02-27 01:45] vic-topcoder commented on #1284
Topcoder - out of scope

[2018-02-27 01:46] vic-topcoder opened #1285 "Contact us broken on profile page"
_From @gargsaurabh86 on February 17, 2018 18:59_

### Reported URL ###
*URL where the issue occured, if applicable*
https://help.topcoder-dev.com/hc/en-us/articles/219069687-Contact-Support

### Reproduction Steps ###
1. Login to https://connect.topcoder-dev.com/ using pshah_customer/topcoder123
2. Navigate to https://www.topcoder-dev.com/settings/profile/
3. Go to footer of page
4. Click Contact

[2018-02-27 01:46] vic-topcoder commented on #1285
Topcoder - out of scope

[2018-02-27 01:46] vic-topcoder opened #1286 "Forum preference broken"
_From @gargsaurabh86 on February 17, 2018 19:6_

### Reported URL ###
*URL where the issue occured, if applicable*
https://apps.topcoder-dev.com/forums/?module=Settings

### Reproduction Steps ###
1. Login to https://connect.topcoder-dev.com/ using pshah_customer/topcoder123
2. Navigate to https://www.topcoder-dev.com/settings/profile/
3. Click on PREFERENCES tab
4. Click on FORUM PREFERENCES

###

[2018-02-27 01:47] vic-topcoder opened #1287 "Zipcode on account page"
_From @gargsaurabh86 on February 17, 2018 19:34_

### Reported URL ###
*URL where the issue occured, if applicable*
https://www.topcoder-dev.com/settings/account/

### Reproduction Steps ###
### Reproduction Steps ###
1. Login to https://connect.topcoder-dev.com/ using pshah_customer/topcoder123
2. Navigate to https://www.topcoder-dev.com/settings/account/
3. Under Address section
4.Enter Any zipc

[2018-02-27 01:47] vic-topcoder commented on #1287
_From @gargsaurabh86 on February 18, 2018 3:16_

Just for info for other fields:

![image](https://user-images.githubusercontent.com/29735376/36347844-263472a8-145a-11e8-867a-8fdbc7e80711.png)

[2018-02-27 01:47] vic-topcoder commented on #1287
out of scope - this is Topcoder UI at the moment. Valid bug though

[2018-03-01 22:07] vic-topcoder opened #1290 "Unable t delete linked account"
_From @gargsaurabh86 on February 17, 2018 19:17_

### Reported URL ###
*URL where the issue occured, if applicable*
https://www.topcoder-dev.com/settings/profile/
### Reproduction Steps ###
1. Login to https://connect.topcoder-dev.com/ using pshah_customer/topcoder123
2. Navigate to https://www.topcoder-dev.com/settings/profile/
3. Under Add a web link
4. Add youtube.com
5. now refresh the page
6.

[2018-03-01 22:07] vic-topcoder commented on #1290
Out of scope - this is Topcoder.

[2018-03-01 22:07] vic-topcoder commented on #1290
_From @gargsaurabh86 on February 22, 2018 21:44_

@vic-topcoder profile was in scope. Please check specs. Thanks.

[2018-03-01 22:07] vic-topcoder commented on #1290
This is Topcoder page. The bug is valid. Not in the scope for Connect is in regards which product should fix it.

[2018-03-19 12:14] sushilshinde commented on #1252
sure

[2018-05-30 09:49] JayaDhaka opened #1310 "Past challenges search is not working"
This link https://www.topcoder.com/challenges?filter[text]=movidius&bucket=past is not working.

Steps to reproduce:

1. go to topcoder.com/challenges
2. Put "movidius" as the search term.
3. then select past challenges.

Please fix it.
![image 1](https://user-images.githubusercontent.com/34749364/40712862-539f44f4-641c-11e8-903d-5d60a75567da.png)

@birdofpreyru

[2018-05-30 10:52] birdofpreyru commented on #1310
It works, just very sub-optimal, in case of past challenges: while you see these placeholders it keeps on loading more and more past challenges, but is not able to find any matching the input text, thus you don't see any results showing up in the listing.

I moved the issue into the correct repo, and will further check, whether we are in position to improve this.

[2018-05-30 10:52] #1310 closed

[2018-05-30 14:14] rsial2 commented on #1310
Hey @birdofpreyru this does not work - if you try to search for "intel" or "movidius" (which are both past challenges), you will not get any results. So it is a true defect.

[2018-09-12 06:59] JayaDhaka opened #1315 "Getting an error "Failed to add user trait" on profile page"
While updating first name, last name and country on this URL https://www.topcoder.com/settings/profile, the user is getting an error "Failed to add user trait".
Please check and fix the issue.

![user error](https://user-images.githubusercontent.com/34749364/45407557-59e7be00-b687-11e8-83be-bb6bf64fa6f8.png)

[2018-09-12 10:12] ThomasKranitsas commented on #1315
@JayaDhaka this should be in the community-app repo.

I'm the copilot on that part of the platform so feel free to assign all related tickets to me.

I'll move this over to the correct repo and I'll close this ticket.

[2018-09-12 10:12] #1315 closed

[2018-10-24 16:08] iversonLv opened #1316 "Profile setting birthday is unfriendly"
_Do search, seems no issue related this or please ignore and close this issue._
Just found birthday datepicker can't select year? That is really unfriendly.
Member must click left arrow back to many year to select their birthday year.

![image](https://user-images.githubusercontent.com/4952611/47444716-b17e5b00-d7e9-11e8-9815-275813e41c61.png)

[2018-10-24 16:23] ThomasKranitsas commented on #1316
We're working on this. Closing this ticket as we already have another ticket to address this issue.

[2018-10-24 16:23] #1316 closed

[2019-04-03 16:58] pedrosorama commented on #1315
Still same issue :)...
![image](https://user-images.githubusercontent.com/1439267/55497794-642cd200-5642-11e9-9b14-87abbdf85620.png)

[2019-04-03 19:49] ThomasKranitsas commented on #1315
@pedrosorama we've done quite some fixes that are not yet deployed. This should be resolved in the next deployment