[2015-06-29 05:22] nlitwin opened #4 "Add Babel to gulpfile so we can use ES6"

[2015-06-29 08:18] nlitwin opened #6 "Use continuous integration"
Use Travis CI or Circle CI or whichever one we have decided on.

[2015-06-29 08:19] nlitwin opened #7 "Use coveralls"
User Coveralls for code coverage, and add the badge to the readme.

[2015-07-07 01:50] nlitwin opened #13 "Should we move HTML5 mode to topcoder.routes.js?"

[2015-09-17 18:33] #7 closed

[2015-10-16 01:12] vic-appirio opened #380 "Lack of SCSS source maps"
We don't have gulp-sourcemaps anywhere in the gulp.js file; so let's add the feature to compile sourcemaps and use them while debugging.

Info from here: http://fettblog.eu/blog/2014/04/10/gulp-sass-autoprefixer-sourcemaps/ and here: https://github.com/dlmanning/gulp-sass#source-maps

[2015-10-16 01:18] vic-appirio opened #381 "Sass syntax support"
Currently Sass syntax is not supported, only SCSS. Using the Sass syntax breaks the gulp build;

Let's enable Sass as it is much more robust, and closely resembles Jade. Two big CONS:

- Easier to write & read, you don't lose yourself in nested {{{ foo } go find } the closing bracket()s{} };
- Stricter code makes adding more people to the source less cumbersome, provides greater ease of use;

More

[2015-10-19 01:18] vic-appirio opened #398 "Adblock and AdblockPlus: Testing our code"
Let's investigate if/what causes Ad blockers to hide code. I run into the issue with class.social-icons on the login/reg pages, and had to rename the classes in order to be able to see the login option.

[2015-11-25 16:36] tladendo opened #579 "Standardizing angular validation"
@nlitwin @vikasrohit @parthshah -- We don't really have a unified approach for validation, and in some places in topcoder-app, things get a little hard to follow. Do we want to pick a standard way of doing this? I've used ng-messages and thought it was okay, though my preference would be to actually handle validation in javascript and render the messages dynamically in the template. What do you al

[2015-12-09 10:01] vikasrohit opened #599 "Correct font for confirmation message on deletion of external account/link card"
We need to use Merriweather Sansbook font for .deletion-confirmation-message [class](https://github.com/appirio-tech/topcoder-app/blob/dev/assets/css/directives/external-link-deletion-confirm.scss#L30).

@nlitwin @vic-appirio fyi

Can you please suggest me how to use the required font here? I am not able to find the correct mixin in existing styles.

[2015-12-10 06:03] vikasrohit opened #605 "Cleanup data structures for external accounts and external web links"
For external accounts, we are nesting the added external account one more deep level e.g.

[code]

while for external web links, it is
[code]
@parthshah Can you please suggest which is the good candidate to be fixed here?

[2015-12-11 01:12] nlitwin opened #608 "Testing patterns"
As our tests grow in number, I think we should come up with testing patterns to follow. For instance, we should have documented patterns for mocking services, using `$q` to resolve fake promises, using `sinon`, etc. We could even save these patterns in template files that we could copy and paste. About to create a `*.spec.js` file for a directive? You could just copy the directive test template. W

[2016-01-19 23:13] parthshah opened #673 "$25 - Support Back button when clicking on SRM card"
JIRA: https://appirio.atlassian.net/browse/SUP-2909

**Steps to reproduce**
1. Navigate to https://www.topcoder-qa.com/members/sky_/details/?track=DEVELOP&subTrack=ASSEMBLY_COMPETITION . User is defaulted to statistics tab.
1. Click on "challenges tab" and then click on a Challenge title.
1. User is navigated to challenge detail
1. Click back button, user is redirected to "Statistics tab"

**Expec

[2016-01-19 23:32] parthshah opened #674 "$25 - User need to click twice on 'Back to Dashboard' to redirect to the dashboard from 'My Challenges' page."
JIRA: https://appirio.atlassian.net/browse/SUP-2746

** Steps to Reproduce**
1. Login to application.
2. Click on the 'Past Challenges' link on dashboard.
3. Click on the "Active' tab.
4. Click on the 'Back to Dashboard'.
5. Verify the page.

[2016-01-19 23:36] parthshah opened #675 "$25 - My Challenges--All blue line should be of same size on IE 11"
JIRA: https://appirio.atlassian.net/browse/SUP-2699

** Steps to reproduce**
1. Login as iamtong on IE 11.
2. Open my challenges.
3. Verify the blue line on card.
![capture-for-jira-screenshot-20151118-232958-325](https://cloud.githubusercontent.com/assets/1987710/12435409/44d6f95a-bec2-11e5-9a26-ea1b4e250707.png)

[2016-01-19 23:41] parthshah opened #676 "$30 - Dashboard--> "Practice on past problems" should be displayed properly on SRM on IE 11."
JIRA: https://appirio.atlassian.net/browse/SUP-2698

** Steps to reproduce ** :
Login to account and verify SRM section on dashboard in IE11.
![capture-for-jira-screenshot-20151118-232245-491](https://cloud.githubusercontent.com/assets/1987710/12435554/0d81c75e-bec3-11e5-8017-33d93edfee96.png)

[2016-01-19 23:52] parthshah opened #677 "$15 - My dashboard--> Challenges cards--> clicking on Posts/Registrants/Submissions icons should navigate user to appropriate link"
JIRA: https://appirio.atlassian.net/browse/SUP-2675

** Steps to reproduce**:
Login to application
Open my dashboard
Click on post under my challenges section
Expected:- Forums should get opened up
Actual:- Forums not getting opened up, redirecting to view registrants page
http://screencast.com/t/Y6jPoHXpLV

[2016-01-21 19:49] nlitwin opened #684 "$40 - For skills type ahead list the matches in alpha order"
JIRA: https://appirio.atlassian.net/browse/SUP-2451

Steps to reproduce:
 - Log in
 - Navigate to settings
 - Under 'Country to Represent', type any letter
 - Under 'Add a new skill', type any letter.

Result - the first results do not all start with the letter that you typed
Expected result - the results that start with the letter you typed should be listed first

Currently we are using the angul

[2016-01-29 04:49] nlitwin opened #694 "$25 - Add TCO icon/link to the navigation"
JIRA ticket: https://appirio.atlassian.net/browse/SUP-2952

This change must be done on multiple repositories.

Task:

Add TCO icon under Community, second in the order (behind "Overview"). The icon should link to: http://tco16.topcoder.com/.

The icons should be under ~/topcoder-app/assets/images/nav
Position: Community, after Overview
Icon: ico-tco16.svg; Title: TCO 2016, URL: http://tco16.topco

[2016-01-29 04:51] #579 closed

[2016-01-29 04:52] nlitwin commented on #13
I've removed all instances of `$locationProvider.html5mode(true);` except for in `topcoder.routes.js` while integrating webpack.

[2016-01-29 04:52] #13 closed

[2016-01-29 04:52] nlitwin commented on #4
Done with webpack

[2016-01-29 04:52] #4 closed

[2016-01-29 04:53] nlitwin commented on #6
Setting up Travis CI tomorrow

[2016-01-29 04:53] #6 closed

[2016-01-29 04:53] nlitwin commented on #608
Will create new patterns in topcoder-app-r

[2016-01-29 04:53] #608 closed

[2016-01-29 04:54] nlitwin commented on #398
Any pending todos here? :) If not, let's close the issue. Thanks!

[2016-01-29 06:12] vikasrohit opened #695 "Profile: # of wins in summary does not match winning challenges shown on Profile"
JIRA Ticket: https://appirio.atlassian.net/browse/SUP-2839

To fix the mismatch between the stats and number of wins shown in challenges tab of [subtrack details](https://www.topcoder.com/members/olegforce/details/?track=DEVELOP&subTrack=CODE) page, we need to
1. remove the winner banner (if applies for the member-challenge combination) and placement for all challenges that are marked as invite-on

[2016-01-31 09:16] shubhendusaurabh commented on #674
@huangqun can't reproduce

[2016-01-31 09:25] shubhendusaurabh commented on #677
working

[2016-01-31 10:18] shubhendusaurabh commented on #694
@nlitwin @huangqun can't view jira. please update here

[2016-01-31 10:23] shubhendusaurabh commented on #684
working

[2016-01-31 11:53] Colinh84 commented on #676
Working on this.

[2016-01-31 18:08] ajefts commented on #694
Updated the content of the task. Please let us know if you need any more info.  Thanks.

[2016-02-01 16:45] shubhendusaurabh commented on #694
@ajefts Thanks but I can't find the required tco16 icon. Is it already included?

[2016-02-01 16:56] ajefts commented on #694
Icon attached.

[ico-tco16.svg.zip](https://github.com/appirio-tech/topcoder-app/files/112605/ico-tco16.svg.zip)

[2016-02-01 17:39] iit2009060 commented on #673
working

[2016-02-01 17:42] shubhendusaurabh commented on #675
how do i login as iamtong or any member with past challenges?

[2016-02-01 22:02] nlitwin commented on #675
Hi @shubhendusaurabh, the password for any member in dev is appirio123

[2016-02-02 16:21] #677 closed

[2016-02-03 04:15] Colinh84 commented on #676
I noticed the same issue was happening with tooltips in IE11, so I corrected that problem as well in my fix.

[2016-02-03 19:09] shubhendusaurabh commented on #684
@nlitwin new version of angucomplete-alt i.e. v2.2 supports custom sorting through functions.
Is it acceptable to update angucomplete-alt and fix this through custom sorting function instead of switching to react-select?

[2016-02-03 19:48] #398 closed

[2016-02-03 19:48] #599 closed

[2016-02-03 20:49] meirka5 commented on #675
![capture___5](https://cloud.githubusercontent.com/assets/4015911/12796617/5ac84c02-cac8-11e5-899e-1da3d5906e36.GIF)
Still is 100 pixels, which is longer than the other blue lines.

[2016-02-03 20:53] nlitwin commented on #684
Thanks @shubhendusaurabh for your comment. Unfortunately, we'd like to deprecate angucomplete-alt, since we're slowly moving to react components.

[2016-02-04 00:08] #694 closed

[2016-02-04 05:27] vikasrohit commented on #599
Thanks @nlitwin  for closing this. :+1:

[2016-02-05 12:27] Colinh84 commented on #673
Since above user doesn't seem to be working on this and it has been over 4 days, can I take this issue? Topcoder contest rules said there was a 2-day limit..

[2016-02-05 12:36] huangqun commented on #673
@Colinh84 You can take it

[2016-02-05 12:46] Colinh84 commented on #673
ok thanks, working on it.

[2016-02-06 02:55] huangqun commented on #676
fixed

[2016-02-06 02:55] #676 closed

[2016-02-07 05:40] Colinh84 commented on #673
submitted merge request. Make sure to clear browser cache before testing.

[2016-02-07 06:31] Colinh84 commented on #684
working on this.

[2016-02-08 19:10] nlitwin commented on #673
Thanks @Colinh84, I added a comment in the PR and merged it in.

[2016-02-08 19:10] #673 closed

[2016-02-08 19:24] nlitwin commented on #675
We do want it to be as tall as the header, since the header is not always the same height. The blue line should just not overflow past the header. I'm going to close this issue, since it was fixed in a previous change, and I can no longer reproduce the original issue. Sorry for any confusion!

[2016-02-08 19:24] #675 closed

[2016-02-08 19:33] nlitwin commented on #674
I can't reproduce this either. Can we close this? @parthshah @fnisen @vikasrohit

[2016-02-09 06:03] vikasrohit commented on #675
Thanks @nlitwin  for the confirmation.

[2016-02-09 06:04] vikasrohit commented on #674
Yes, I think we can close this and if in case it appears again we can create new issue in future.

[2016-02-09 17:23] #674 closed

[2016-02-11 20:12] nlitwin commented on #684
Merged. Thanks, all!

[2016-02-11 20:12] #684 closed

[2016-02-11 21:43] nlitwin opened #733 "SUP-3080: Saving comments in reviews for peer review challenges"
Steps to reproduce:
 - Log in to www.topcoder-qa.com with username `iceman` and password `appirio123`
 - Head to https://www.topcoder-qa.com/challenges/30047920/reviews/
 - Will fill out once requirements are acquired

(For internal reference) JIRA: https://appirio.atlassian.net/browse/SUP-3080

[2016-02-12 17:32] nlitwin commented on #733
Ended up being a backend issue. Closing

[2016-02-12 17:32] #733 closed

[2016-03-02 07:25] vikasrohit commented on #695
Closing as the bug has been fixed.

[2016-03-02 07:25] #695 closed

[2016-03-30 21:29] parthshah commented on #605
Challenge created successfully
Challenge Url: https://www.topcoder.com/challenge-details/30053585/?type=develop&noncache=true

[2016-05-03 22:46] vic-appirio commented on #605
Challenge created successfully
Challenge Url: https://www.topcoder.com/challenge-details/30053979/?type=develop&noncache=true

[2016-05-05 15:27] nlitwin commented on #605
What needs to be done on this one? Do we need/want a challenge for this? At this point it's a fairly old issue.

[2016-05-06 02:42] vikasrohit commented on #605
While the requirement is simple (to have same data structure for both web links and ext accounts), any change in data structure or code for ext accounts/links, can produce regressions. I think we can safely close this as things are working fine (I am assuming that because I don't have issues assigned for ext accounts) right now.

[2016-05-06 16:47] nlitwin commented on #605
ok sounds good!

[2016-05-06 16:47] #605 closed

[2016-05-13 06:58] vikasrohit opened #814 "[$100] Topcoder Member Profile: Redesign ratings graph"
For better accessibility we have thought of implementing following behaviour to the ratings graph:

1. Instead of showing two panels (one for the graph and other for the details), we are going to use single panel where each data point would have its own tooltip (providing the details about that point)
2. There would a graph switch on top-right of the graph to switch between history and distributio

[2016-05-13 07:01] vikasrohit commented on #814
Challenge created successfully
Challenge Url: https://www.topcoder-dev.com/challenge-details/30050370/?type=develop&noncache=true

[2016-05-17 06:14] vikasrohit commented on #814
Challenge created successfully
Challenge Url: https://www.topcoder-dev.com/challenge-details/30050372/?type=develop&noncache=true

[2016-05-17 06:15] vikasrohit commented on #814
Challenge created successfully
Challenge Url: https://www.topcoder-dev.com/challenge-details/30050373/?type=develop&noncache=true

[2016-05-17 06:17] vikasrohit commented on #814
Challenge created successfully
Challenge Url: https://www.topcoder.com/challenge-details/30054281/?type=develop&noncache=true

[2016-05-26 07:38] vikasrohit commented on #814
Closing the issue as it has been resolved. Any improvement or bug fixes would be done separately.

[2016-05-26 07:38] #814 closed

[2016-06-25 06:07] sdgun opened #830 "Text overlap in the container"
Description
-----------------------------------------------------------------
Text overlap in the container

Steps to Reproduce
-----------------------------------------------------------------

- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an click 'Submit your entries' button
- (https:/

[2016-06-25 06:10] sdgun opened #831 "Without uploading anything e-mail is received, Must validate before hitting the SUBMIT button (Because they are mandatory fields)"
## Description

Without uploading anything e-mail is received, Must validate before hitting the SUBMIT button (Because they are mandatory fields)
## Steps to Reproduce
- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an click 'Submit your entries' button
- (https://www.topcoder-dev.com/chall

[2016-06-25 06:11] sdgun opened #832 "Long scrollbar displayed in the 'Uploading submission' page"
## Description

Long scrollbar displayed in the 'Uploading submission' page
## Steps to Reproduce
- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an click 'Submit your entries' button
- (https://www.topcoder-dev.com/challenges/30049552/submit/file/)
- Drag and drop a file to the container
-

[2016-06-25 06:17] sdgun opened #833 "'Remove all' button is not required because there is only one item is displayed"
## Description

'Remove all' button is not required because there is only one item is displayed
## Steps to Reproduce
- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an click 'Submit your entries' button
- (https://www.topcoder-dev.com/challenges/30049552/submit/file/)
- Click PICK A FILE
-

[2016-06-25 06:19] sdgun opened #834 "Can click SUBMIT button without uploading files"
Description
-----------------------------------------------------------------
Can click SUBMIT button without uploading files

Steps to Reproduce
-----------------------------------------------------------------

- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an click 'Submit your entries'

[2016-06-25 06:21] sdgun opened #835 "'Your submission to the following challenge has been uploaded successfully' e-mail sent even we SUBMIT without uploading files"
## Description

'Your submission to the following challenge has been uploaded successfully' e-mail sent even we SUBMIT without uploading files
## Steps to Reproduce
- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an click 'Submit your entries' button
- (https://www.topcoder-dev.com/challeng

[2016-06-25 06:25] sdgun opened #836 "File upload progress bar is not working"
## Description

File upload progress bar is not working
## Steps to Reproduce
- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an click 'Submit your entries' button
- (https://www.topcoder-dev.com/challenges/30049552/submit/file/)
- Upload the required files
- Click SUBMIT
- Check the progre

[2016-06-25 06:33] sdgun opened #837 "Deep link files; upload fails"
Description
-----------------------------------------------------------------
Deep link files; upload fails

Steps to Reproduce
-----------------------------------------------------------------

- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an click 'Submit your entries' button
- (https:/

[2016-06-25 06:35] sdgun opened #838 "Submission/Source/Preview Image boxes are attached to each other in IE11"
## Description

Submission/Source/Preview Image boxes are attached to each other in IE11
## Steps to Reproduce
- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an click 'Submit your entries' button
- (https://www.topcoder-dev.com/challenges/30049552/submit/file/)
- Check the Submission/Sourc

[2016-06-25 06:38] sdgun opened #839 "After uploading a file to Submission/Source/Preview Image boxes; info text must remove"
Description
-----------------------------------------------------------------
After uploading a file to Submission/Source/Preview Image boxes; info text must remove

Steps to Reproduce
-----------------------------------------------------------------

- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the cont

[2016-06-25 06:40] sdgun opened #840 "No need to display a scroll bar in the 'Choose File' dialog in IE11"
## Description

No need to display a scroll bar in the 'Choose File' dialog in IE11
## Steps to Reproduce
- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an click 'Submit your entries' button
- (https://www.topcoder-dev.com/challenges/30049552/submit/file/)
- In the Submission/Source/Previe

[2016-06-25 06:46] sdgun opened #841 "[SUBMISSION / SOURCE] No validation for 500MB+ Files"
## Description

[SUBMISSION / SOURCE] No validation for 500MB+ Files
## Steps to Reproduce
- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an click 'Submit your entries' button
- (https://www.topcoder-dev.com/challenges/30049552/submit/file/)
- In the Submission/Source/Preview Image boxes;

[2016-06-25 06:51] sdgun opened #842 "Confirmation message displayed twice when we cancel the popup"
Description
-----------------------------------------------------------------
Confirmation message displayed twice when we cancel the popup

Steps to Reproduce
-----------------------------------------------------------------

- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an click 'Submit

[2016-06-25 07:01] sdgun opened #843 "Source and submission file are incorrect"
Description
-----------------------------------------------------------------
Source and submission file are incorrect

Steps to Reproduce
-----------------------------------------------------------------
- NOTE: You need to upload several files erlier and delete them from the design page (https://studio.topcoder-dev.com/?module=ViewSubmission&ct=30049552)

- Open the site (https://www.topcoder-de

[2016-06-25 07:04] sdgun opened #844 "'declaration.txt' is not included in the submission zip"
## Description

'declaration.txt' is not included in the submission zip
## Steps to Reproduce
- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an click 'Submit your entries' button
- (https://www.topcoder-dev.com/challenges/30049552/submit/file/)
- In the Submission/Source/Preview Image boxe

[2016-06-25 07:12] sdgun opened #845 "Specified ranking from the upload page won't effect to the design page listing"
## Description

Specified ranking from the upload page won't effect to the design page listing
## Steps to Reproduce
- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an click 'Submit your entries' button
- (https://www.topcoder-dev.com/challenges/30049552/submit/file/)
- In the Submission/So

[2016-06-25 07:12] sdgun commented on #845
![2016-06-25_12-40-01](https://cloud.githubusercontent.com/assets/4592712/16355372/56da133a-3ad2-11e6-91d7-2ca0b24226f3.png)

[2016-06-25 07:13] sdgun commented on #841
![2016-06-25_12-43-29](https://cloud.githubusercontent.com/assets/4592712/16355381/76f9618e-3ad2-11e6-91c3-0262a1d2bfb4.png)

[2016-06-25 07:16] sdgun commented on #844
https://www.dropbox.com/s/mko440gdv63w50h/1466812800.zip?dl=0

[2016-06-25 07:17] sdgun commented on #843
https://www.dropbox.com/s/mko440gdv63w50h/1466812800.zip?dl=0

[2016-06-25 07:19] sdgun commented on #841
http://www.screencast.com/t/KxXjRBIvQ

[2016-06-25 07:21] sdgun commented on #842
http://www.screencast.com/t/RLgPEGNNzVO

[2016-06-25 07:22] sdgun commented on #840
![2016-06-25_12-51-58](https://cloud.githubusercontent.com/assets/4592712/16355419/a1f2a9b2-3ad3-11e6-9a3e-d791ad7a8a84.png)

[2016-06-25 07:22] sdgun commented on #839
![2016-06-25_12-05-51](https://cloud.githubusercontent.com/assets/4592712/16355420/b488126a-3ad3-11e6-9c4a-ac402e887ec3.png)

[2016-06-25 07:23] sdgun commented on #838
![2016-06-25_12-05-51](https://cloud.githubusercontent.com/assets/4592712/16355422/da2c3b4a-3ad3-11e6-90b4-706ccee6b2e2.png)

[2016-06-25 07:25] sdgun commented on #839
![3](https://cloud.githubusercontent.com/assets/4592712/16355427/1f15ae62-3ad4-11e6-8587-fb9518eae81c.png)

[2016-06-25 07:26] sdgun commented on #830
![2016-06-25_12-06-19](https://cloud.githubusercontent.com/assets/4592712/16355433/3971bbc0-3ad4-11e6-8149-a68836e2bd84.png)

[2016-06-25 07:28] sdgun commented on #832
![2016-06-25_12-36-37](https://cloud.githubusercontent.com/assets/4592712/16355436/57b4ef9e-3ad4-11e6-8cfc-10370c0b642d.png)

[2016-06-25 07:28] sdgun commented on #833
![2016-06-25_12-58-03](https://cloud.githubusercontent.com/assets/4592712/16355444/7d3c65b2-3ad4-11e6-8705-36d5d94b4d6d.png)

[2016-06-25 07:34] sdgun commented on #831
![4](https://cloud.githubusercontent.com/assets/4592712/16355478/48dd1b12-3ad5-11e6-9b1e-f15c320c32c6.png)

[2016-06-25 07:34] sdgun commented on #831
http://www.screencast.com/t/jV9dZGwb

[2016-06-25 07:36] sdgun commented on #837
https://www.dropbox.com/s/rwtstf4md52codt/Deep%20Folder%20Structure.zip?dl=0

[2016-06-25 07:36] sdgun commented on #836
![2016-06-25_12-36-51](https://cloud.githubusercontent.com/assets/4592712/16355496/a6556b1e-3ad5-11e6-94a1-fde5a11639a5.png)

[2016-06-25 07:44] sdgun commented on #837
![2016-06-25_13-13-57](https://cloud.githubusercontent.com/assets/4592712/16355528/bf2e370a-3ad6-11e6-823b-fca856f52b8a.png)

[2016-06-25 07:44] sdgun commented on #834
http://www.screencast.com/t/IQxFvRoQKS

[2016-06-25 07:45] sdgun commented on #835
![2016-06-25_13-15-09](https://cloud.githubusercontent.com/assets/4592712/16355535/dee28f9c-3ad6-11e6-92ad-4ba8edb43f70.png)

[2016-06-25 07:59] sdgun opened #846 "Empty zip files are recognized as valid"
## Description

Empty zip files are recognized as valid
## Steps to Reproduce
- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an click 'Submit your entries' button
- (https://www.topcoder-dev.com/challenges/30049552/submit/file/)
- In the Submission/Source/Preview Image boxes;
- Click PICK

[2016-06-25 08:00] sdgun commented on #846
![2016-06-25_13-30-40](https://cloud.githubusercontent.com/assets/4592712/16355596/0b36221e-3ad9-11e6-9379-a5222fe01b92.png)

[2016-06-25 08:16] sdgun opened #847 ""Drag and Drop your zip file here" must remove from the "Preview Image" section"
Description
-----------------------------------------------------------------
"Drag and Drop your zip file here" must remove from the "Preview Image" section

Steps to Reproduce
-----------------------------------------------------------------

- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest pag

[2016-06-25 08:27] sdgun opened #848 "Previous uploaded percentage displayed when we upload a new file"
Description
-----------------------------------------------------------------
Previous uploaded percentage displayed when we upload a new file

Steps to Reproduce
-----------------------------------------------------------------

- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an click 'Sub

[2016-06-25 08:30] sdgun commented on #848
http://www.screencast.com/t/viH0dZQk1cIh

[2016-06-25 08:33] sdgun opened #849 ""Remove" button is hard to find when we upload a file with a long name"
Description
-----------------------------------------------------------------
"Remove" button is hard to find when we upload a file with a long name

Steps to Reproduce
-----------------------------------------------------------------

- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an clic

[2016-06-25 08:34] sdgun commented on #849
![32738a6e00000578-3504412-image-a-6_145865451734132738a6e00000578-3504412-image-a-6_145865451734132738a6e00000578-3504412-image-a-6_145865451734132738a6e00000578-3504412-image-a-6_1458654517341](https://cloud.githubusercontent.com/assets/4592712/16355716/aad07dfc-3add-11e6-85f2-007fad9aec57.jpg)

[2016-06-25 13:14] sdgun commented on #836
http://www.screencast.com/t/zemVoD2oE6f7

[2016-06-25 16:23] sdgun opened #850 "Try again button is not working"
## Description

Try again button is not working
## Steps to Reproduce
- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as valid user
- Register
- Open the contest page an click 'Submit your entries' button
- (https://www.topcoder-dev.com/challenges/30049552/submit/file/)
- In the Submission/Source/Preview Image boxes;
- Click PICK A FILE
-

[2016-06-25 16:29] sdgun opened #851 "'Your submission to the following challenge has been uploaded successfully' e-mail sent even we SUBMIT wrong files (rar)"
Description
-----------------------------------------------------------------
'Your submission to the following challenge has been uploaded successfully' e-mail sent even we SUBMIT wrong files (rar)

Steps to Reproduce
-----------------------------------------------------------------

- Open the site (https://www.topcoder-dev.com/challenge-details/30049552/?type=design&nocache=true)
- Login as val

[2016-06-26 02:25] trupti1113 opened #852 "Upload submission link in the mail sent after registration does not direct to submission page."
**Steps to Reproduce:**
1. Register for the challenge.
2. An email is generated informing the candidate  of the registration.
3.Click on the submission link provided in the email

**Expected Result:**
The submission link provided in the registration email should redirect you to the submission page to upload the submission files.

**Actual:**
A default page with no facility to upload submission fil

[2016-06-26 06:50] skyhit commented on #852
this is a valid issue, but not related to the scope to test with

[2016-06-26 06:51] skyhit commented on #830
UI issue, not related to the scope to test.

[2016-06-26 09:45] skyhit commented on #831
@sdgun this is more like UI issue.

[2016-06-26 10:05] skyhit commented on #837
@sdgun what is Deep Link files?

[2016-06-26 10:06] skyhit commented on #838
@sdgun UI issue, will not counted

[2016-06-26 10:07] skyhit commented on #839
@sdgun this is because you uploaded a wrong file, it needs zip.

[2016-06-26 10:08] skyhit commented on #840
UI issue, not counted.

[2016-06-26 10:08] skyhit commented on #841
UI issue. you need to future check if that can be properly proceed.

[2016-06-26 10:08] skyhit commented on #842
UI issue.

[2016-06-26 10:11] skyhit commented on #846
UI issue, what if it is submitted?

[2016-06-26 10:12] skyhit commented on #847
UI issue.

[2016-06-26 10:12] skyhit commented on #848
UI issue.

[2016-06-26 10:13] skyhit commented on #849
UI issue.

[2016-06-26 10:13] skyhit commented on #850
UI issue.

[2016-06-26 10:14] skyhit commented on #851
but you will receive not proceed email, right?

[2016-06-26 12:54] sdgun commented on #837
Folders within folders: Sample file https://www.dropbox.com/s/rwtstf4md52codt/Deep%20Folder%20Structure.zip?dl=0

[2016-06-26 13:00] sdgun commented on #831
@skyhit No this is a functional issue:

If the Submission, source and preview files are mandatory, must validate them before clicking the SUBMIT button. Because if user forgot to upload one of the files, let's says the most important file as 'Source File - PSD' but the system sent an e-mail saying 'Your submission to the following challenge has been uploaded successfully'

Then the user will think

[2016-06-26 13:01] sdgun commented on #839
@skyhit Even we upload a zip file the default messages is also there.

[2016-06-26 13:07] sdgun commented on #846
@skyhit It is recognizes as a valid file

[2016-06-26 13:09] sdgun commented on #850
@skyhit I am talking about the functionality of the "try Again' button. not the layout issue. I think when we press it must try to upload the files again

[2016-06-26 13:11] sdgun commented on #841
@skyhit This is a functional I think; (This is about a validation issue) When you try to upload a 500MB+ file from PICK A FILE option, there is a validation.

But when we drag and drop a 500MB+ file here there is no validation and we can't drag and drop any other files to that placeholder. Please recheck it again.

![2016-06-26_18-40-58](https://cloud.githubusercontent.com/assets/4592712/16362483/

[2016-06-26 13:13] sdgun commented on #848
@skyhit I think this is a functional issue. When we upload a file and cancel it when it reaches 10% and then re-upload the file again will show the 10% and then reset the upload percentage value. Please re-check again.

[2016-06-26 13:24] sdgun commented on #851
@skyhit Yes I am getting 'Failed' message,  but after that I am getting "Your submission to the following challenge has been uploaded successfully: " message

So I think this will confuse the users. After the fail message why are we getting this message?

[2016-06-27 00:55] skyhit commented on #846
yes, for client side, empty can be allowed.

[2016-06-27 17:54] #852 closed

[2016-06-27 17:57] mdesiderio commented on #850
FYI @parthshah

[2016-06-27 17:57] mdesiderio commented on #849
@parthshah

[2016-06-27 18:01] mdesiderio commented on #848
@parthshah this is FYI, I don't think we can fix this, as it is a bug in the filestack component, but maybe we want to report to them as an issue?

[2016-06-27 18:10] mdesiderio commented on #847
@parthshah

[2016-06-27 22:26] mdesiderio commented on #845
@skyhit I was not able to reproduce this one ... Also there seems to be a discrepancy between the text and the image. The text says to set the submission rank to 2, and the image said the rank was supposed to be one.

Please try again and provide more detailed steps on how to reproduce this. A recording would help.

[2016-06-27 23:05] mdesiderio commented on #844
@skyhit I could not reproduce this one. It is possible that it is a slight misunderstanding, the declaration file is injected into the submission file, that is inside the submission folder of the zip that is downloaded from studio.

[2016-06-27 23:07] mdesiderio commented on #843
@skyhit I could not reproduce this one, can we possibly get a recording of the issue?

[2016-06-27 23:08] mdesiderio commented on #842
FYI @parthshah probably another filestack bug.

[2016-06-27 23:09] mdesiderio commented on #841
FYI @parthshah

[2016-06-27 23:09] mdesiderio commented on #840
FYI @parthshah probably a filestack bug that we can't fix.

[2016-06-27 23:10] mdesiderio commented on #839
FYI @parthshah

[2016-06-27 23:10] mdesiderio commented on #838
@parthshah

[2016-06-27 23:11] mdesiderio commented on #837
@parthshah probably a filestack limitation

[2016-06-27 23:11] mdesiderio commented on #836
@parthshah

[2016-06-27 23:12] mdesiderio commented on #835
@parthshah I think we should fix this one in the frontend, as the service doesn't check if the files were downloaded or not. I think we need to make sure we don't change the status of the submission to PROCESS_PENDING if uploads didn't complete

[2016-06-27 23:12] mdesiderio commented on #834
@parthshah

[2016-06-27 23:13] mdesiderio commented on #833
@parthshah, not sure if this is something we can change in the filestack widget

[2016-06-27 23:13] mdesiderio commented on #832
@parthshah

[2016-06-27 23:14] mdesiderio commented on #831
Duplicate (or at least the same problem) of https://github.com/appirio-tech/topcoder-app/issues/835

[2016-06-27 23:14] mdesiderio commented on #830
@parthshah duplicate

[2016-06-28 00:09] skyhit commented on #844
@mdesiderio yes, I can not reproduce it too.

[2016-06-28 00:21] skyhit commented on #845
@mdesiderio yep, I can not reproduce it too.

[2016-06-28 00:21] skyhit commented on #843
@mdesiderio I can not reproduce it. @sdgun can you do a screencast about the problem?

[2016-06-28 05:05] sdgun commented on #843
@mdesiderio @skyhit

I can reproduce this.

Please follow the above steps, Please check the first note in the bug report: NOTE: **You need to upload several files earlier** and delete them from the design page (https://studio.topcoder-dev.com/?module=ViewSubmission&ct=30049552)

Check the video: http://www.screencast.com/t/h9UYewISP

[2016-07-04 01:14] parthshah commented on #839
@vikasrohit is this something that we can control?

[2016-07-04 01:18] parthshah commented on #837
@vikasrohit can you please investigate

[2016-07-05 06:37] vikasrohit commented on #832
@parthshah Do we really need upload progress modal now? I guess, as individual file is already uploaded to the filestack's staged server and progress is shown for individual item, we may not need this customer progress bars. We even don't upload progress in the progress modal and it would seem to collapse without showing progress.

[2016-07-05 07:05] vikasrohit commented on #837
@parthshah @mdesiderio I am not able to reproduce the issue with the given sample file... its being successfully uploaded for me on local.

[2016-07-05 07:20] #847 closed

[2016-07-05 07:20] #849 closed

[2016-07-05 09:09] #837 closed

[2016-07-05 18:39] parthshah commented on #851
Can't reproduce this now. Filepicker validations won't allow rar file extension.

[2016-07-05 18:39] #851 closed

[2016-07-05 18:40] parthshah commented on #850
'try again' should take the user back to the submission page. It doesn't automatically re-try uploading the file.

[2016-07-05 18:42] parthshah commented on #848
Yep, this is definitely a filestack ui issue. I dont think its a big deal since it does reset to 0%.

[2016-07-05 18:42] #848 closed

[2016-07-05 18:55] parthshah commented on #841
This seems to be a problem with Filepicker again. Drag and drop doesn't display file is too big error message. But I was able to upload a file with valid size after that. Will follow up with filestack but I think this is a lower priority fix.
@fnisen fyi

[2016-07-05 18:59] parthshah commented on #842
Bug with Filestack

[2016-07-05 18:59] #842 closed

[2016-07-05 19:00] parthshah commented on #838
@vikasrohit .. can you please look into this css issue.

[2016-07-05 19:03] parthshah commented on #836
can not reproduce.

[2016-07-05 19:05] parthshah commented on #834
merged fix to dev.

[2016-07-05 19:05] #834 closed

[2016-07-05 19:06] #830 closed

[2016-07-07 11:51] #839 closed

[2016-07-07 21:36] parthshah opened #862 "After clicking logout user is redirected to an empty page."

[2016-07-15 06:57] vikasrohit opened #869 "Occasional blank screens after accounts app integration"
In our previous release, we have delegated all login/reg flows to the accounts app which handles all accounts related flows for all apps in topcoder ecosystem. It seems to work great with few glitches. One of them is that since this change is deployed on production, users are facing occasional blank screens. This is typically happening after some inactivity in a browser session. We are using [post

[2016-07-24 05:19] vikasrohit commented on #862
@parthshah are you still facing this issue? I guess, it got fixed with fixes for blank screens.

[2016-08-03 06:26] vikasrohit commented on #869
Closing as it is fixed now.

[2016-08-03 06:26] #869 closed

[2016-08-03 06:30] vikasrohit opened #872 "Dashboard: challenge card links not working"
Clicking on the registrants or submissions links (right below "Assembly" on the card attached) causes the URL to change, but it doesn't actually load. The "Posts" links to the forum does work correctly.

[2016-12-06 22:53] parthshah opened #901 "Switch topcoder app to member service search URLs instead of internal-api (lambda)"
Member Service now supports member search and suggest features. Please switch internal-api.topcoder.com/v3/members/_search to point to https://api.topcoder.com/v3/members/_search instead.

fyi - @fnisen.
Once this is done we can deprecate internal-api.topcoder.com member lambda function.

[2016-12-09 13:37] vikasrohit commented on #901
@parthshah @fnisen There are few more URLs that are using internal-api URL:

<pre>
export const memberSearchTagUrl = ${INTERNAL_API}/tags/
export const leaderboardUrl = ${INTERNAL_API}/leaderboards/
</pre>

[2016-12-13 06:50] vikasrohit commented on #901
bump up

[2016-12-13 17:55] parthshah commented on #901
memberSearchTagUrl : https://api.topcoder.com/v3/tags/?filter=name%3Djava
We dont have an endpoint for leaderboard yet though. I'll have Fireice run a challenge to migrate that to member service

[2016-12-15 17:46] ajefts opened #904 "[$20] - Copilot designation not showing up on Profile"
User "ombocorp" is a Studio copilot, shown here: https://community.topcoder.com/tc?module=ViewCopilotPool&size=30&page=5&view=1&sort=12. But his profile does not indicate that he's a copilot (only a designer): https://www.topcoder.com/members/ombocorp/

[2016-12-15 17:46] ajefts commented on #904
Note:  This is because the current api/page logic is showing the copilot status based on if they have ever copiloted something as opposed to the profile attribute that says they are a copilot.

[2016-12-15 17:47] ajefts opened #905 "[$20] - "X" to close Badges pop up is too far to the right"
![image](https://cloud.githubusercontent.com/assets/3812270/21235417/a42879b8-c2c4-11e6-996f-a1414b81c629.png)

[2016-12-15 17:47] ajefts opened #906 "[$60] - Replace "Load More" with infinite scroll"
On Challenges/Contests (https://www.topcoder.com/my-challenges/?status=completed), after first "Load More," we should switch to infinite scroll, as we do on Member Search

[2016-12-15 17:48] ajefts opened #907 "Community overview page not responsive"

[2016-12-15 17:48] ajefts opened #908 "[$40] - Bug when trying to reset password using Safari"
Case : https://topcoder.zendesk.com/agent/tickets/4733

When the member tried to open "password reset" URL using Safari, he redirected to the main login page. however when use same URL in Chrome it worked fine.

[2016-12-15 17:49] ajefts opened #909 "Change inactive page message to allow resending activation link"
When an inactive user tries to log in, they should be able to trigger an email with their activation link

[2016-12-15 17:54] fnisen commented on #909
Can I be involved in this one please? I think I originally created this issue.

[2016-12-15 17:58] ajefts opened #910 "Show/Hide $ from profile"
Add control for the user setting to show or hide earnings

[2016-12-15 17:58] ajefts opened #911 "Edit email from user settings"
Add the ability to edit email from user settings page.

[2016-12-15 18:40] fnisen commented on #911
Wanna be involved in this one, as well, please.

[2016-12-15 19:31] ajefts commented on #911
Oh, you will be @fnisen ...don't worry :) I need to get ramped back up on where we left the state of profiles, settings, data sources of truth, etc... But at least this will spark that conversation again

[2016-12-15 19:32] #831 closed

[2016-12-15 19:32] #832 closed

[2016-12-15 19:32] #833 closed

[2016-12-15 19:33] #836 closed

[2016-12-15 19:35] #840 closed

[2016-12-15 19:36] #841 closed

[2016-12-15 19:36] #846 closed

[2016-12-15 19:36] #862 closed

[2016-12-15 19:36] #850 closed

[2016-12-15 19:37] #845 closed

[2016-12-15 19:37] #844 closed

[2016-12-15 19:38] #835 closed

[2016-12-15 21:11] ajefts opened #912 "[$30] - Add Predix badges to profiles"

[2016-12-16 06:47] talesforce commented on #905
This is launched here - https://www.topcoder.com/direct/contest/detail?projectId=30055975

[2016-12-20 15:43] ajefts opened #913 "Ability to show/hide earnings on profile"
Add a user setting so they can opt to show or hide their earnings on their public profile page.

[2016-12-20 16:06] ajefts opened #914 "Discussion Link on challenge pages"
Clean up the logic that shows this link.  In certain cases it does not show when it should.

[2016-12-20 17:07] ajefts opened #915 "Tasks v1"
Ability to launch F2F or Design F2F challenges as an assigned task.

[2016-12-22 21:19] MonicaMuranyi opened #917 "Captcha issue when applying as a reviewer"
Every time I want to apply as a reviewer in a challenge I have to add the captcha code multiple times although I enter the correct word. I often get an error page and then I have to click the browser back button and start again entering the captchas until it works. This doesn't happen consistently but it happens in 70% of cases.

[2016-12-24 08:53] Schpotsky opened #918 "[$20] - Documents attached to challenge page are not visible once the submission phase is over"
Once the submission phase is over, the documents attached under the "Downloads" section of a challenge details page are not available for download. it shows the following message "Downloads are no longer available for this challenge".

So, a reviewer needs to download the documents during the submission phase.

If a reviewer is assigned after the end of the submission phase, he/she will not be abl

[2016-12-28 11:56] talesforce commented on #909
@fnisen - Do you have any specific inputs on this? I was hoping to include this in the next challenge that I launch. Should I hold off until I hear from you on this? cc @ajefts

[2016-12-28 12:06] talesforce commented on #872
@ajefts - This is included as part of https://www.topcoder.com/direct/contest/detail?projectId=30056070 that has been launched today

[2016-12-28 12:07] talesforce commented on #907
@ajefts - This is included as part of https://www.topcoder.com/direct/contest/detail?projectId=30056070 that has been launched today

[2016-12-28 12:07] talesforce commented on #906
@ajefts - This is included as part of https://www.topcoder.com/direct/contest/detail?projectId=30056070 that has been launched today

[2016-12-28 12:15] talesforce commented on #918
@Schpotsky - This has always worked like this in the past as well. I will discuss with @ajefts if we intend to change this behaviour.

[2016-12-28 20:43] fnisen commented on #909
@talesforce yes, here is the scenario I'd like to support. Right now when a user registers for Topcoder (both member and customer), they need to confirm their email address by clicking an activation link that we send them. If they try to log in before confirming their email address, they'll see this page/message:

<img width="1276" alt="screen shot 2016-12-28 at 12 34 59 pm" src="https://cloud.git

[2016-12-29 14:19] vikasrohit opened #919 "Few Unit tests failing after angular 1.6.x release"

[2017-01-03 20:32] ajefts opened #922 "New Challenge Listing Page"

[2017-01-03 20:34] ajefts commented on #912
@talesforce Let's chat about this one tomorrow.  I'd like to get this going relatively soon. It involves adding a couple new badges to the existing badge framework.

[2017-01-05 17:00] dmessing opened #924 "Fix bundle.js for web arena"
Take a peek at this [medium post](https://medium.com/@taru.blm/investigating-a-slow-running-script-on-topcoder-82a422af3dfc#.eb2re7mcd)

------Copied from above MEdium Post)----
I wanted to try Topcoder web arena. Unfortunately, the very first practice problem I tried never loaded. I logged in/out and tried several browsers, but no luck.
I decided to debug. I can barely understand JavaScript, but

[2017-01-05 17:00] dmessing commented on #924
@talesforce think we could get this one added to the hunt?  Love to get it 🚀

[2017-01-11 15:35] ajefts commented on #912
Here are the images for the badges.

[tc-predix-community-badge.zip](https://github.com/appirio-tech/topcoder-app/files/699268/tc-predix-community-badge.zip)

@talesforce Can we get these added to the current sprite for the badges and get the profile page updated so it uses the new sprite? These badges should show up like the other badges do on the profile page.

We will be adding the data for the

[2017-01-17 14:15] dmessing commented on #924
@talesforce any updates? 🔍

[2017-01-17 19:01] parthshah commented on #901
@vikasrohit leaderboard API is now available through member service as well. https://api.topcoder.com/v3/leaderboards... please change the this urls.

[2017-01-17 22:33] #872 closed

[2017-01-17 23:06] birdofpreyru opened #932 "[$60] - User menu is missing at the challenge listing page"
Challenge listing page:
![screenshot-2](https://cloud.githubusercontent.com/assets/20144632/22043838/c6360798-dd11-11e6-914e-e35b0029407c.png)

The Dashboard page with the menu missing at the previous screenshot marked with the red circle:
![screenshot-1](https://cloud.githubusercontent.com/assets/20144632/22043848/d4b74714-dd11-11e6-9b8b-51fc6c23c263.png)

Probably it is due to an error in JS cod

[2017-01-17 23:19] birdofpreyru commented on #924
@ajefts It looks to me the Arena code, which should be fixed, is in another repo?

[2017-01-17 23:27] birdofpreyru commented on #912
@ajefts Do you mean by badges the image shown in the Skills section of the Profile page? It looks to me, there is no sprite for those, they are just stored and served as separate .svg images.

[2017-01-17 23:29] birdofpreyru commented on #918
@ajefts Should we change it so that Downloads stay available till the end of the review phase?

[2017-01-18 04:41] dmessing opened #933 "Open up forums.topcoder.com to robots"
We should allow Google to index our forums (obviously still following our rules and regulations

[2017-01-18 10:05] vikasrohit commented on #901
@parthshah  Done. Deployed changes to dev.

[2017-01-18 11:53] vikasrohit commented on #901
@parthshah It seems we need to publish the topcoder-app-r's new release to npm registry to get the changes reflected into topcoder-app. I tried doing that however, I don't have permissions to do that. I think Nick is the owner of the repo. I am not sure how we can publish now.

[2017-01-18 16:16] birdofpreyru commented on #933
@ajefts Where do we have the Forum related code? I guess, this issue is a simple modification of `robot.txt` in there? What are the `rules and regulations` to follow, is it necessary to still restrict robots access to some info?

[2017-01-18 16:49] ajefts commented on #905
@talesforce The latest is deployed to prod, but I don't see any change for this one.  Can you check?

[2017-01-18 16:53] ajefts commented on #912
Thanks for jumping in @birdofpreyru .  This is one we need to get done soon.

I'm referring to the badge modal you see if you click "Badges" under your profile pic:

![image](https://cloud.githubusercontent.com/assets/3812270/22073837/74b572a6-dd74-11e6-9d7a-310ad33b865f.png)

I believe it uses sprites like these:  https://github.com/appirio-tech/topcoder-app/blob/dev/assets/images/badge.grid.larg

[2017-01-18 16:55] ajefts commented on #918
We can actually change it so they are available until the end of appeals response, or end of review if there is no appeals.  However, these are not public attachments, so it should still be limited based on having a role on the challenge.  I believe the current API should be checking that already.

[2017-01-18 16:58] ajefts commented on #924
@birdofpreyru Yes, it's a different repo.  I believe you'll find it here:  https://github.com/appirio-tech/arena-web

The arena stuff will be a little trickier to work on since we haven't done development on it for a while and we'll likely need to do some work on dev environments and/or mocks.  But, let's give it a try and figure it out...

[2017-01-18 17:02] birdofpreyru commented on #912
Yeap, I've never seen these badges before, but just discovered them, and was about to edit my question here :)

So, it is ok, that most of the badges come in the groups with kind of progress bar, and your Predix Badge is just a square icon? I mean, when added, the Predix Badge should be just shown centred at a new line in that modal?

[2017-01-18 18:43] ajefts commented on #933
I believe this is the robots.txt that forums is using:  https://apps.topcoder.com/robots.txt

But that looks ok...

[2017-01-18 18:49] ajefts commented on #933
I just added apps.topcoder.com to our google webmaster console so we can see what's going on.  It appears to be crawling.  It might help us to describe the page structure to google in here to help it crawl and index....

[2017-01-18 20:26] birdofpreyru commented on #933
Do you mean to setup an automatic generation of sitemap for the forums, which can be then fed to Google.Webmaster to improve the crawling?

[2017-01-18 20:35] birdofpreyru commented on #918
EXPECTED FIX:

Change the deadline after which attachments under `Downloads` section of a challenge details page to be equal to the moment the challenge is over and the winners are known (i.e. either the end of the appeals response phase, or the end of the appeals phase, if there were no appeals). All other rules concerning the access to the attachments should stay the same as now.

[2017-01-18 20:47] birdofpreyru commented on #913
@ajefts Isn't it the same as #910 , or do you mean different things (like showing the earnings in Dashboard in one case, and in the Public Profile in the another case)?

[2017-01-18 20:55] birdofpreyru commented on #924
Actually, this issue is solved in the `dev` branch of that repo. And it seems there are multiple issues opened, which refer to this problem. People also say there, that the issue has been solved, but the updated was never deployed into production.

[2017-01-18 21:15] birdofpreyru commented on #917
@ajefts Is there any way to turn a test user into a reviewer, so it can be tested and fixed?

[2017-01-18 21:21] birdofpreyru commented on #911
@ajefts Is it in scope for the Bug Bash? I believe, this is mostly a work to be done on the backend side, and it is probably a big enough for a separate challenge, as just letting somebody to enter a new e-mail address is not secure. Some mechanism should be implemented, so that a notification is send to the old e-mail address to verify the change, etc.

[2017-01-18 21:24] birdofpreyru commented on #914
@ajefts Does the challenge details page belongs to this repo? I can find it so far, searching in the code for `Challenge Discussion`, or just `Discussion`.

[2017-01-18 21:29] birdofpreyru commented on #909
Any update on this?

[2017-01-18 21:39] fnisen commented on #911
@birdofpreyru yeah, we'd need something like that. The experience could be similar to GitHub's:
- You can not change an address per se
- You can add an email address that you then need to verify (from an email link)
- You can delete verified and unverified email addresses, but you cannot delete a verified email address if it's your last remaining one

[2017-01-18 21:40] fnisen commented on #909
@birdofpreyru no, no work has been done since my comment, as far as I know. You're welcome to pick it up. It may be too large of a scope for a bug bash, so you're welcome to run a challenge or whatever you think is needed.

[2017-01-18 21:44] fnisen commented on #901
I can ask Nick to reassign ownership, if you tell me exactly what you need... unless you guys have other ideas.

[2017-01-18 21:58] birdofpreyru commented on #905
I'm not sure, how can I add badges to a test user to see it in the locally deployed app. But as you say it has been deployed to prod, I've checked my profile, and it looks it has not been fixed properly. In fact, I see two cross-controls to close the modal, marked red on the screenshot (one of them is barely visible, as it overlays the modal title):

![screenshot-4](https://cloud.githubusercontent

[2017-01-19 05:26] vikasrohit commented on #901
Its better to transfer ownership to non personal account. I have workaround for now by pointing the topcoder-app to specific branch of the topcoder-app-r. @parthshah Do you have any other idea?

[2017-01-19 06:07] vikasrohit commented on #901
Just saw that @parthshah  has updated the release of both topcoder-app-r and topcoder-app which reflected the changes in dev environment. Thanks Parth.

@fnisen We don't need to change the ownership now as Parth fixed it with github releases instead of npm publish. However, I think from ownership perspective, we should transfer all ownerships to a non personal account.

[2017-01-19 06:07] #901 closed

[2017-01-19 09:12] talesforce commented on #905
@ajefts - Not sure if it's a merge issue but I can ask @iversonLv to look at the fix again.

BTW, I agree with the suggestion from @birdofpreyru to remove the x altogether and make the modal close on clicking anywhere outside - that's the simplest user experience.

[2017-01-19 09:53] iversonLv commented on #905
will take a look

[2017-01-19 14:39] birdofpreyru commented on #905
Thanks. I've checked both. In the first one I still don't quite like the position of the cross. The second one does not work for me, clicking on the empty space does not close the modal.

I'd like to see the following:
1. Move the cross button to the corner of the badges box, as shown in the screenshot (should still close the modal).
2. Ensure, that clicking outside of the badges still closes the

[2017-01-19 15:10] birdofpreyru opened #936 "Fix forums to avoid double posts"
https://github.com/topcoderinc/cab/issues/49

Time delay is not a proper solution though. Forum API, when a user POSTs a new message, should check that the message payload (or the destination thread) is different from that of the last message by the same user.

[2017-01-19 16:17] ajefts commented on #914
@birdofpreyru It's actually in this one:  https://github.com/appirio-tech/tc-site

[2017-01-19 16:34] ajefts commented on #917
yes.  I just made reviewer1/topcoder#1 as a code, f2f, and ui proto reviewer.

[2017-01-19 16:37] ajefts commented on #933
I connected the apps.topcoder.com domain to the webmaster console and I
started to describe the page structure to it with page highlighting.  I'll
monitor it's indexing activity...

On Wed, Jan 18, 2017 at 3:26 PM, birdofpreyru <notifications@github.com>
wrote:

[2017-01-19 20:08] birdofpreyru commented on #907
@talesforce It looks to me that the issue has been fixed, and the Community Overview page in the production version of TopCoder works fine now. Is there any reason, why this ticket has not been closed?

[2017-01-20 00:39] birdofpreyru opened #938 "[$30] - Challenge details page needs some enhancements in its CSS styling"
### Expected Fix:
1. Have a look at this sample challenge page: https://www.topcoder.com/challenge-details/30056243/?type=develop&noncache=true
We need some corrections in CSS to make it look more pretty, than it is now.
    1. Spaces between headers and paragraphs should be corrected. The space between any header and the following paragraph should be equal to the current spacing between two parag

[2017-01-20 00:53] birdofpreyru commented on #906
I see, this has been pushed into production, but this issue needs further fixes:
1. As of now, the loading of additional portion of past challenges is triggered when the user scrolls to the very end of the currently rendered page. It should be triggered a bit earlier (e.g. when the scrolling approaches the last row of challenges loaded before), so that user experience is smoother.
2. Now, when the

[2017-01-20 02:48] talesforce commented on #907
@birdofpreyru - I did not close the tickets as the PR had not been merged earlier due to some failing tests. As mentioned above, the challenge was  https://www.topcoder.com/direct/contest/detail?projectId=30056070

Feel free to close this and other tickets listed in that challenge if they are working correctly cc @ajefts

[2017-01-20 12:47] birdofpreyru commented on #924
@ajefts Have you seen my previous comment? Just to be sure for future, do you see them only if I tag your handle explicitly?

[2017-01-20 12:48] #907 closed

[2017-01-20 15:58] ajefts commented on #924
yes, please mention me on things I need to reply to.  I'll "watch" the other stuff, but won't have the bandwidth to closely follow every thread.

So, for this one...if it's already fixed in the dev repo...then this becomes a deployment effort.  We haven't deployed web arena in probably over a year.  Could we run something to validate that the dev repo is in a good state?  Maybe run a challenge tha

[2017-01-20 16:11] birdofpreyru commented on #924
@ajefts Running such challenge in principle sounds like a good idea to me. The only thing, that we need to outreach to the people who do use the Arena, to participate and review it. Something like, they will have to deploy it locally and carefully test that all the features are working, capturing it all on video, and providing a list of tested/detected issues, and then reviewers, also familiar wit

[2017-01-20 16:24] birdofpreyru commented on #924
@ajefts Also, looking at the list of issues opened in the Arena repo (208!!) it looks like there is a lots more staff which can be fixed. Should it also be considered to be a part of this Bug Bash, or should I focus on the main site only, at the moment? Also, can I count on copilot payments for co-piloting all this (I mean, I have volunteered to work on this primarily to get the experience of co-p

[2017-01-20 16:42] ajefts commented on #924
For the arena testing, ideally we'll get some arena competitors to help test...but let's also get some automated tests written.  Part of the first challenge will simply be validating the environment.  Once we have it running well in dev, we can reach out to algo competitors to help test with real use cases.

As far as budget, don't worry for now. I'll tell you when/if we need to slow down.

For th

[2017-01-20 21:24] ajefts commented on #913
You're right.  It's a duplicate.

[2017-01-23 13:59] #913 closed

[2017-01-23 16:26] birdofpreyru commented on #914
@ajefts

I have revised the code, it looks to me, that the link is working exactly the way it is supposed to: it is shown to a visitor if, and only if he has been registered for a challenge.

In the ticket https://github.com/topcoderinc/cab/issues/31 Nick says:

I'd say, whether the challenge is opened or closed has no influence now, the only thing which matters, is whether the visitor is logged i

[2017-01-23 19:17] birdofpreyru commented on #917
@ajefts @MonicaMuranyi Should I see the captcha at the same page, where I see the open review positions, and have the `Apply Now` button? As when I try test reviewer on www.topcoder-dev.com, I don't see it there, but also it does not allow me to press `Apply Now` - nothing happens.

@ajefts Also, which repo hosts the reviewer auction code?

[2017-01-23 20:20] ajefts opened #939 "[$20] - Update CAB members on the Community Overview page"
We need to update the CAB members with the 2017 list on this page:

https://www.topcoder.com/community/members/

[2017-01-23 20:21] ajefts commented on #939
@birdofpreyru I'm not sure if you have this one on the list, but if not let's add it.  This would be a really good one for someone to start with if they want to get used to the env...

[2017-01-23 22:49] birdofpreyru opened #940 "[$40] - Several fixes related to Join / Log In buttons in the top menu"
Log out of TopCoder, and open a challenge details page (e.g. https://www.topcoder.com/challenge-details/30056183/?type=develop). When the window is wide you see such header:
![tmp-1](https://cloud.githubusercontent.com/assets/20144632/22226231/e3cb1cea-e1c5-11e6-9466-35c931f86c7c.png)
Note that both JOIN and LOG IN buttons do redirect to the same login page. Correct the JOIN button to redirect to

[2017-01-23 22:58] birdofpreyru commented on #939
### Expected Fix
Just update the CAB members section at that page with the new members.
The 2017 CAB members are listed here: https://www.topcoder.com/community/member-programs/topcoder-community-advisory-board/

[2017-01-23 23:08] birdofpreyru commented on #838
Tested on Win 10, IE 11, the issue seems to be fixed already, thus I am closing it.
![tmp-3](https://cloud.githubusercontent.com/assets/20144632/22226925/d998e48e-e1c8-11e6-85e8-035b56eeb6fb.png)

[2017-01-23 23:08] #838 closed

[2017-01-23 23:25] birdofpreyru commented on #908
I can't test this issue, as I don't have Mac. Thus, in this ticket you are supposed to test whether this issue is indeed present on Safari:
1. If the issue is valid, you should fix it and provide a short video demonstrating that your fix works.
2. If the issue is not valid, just provide a short video confirming it. The payment will be just $10 in this case.

[2017-01-24 14:13] mhikeo commented on #906
@birdofpreyru I'd like to take up this ticket. Thanks.

[2017-01-24 14:14] birdofpreyru commented on #906
@mhikeo You have it :)

[2017-01-24 14:20] ThomasKranitsas commented on #939
Can I work on this one?

[2017-01-24 14:21] birdofpreyru commented on #939
@ThomasKranitsas Sure :)

[2017-01-24 14:38] shizhouxing commented on #905
Hi, I'd like to fix this issue. But I don't have the permission currently. Could you please give me the permission?

[2017-01-24 14:39] ThomasKranitsas commented on #939
@birdofpreyru This ticket is ready for review :)

[2017-01-24 14:40] birdofpreyru commented on #905
@shizhouxing The issue is you to work on it. I don't yet have enough permissions myself to invite you to the repo, so just comment in the issue discussion, to pick it up, or say that it is ready for review.

[2017-01-24 14:42] birdofpreyru commented on #939
@ThomasKranitsas OK, great!

[2017-01-24 14:42] ThomasKranitsas commented on #938
@birdofpreyru Can you add me on this one? Thanks!

[2017-01-24 14:43] birdofpreyru commented on #938
@ThomasKranitsas Ok, it is yours.

[2017-01-24 15:00] lijulat commented on #932
@birdofpreyru Can I Get access to this ticket?

[2017-01-24 15:02] birdofpreyru commented on #932
@lijulat It is yours :)

[2017-01-24 15:02] lijulat commented on #932
@birdofpreyru Thanks

[2017-01-24 15:26] dmitrysobolev commented on #908
Please assign me to this issue, I have no permissions to do that

[2017-01-24 15:28] birdofpreyru commented on #908
@dmitrysobolev It is yours :)

[2017-01-24 15:57] shubhendusaurabh commented on #904
@birdofpreyru can u assign this to me? Thanks

[2017-01-24 15:58] birdofpreyru commented on #904
@shubhendusaurabh you have it.

[2017-01-24 16:13] ThomasKranitsas commented on #938
So the PR for this will be against the https://github.com/appirio-tech/tc-site repo and I'll just mention this ticket there, correct?

[2017-01-24 16:15] birdofpreyru commented on #938
@ThomasKranitsas Sure, all PR against the corresponding repos, just reference them from the original issue tickets, so that nothing is lost.

[2017-01-24 16:42] shubhendusaurabh commented on #904
@birdofpreyru created PR #943

[2017-01-24 16:49] shubhendusaurabh commented on #940
@birdofpreyru please assign this to me. Thansk

[2017-01-24 16:50] birdofpreyru commented on #940
@shubhendusaurabh OK.

[2017-01-24 16:58] shubhendusaurabh commented on #940
@birdofpreyru The login and register buttons actually hide under the dropdown in responsive mode. The login link appearing is extraneous.
![buttons](https://cloud.githubusercontent.com/assets/1818387/22257493/43a5b4fe-e284-11e6-8ac5-333a0afa0ea4.png)

So expected fix for this would be to hide it and correct the endpoint for join button?

[2017-01-24 17:03] birdofpreyru commented on #940
@shubhendusaurabh Let's duplicate these buttons for now. I.e. those in the dropdown menu should remain and function as they do now, and you still add to the corner of the top menu these buttons looking and functioning similarly to how they do in the widescreen mode.

[2017-01-24 17:14] mhikeo commented on #906
@birdofpreyru Which user has enough data to test?

[2017-01-24 17:16] birdofpreyru commented on #906
@mhikeo If you can configure it to work against production database, then my profile has enough challenges in the history to test it.

[2017-01-24 19:34] birdofpreyru commented on #904
@shubhendusaurabh I've merged in your PR, as it solves the issue for the user from the original issue's description, but I leave the issue open for, as I have found, that it is not enough to solve the original problem. E.g. if you look for my profile (I've just become the copilot), I am in the list of copilots here: https://community.topcoder.com/tc?module=ViewCopilotPool&size=30&view=1&sort=0 but

[2017-01-24 20:03] lijulat commented on #932
@birdofpreyru

https://github.com/appirio-tech/tc-site/pull/458

[2017-01-24 20:51] birdofpreyru opened #944 "[$5] - [Competitive Programming] - links are different when pages are loaded"
See this issue ticket: https://github.com/appirio-tech/tc-site/issues/438 (it is also valid with FireFox 50.1.0 on Ubuntu 16.04)

It looks to me, that if an URL contains a whitespace, it is a browser dependent thing, whether it is replaced by `%20` code, or not. At the same time, if we replaced the whitespace in that link with dash, I see that the URL
https://www.topcoder.com/community/competitive

[2017-01-24 20:59] birdofpreyru opened #946 "[$20] - Non-critical errors in console when accessing the website"
Just access www.topcoder.com with the dev. console open, and you'll see many errors, which do not lead, though, to any visible errors in the page:
![screen-2](https://cloud.githubusercontent.com/assets/20144632/22266421/43d117f6-e280-11e6-8a72-bf32873932e4.png)

It will be cool, though, to check what is the reason of these errors, and to fix it.

[2017-01-24 21:01] shubhendusaurabh commented on #904
another issue with the API is that it does not return copilot stats, so copilot badge link doesn't work
https://api.topcoder-dev.com/v3/members/ombocorp/stats/

[2017-01-24 21:04] birdofpreyru commented on #904
@shubhendusaurabh OK, now I got what is the problem with stats you was referring to, thanks. Let's wait for additional information from @ajefts about the involved backend code, and then we decide what to do with this ticket.

[2017-01-24 21:12] birdofpreyru opened #947 "[$5] - Missing Blog link in the menu"
Open www.topcoder.com and shrink the window to a small width. Open the dropdown main menu. Do you see the Blog link? No, but it is there! If you are lucky, you can even click on it and thus browse to the blog. A tiny CSS issue, I guess. Must be fixed.

![screen-3](https://cloud.githubusercontent.com/assets/20144632/22266933/28969d24-e282-11e6-9f9a-82ef155d51b2.png)

[2017-01-24 22:32] birdofpreyru commented on #940
@shubhendusaurabh OK. What you have done looks fine, but needs one additional thing: similar changes should be done in this repo: https://github.com/appirio-tech/tc-site which hosts the code for challenge listings and challenge details pages. It has its own copy of the header menu, which also should be corrected accordingly. Just add you changes in there, and we'll be done with this.

[2017-01-24 22:33] harimp commented on #944
I'll take a look at this issue. Please assign this to me.

[2017-01-24 22:36] birdofpreyru commented on #944
@harimp It is yours. Also I've send you invitation to the repo, so you can assign yourself, and change labels in future.

[2017-01-24 22:37] harimp commented on #944
Thank you! 👍

[2017-01-25 03:35] rrandom commented on #947
please assign this to me

[2017-01-25 04:09] shizhouxing commented on #905
@birdofpreyru Now it's ready for review.

[2017-01-25 09:23] shubhendusaurabh commented on #940
@birdofpreyru see PR https://github.com/appirio-tech/tc-site/pull/459

[2017-01-25 11:30] shubhendusaurabh commented on #918
appirio-tech/tc-site/pull/460

[2017-01-25 13:28] birdofpreyru commented on #904
@shubhendusaurabh Actually, now it does return `copilot: true` for my profile, should be a caching-related delay in the API. The stats-related issue relates to API, and we don't touch the API for now. Thus this ticket is accepted.

[2017-01-25 13:36] birdofpreyru commented on #917
### Expected Fix
1. Find out, how to test for this issue with the locally deployed App (keep in mind, that the related code, might be in another repo).
2. Fix the issue, and provide brief comments, how to test.

[2017-01-25 14:55] ajefts opened #951 "Data Science RSS Feed broken"
Refer to http://apps.topcoder.com/forums/?module=Message&messageID=2179445

This feed is currently generated by a small heroku app.  We could fix that app, or take a new approach to generating these feeds...maybe from the v3 challenges API...

[2017-01-25 14:56] ajefts commented on #951
@birdofpreyru Can we add this one to the list?

[2017-01-25 14:58] birdofpreyru commented on #951
@ajefts Sure, just refer, please, to the repos which contain related code for the backend API and for that Heroku App you mention.

Also, can you please check your Slack? I've send you a message there about login problems I suddenly got with `topcoder-dev.com`.

[2017-01-25 15:14] ajefts commented on #951
@birdofpreyru Here is the repo for it.  I'll add you to the heroku app too.

As I mentioned...I'm not tied to this heroku service as the way to do this.  It was kind of a quick hack years ago to throw a feed together.

[2017-01-25 15:17] birdofpreyru opened #952 "[$10] - Inconsistent top menu in various sections of the site, and also with different window size"
See the screenshot, and the last comment in the thread.

[2017-01-25 16:22] #905 closed

[2017-01-25 16:23] #939 closed

[2017-01-25 16:24] #918 closed

[2017-01-25 16:24] #904 closed

[2017-01-25 16:30] #947 closed

[2017-01-25 16:48] birdofpreyru commented on #944
@harimp There are also some links to correct in https://github.com/appirio-tech/tc-site, which has its own copy of the top menu. Please, correct them there as well.

[2017-01-25 17:02] harimp commented on #944
I guess I missed something in review. I will get on it.

[2017-01-25 17:14] birdofpreyru commented on #940
@shubhendusaurabh Can you further look into how this works in `tc-site` repo?

Your changes there looks to me like a movement in the right direction, but when I run that code locally, in the narrow screen view, the `Join` button does not work. The `Log in` button in the narrow screen mode, and both `Join` and `Log in` buttons in the wide screen mode do work, but they redirect to some other Login/R

[2017-01-25 18:43] shubhendusaurabh commented on #940
@birdofpreyru I have updated my PR. Thanks for the help, I have made the changes as per your info.
Challenge details page uses the HTML version while rest of the pages use PHP version, so this fix should work now.
I had a previous vagrant setup, so I am using that. :)

[2017-01-25 18:47] harimp commented on #944
Added a pull request at https://github.com/appirio-tech/tc-site/pull/461.

[2017-01-25 18:57] birdofpreyru commented on #952
@ajefts

I've noticed that the top menu for the narrow screen at the dashboard page (i.e. the one served by `topcoder-app`) contains a whole section of links missing in all other reincarnations of the top menu (wide screen from `topcoder-app` and both narrow and wide screen ones from `tc-site`):
![screen-4](https://cloud.githubusercontent.com/assets/20144632/22304536/1d8b644e-e338-11e6-9fc6-ffe548

[2017-01-25 20:04] #940 closed

[2017-01-25 20:34] birdofpreyru commented on #951
@ajefts OK. I'll just fix it myself. The problem is that the deployed instance of this Heroku App, when calls TC API to get the listing of data challenges, passes in the request `pageSize=2147483647`, and the API rejects `pageSize` larger than 100. When I deployed this Heroku App locally, it uses `pageSize=51` and the data science RSS works fine.

[2017-01-25 21:06] vbaileytopcoder opened #954 "[$10] - Blank Data Science Winner Pages"
Choose to view winners for any challenge:

https://www.topcoder.com/challenges/data/past/?pageIndex=1

[2017-01-25 21:10] vbaileytopcoder opened #955 "Copilot Profile Picture Resizing"
Image resizing not working on profile pictures:

https://community.topcoder.com/tc?module=ViewCopilotPool&size=20&view=0&sort=12

[2017-01-25 21:38] birdofpreyru commented on #951
@ajefts Fixed by deploying the latest version of the App from the repo to Heroku. It looks like everything is working fine now, but I have not look too much into details, so if somebody report any problems with RSS feeds, we should not be very surprised.

[2017-01-25 21:39] #951 closed

[2017-01-25 21:59] ajefts commented on #951
Awesome @birdofpreyru.  what would you have priced this at?

[2017-01-25 22:07] birdofpreyru commented on #951
@ajefts This wasn't that difficult, to ask for a separate payment for it :) Though, if at any time you feel like adding more $$$ for my co-piloting work, I never reject money :-D

[2017-01-25 22:59] #944 closed

[2017-01-25 23:06] birdofpreyru commented on #955
@ajefts Which repo does host related code?

[2017-01-25 23:18] birdofpreyru commented on #954
It looks like an easy bug to fix, thus the initial payment is small. I'll increase it, if turns out that the issue is larger that I think now.

The related code is inside https://github.com/appirio-tech/tc-site
It looks that, when loading the winners page, it makes an incorrect call to the backend, which is rejected by the API, thus an error is triggered in the frontend `.js` and the page does not

[2017-01-26 00:23] birdofpreyru opened #957 "[$60] - Fix the local deployment of the Arena"
Clone https://github.com/appirio-tech/arena-web and try to deploy it locally according to `README.md`. You will see, that `grunt` command fails due to some broken dependencies. Your goal here is to fix the local deployment, so that it does deploy and works similarly to the production version at https://arena.topcoder.com. Make sure to modify `README.md` so that it is clear how to rapidly deploy th

[2017-01-26 01:47] Colinh84 commented on #917
@birdofpreyru Can I take this issue please? For some reason, I am unable to assign myself..

[2017-01-26 01:50] birdofpreyru commented on #917
@Colinh84 Sure, it is yours. I'll also update your rights in this repo in a moment

[2017-01-26 01:50] Colinh84 commented on #917
@birdofpreyru Thanks!

[2017-01-26 02:41] Colinh84 commented on #917
@birdofpreyru I'm not sure this one can be solved - The review system is not part of this repo, and there is no captcha related code either...

[2017-01-26 08:17] shubhendusaurabh commented on #954
@birdofpreyru Challenge-details page does not support data science challenges. Is there any other link for viewing winners for data science challenges? If not then, we can hide it.

[2017-01-26 08:27] birdofpreyru commented on #954
@shubhendusaurabh Does the API return necessary data to display the winners for data sci challenges? If so, how difficult will it be to tweak Challenge-details page (or to create a new similar page, for data sci challenges) to show the winners? I'd prefer to find a way to make it work, as of now, I don't see any way at all to see the winners of past data sci challenges, do you see any?

[2017-01-26 08:29] birdofpreyru commented on #917
@Colinh84 Well, you are not restricted to this repo only. The code should be in some of the repos belonging to `appirio-tech`, I believe all they are public, so you can look around, to see if you can find it.

[2017-01-26 08:32] birdofpreyru commented on #938
@ThomasKranitsas Any update on it? Are working on it?

[2017-01-26 08:32] birdofpreyru commented on #908
@dmitrysobolev Any update on this?

[2017-01-26 08:33] birdofpreyru commented on #906
@mhikeo Any update on this?

[2017-01-26 08:34] Karanja-the-african-hippy commented on #946
idk how to really use this github thing... but I'd like to help..... so my question is hoe do I self assign myself this bug

[2017-01-26 08:39] birdofpreyru commented on #946
@Karanja-the-african-hippy Ok, the issue is yours to look into it.

[2017-01-26 09:10] #932 closed

[2017-01-26 09:37] ThomasKranitsas commented on #938
Hey @birdofpreyru! Sorry for the delay.. I'll submit PR in the next few hours

[2017-01-26 09:38] birdofpreyru commented on #938
@ThomasKranitsas No worries, no need to hurry. Just checking that you have not forgot about it :)

[2017-01-26 14:07] ThomasKranitsas commented on #938
@birdofpreyru I submitted a PR here: https://github.com/appirio-tech/tc-site/pull/462

[2017-01-26 14:53] ajefts commented on #955
@birdofpreyru That's part of what we call the "/tc" app, which is still in subversion:  https://coder.topcoder.com/internal/web_module/trunk/src/main/com/topcoder/web/tc/view/copilot/copilotPool.jsp

[2017-01-26 14:55] ThomasKranitsas opened #958 "[$40] - Add a COMPLETE APPEALS button when the appeals phase is open"
Currently the **Appeals Phase** takes 24h and in most cases there are only few appeals.
Most members don't know or they just ignore the fact that they can actually click that button in the Online Review to close the Appeals phase sooner.

I believe we should add a **Notification/link** on the challenge details page when the Appeals phase is open to tell the user that he/she can go and complete the

[2017-01-26 15:07] shubhendusaurabh commented on #954
@birdofpreyru Data science challenges are bit different from development or design challenges. Like SRM challenges have winners based on `room` and `rating color`.
Topcoder API docs [http://docs.tcapi.apiary.io/#reference/data/get-algorithm-marathon-challenge-detail/get-algorithm-marathon-detail?console=1] also doesn't mention any relevant API for the same.

[2017-01-26 15:49] mhikeo commented on #906
@birdofpreyru I'm releasing this for others to have a look.

[2017-01-26 18:34] birdofpreyru commented on #954
@shubhendusaurabh Ok. Let's just link those `View` links to these pages `https://community.topcoder.com/longcontest/stats/?module=ViewOverview&rd=16828`. If I am not missing anything, it should make the trick for any marathon match?

[2017-01-26 18:58] birdofpreyru commented on #958
@ThomasKranitsas It is really cool you have remembered about this one!

As I believe it is more useful to have these links in the challenge cards in the Dashboard (and also somewhat easier to fit them there in a pretty way), let's start with that one.

In the Grid view it should look like this:
![screen-5](https://cloud.githubusercontent.com/assets/20144632/22345517/a8444be6-e400-11e6-910a-7e5aa23

[2017-01-26 19:03] lijulat commented on #957
@birdofpreyru A quick question I have corrected the grunt errors and the application builds locally. When i try to browse the application it redirects me to the live login screen and after login it take me to live tc dashboard. Should we correct the code to fix this behaviour?

[2017-01-26 19:12] birdofpreyru commented on #957
@lijulat Are you able to access the locally deployed Arena, if after the login you manually type its address into URL? If yes, then I'm okey with that (this behavior is not good, but the same happens when I'm accessing the production version of Arena without being logged in), but it should be mentioned in `README.md`.

Also, please verify that it is generally working properly. E.g. when you intera

[2017-01-26 19:35] lijulat commented on #957
@birdofpreyru i am unable to verify because its configured to http://tc.cloud.topcoder.com/ which i think is a locally deployed version . Do you have details for the live api ?

[2017-01-26 21:36] lijulat commented on #957
@birdofpreyru I would need the correct websocket url  currently it is http://tc.cloud.topcoder.com:5016.

I managed to get the other urls from the tc-site repo.

[2017-01-26 21:42] Karanja-the-african-hippy commented on #946
There are no visible errors on the page as this error is being brought up by the type of browser being used. Even somewhere in the raven.js file there is a comment from its developer saying it may not work on some browsers
![debug](https://cloud.githubusercontent.com/assets/11226110/22351506/5865d4f4-e429-11e6-89ae-91638ddcfec5.PNG)
. This issue will not affect how the page works as its an issue r

[2017-01-26 22:01] birdofpreyru commented on #957
@lijulat Do you mean, you can't figure out yourself the correct URL for this socket?
@ajefts Do you know what does this correspond to, and what should be the correct URL?

[2017-01-26 22:06] lijulat commented on #957
@birdofpreyru yes. Since all the urls in the config are not valid or refer to some locally deployed urls. Couple of the urls i was able to figure out the hosted ones from the tc-site config. But there is URL named websocket url which I am unable to figure out.

[2017-01-26 22:07] birdofpreyru commented on #946
@Karanja-the-african-hippy Well, actually, I see all these errors in Chrome 55.0 on Ubuntu 16.04. I agree, that I don't see any visible impact of these errors on the web-site behavior, other than spamming the JS console. Though, the idea of this ticket is that it is still not good to have JS errors, even if they have no visible side effects, so we should do something to avoid them. Either refactor

[2017-01-26 22:11] birdofpreyru commented on #957
@lijulat Ok, let's wait for a reply from @ajefts, I guess he just knows what this URL should be.

[2017-01-26 22:13] birdofpreyru commented on #957
@lijulat By the way, have you tried to load the production version of the Arena with Chrome development console open at the Network tab? It logs you all network requests from the page, and probably, you can find out from there what this address should be.

[2017-01-26 22:13] Karanja-the-african-hippy commented on #946
I think browser checks are the easiest solution but how many browsers are to be included, only major browsers or all possible browsers.  Though this is not the best solution, its wouldn't be bad as this functionality is not especially the most important.

[2017-01-26 22:17] Karanja-the-african-hippy commented on #946
So if I wrote the patch code for this how am I to test it out if its by raven team?

[2017-01-26 22:22] birdofpreyru commented on #946
@Karanja-the-african-hippy Well, actually I'm not quite sure what is the Raven? Can we avoid calling this library on the browsers which have problems with it, or to somehow modify the calls in those cases, to avoid the errors?

About how many browsers, here are the stats: https://en.wikipedia.org/wiki/Usage_share_of_web_browsers
Thus, I would really like to see no errors in Chrome. If there is a r

[2017-01-26 22:23] birdofpreyru commented on #946
@Karanja-the-african-hippy To be honest, I am also a bit sceptical that the only problem with this is that code in that library, as it sounds strange, that something wrote a code for a library, which causes a problem in the major browser.

[2017-01-26 23:23] Karanja-the-african-hippy commented on #946
`var isChrome = !!window.chrome && !isOpera;	//chrome 1+
var isFirefox = typeof InstallTrigger !== 'undefined';    //Firefox 1.0+

//This stops the firefox 1.0+ and chrome 1+ from running this code

if (!(isChrome) && !(isFirefox)){

        if (originalConsoleLevel) {
            Function.prototype.apply.call(
                originalConsoleLevel,
                originalConsole,

[2017-01-26 23:24] Karanja-the-african-hippy commented on #946
[code]

[2017-01-26 23:25] Karanja-the-african-hippy commented on #946
this would disallow chrome and firefox from using this code.

[2017-01-27 02:30] Colinh84 commented on #917
@birdofpreyru I've found the repo responisble which is `tc1-tcnode`. However, I'm having trouble getting it deployed properly on my local linux environment, so I will let someone try this.

[2017-01-27 06:12] dmitrysobolev commented on #908
The bug could be easily reproduced in Safari https://accounts.topcoder.com/member/forgot-password, and it seems that the issue is in https://github.com/appirio-tech/accounts-app. At 'dev' environment everything works just fine in Chrome and Safari (http://accounts.topcoder-dev.com/member/forgot-password), and this is partly the reason why it is not easy to detect the bug.

[2017-01-27 07:19] birdofpreyru opened #960 "Private tasks should not be shown in the public challenge listing"

[2017-01-27 07:58] lijulat commented on #957
@birdofpreyru I got the address of the production version . But It's giving me connection time out error.  May be it doesn't allow connections from local deployment ?

[2017-01-27 08:02] birdofpreyru commented on #957
@lijulat I don't know :) If you tell me the address, I can also look into it a bit later.

[2017-01-27 10:08] #912 closed

[2017-01-27 10:12] birdofpreyru commented on #908
@dmitrysobolev Do you keep on working to fix it?

[2017-01-27 10:16] lijulat commented on #957
https://arenaws.topcoder.com

[2017-01-27 10:28] birdofpreyru commented on #946
@Karanja-the-african-hippy I had a look myself, and I believe, it is totally wrong. You click at the link `raven.js` in the error message in JS console, and it shows you the last code in the call stack, executed before the error message was printed. However, in this case this is actually the code handling errors processing, it does not cause the problem itself. The real problem is hidden somewhere

[2017-01-27 10:33] Karanja-the-african-hippy commented on #946
You can pass the ticket :)

[2017-01-27 11:40] birdofpreyru commented on #957
@lijulat Please, also push your current version of the code into your fork of the Arena repo, so that I can use it for testing.

[2017-01-27 15:26] dmitrysobolev commented on #908
Sorry, but i think I stop now. It could require much effort from my side because I am not familiar with the application in such a deep level.

[2017-01-27 16:40] jsuria commented on #946
Hi! I'd like to work on this issue and try to solve it :) Thank you!

[2017-01-27 17:20] ajefts commented on #952
I think that was intentional since those links are in the footer...

[2017-01-27 18:37] birdofpreyru commented on #946
@jsuria Cool! Let's bash this bug :)

[2017-01-27 18:48] birdofpreyru commented on #952
### Expected Fix

This is a pretty easy one:
1. Remove this section from the narrow-screen menu (it is in this repo).
2. Ensure that the spacing between the last item in the menu (which will be `Blog` now) and the bottom of the grey background of the dropdown menu remains nice.
3. Check the menu at the challenge listing page (that menu is shown by the code in https://github.com/appirio-tech/tc-sit

[2017-01-27 18:49] birdofpreyru commented on #908
@dmitrysobolev Are you interested to resolve this issue for a higher payment?

[2017-01-27 20:31] shubhendusaurabh commented on #906
@birdofpreyru For loading more indicator is it ok to use ripple effect currently being used other pages? Stylingwould feel more consistent.

What no of challenges should be loaded each time? 12?  16?

[2017-01-27 20:32] lijulat commented on #957
@birdofpreyru  https://github.com/lijulat/arena-web/

[2017-01-27 20:45] birdofpreyru commented on #906
@shubhendusaurabh If you feel that it looks nice, and more consistent with other places in the site, them I am totally agree for it. My line of thinking is: if scrolling down you reach the end, and you immediately notice that indicator, thus not trying to scroll further when you are supposed to wait, then we are fine. If in that place this indicator is not the first thing, which catches your eyes,

[2017-01-27 20:45] shubhendusaurabh commented on #906
This is what i meant.
![loading](https://cloud.githubusercontent.com/assets/1818387/22386974/7442a73e-e4ff-11e6-9003-6b52e3ad8f48.png)

[2017-01-27 20:46] birdofpreyru commented on #906
@sumansaurabh This looks fine. With this one, probably, no need for labels.

[2017-01-27 23:25] dmitrysobolev commented on #908
I will try to resolve it on this weekend

[2017-01-28 14:21] jsuria commented on #946
Please set this task as OPEN for now. Something came up and I won't be able to work on this and finish on time. I'll select another task when I get back. Sorry on short notice.

[2017-01-28 14:27] ThomasKranitsas commented on #958
Is that possible to have a test challenge in Appeals phase so I can test it?

And also have the member `dan_developer/dantopcoder123` registered to that challenge?

[2017-01-28 15:05] birdofpreyru commented on #958
@ThomasKranitsas Sure, it is possible, but I don't know how to do it yet.
@ajefts please help

[2017-01-28 15:07] shubhendusaurabh commented on #952
@birdofpreyru Please elaborate on 2nd and 3rd requirements.
This is what the menu's are in app and site repos.

So, I need to match tc-site menu to topcoder-app menu? Add bottom padding in tc-site menu?

[2017-01-28 15:10] birdofpreyru commented on #952
@shubhendusaurabh yes, the should be some bottom padding, the same in both repos. Now it is absent in `tc-site`

[2017-01-28 20:22] MonicaMuranyi commented on #917
The captcha only appears after clicking the "Apply Now" button. Sorry for the late reply on this.

[2017-01-28 21:25] MonicaMuranyi opened #965 "[$20] - Challenge list page's layout is broken on mobile"
![screenshot_2017-01-28-23-01-46](https://cloud.githubusercontent.com/assets/946461/22399946/834ce556-e5a8-11e6-9ba4-1ccf8b269e82.png)

[2017-01-29 17:27] gets0ul commented on #946
Is this still open?
Somehow I cannot assign myself.
Thanks.

[2017-01-29 17:30] #952 closed

[2017-01-29 17:41] birdofpreyru commented on #946
@gets0ul It is yours

[2017-01-29 18:40] birdofpreyru opened #967 "[$20] - Sitemap, About Us, Contact Us, etc. links in the narrow screen view"
Look at the footer when the site is open in a wide window:
![scr-1](https://cloud.githubusercontent.com/assets/20144632/22406811/f7518748-e659-11e6-9ff8-ec7a77a91e24.png)

Now, look at the footer when the site is open in a narrow window:
![scr-2](https://cloud.githubusercontent.com/assets/20144632/22406814/02dac9f8-e65a-11e6-8593-b55b4cfabef2.png)

You see, that the links `Sitemap`, `About Us`, `C

[2017-01-29 18:41] ThomasKranitsas commented on #958
@birdofpreyru @ajefts any update?

[2017-01-29 18:43] ThomasKranitsas commented on #967
@birdofpreyru I'll work on this one :)

[2017-01-29 18:59] birdofpreyru commented on #965
### Expected Fix

Fix the layout for the mobile screen width. I won't risk to draw the desired result, but the idea is that all control elements above and below the listing (track names, filters, view all, next, links, etc.) should be layed out vertically, one item after another, rather than in horizontal lines, like now.

The challenge listing code belongs to this repo: https://github.com/appirio

[2017-01-29 19:05] birdofpreyru commented on #958
@ThomasKranitsas Not from my side.

Well, in the mean time you may try to tweak the frontend code to work against the production database and to fetch `my-challenges` for a user different from the logged in one.

To achieve that you go to
`/topcoder-app/node_modules/appirio-tech-webpack-config/constants.coffee`
and in the `DEV` section of constants you change `API_URL` and `API_URL_V2` removing `-

[2017-01-29 19:26] #938 closed

[2017-01-30 09:39] ThomasKranitsas opened #969 "[$5] - Forum link on challenge details page for reviewers"
When I'm registered on a challenge with a `reviewer` role I can't access the challenge forum from the challenge details page. I have to either click the **Forum** link from OR or click the forum **icon** from the challenge card in the dashboard page.

Also in the challenge details page there are register/submit buttons which don't make sense for reviewers.

Check screenshot: http://take.ms/7omMo

[2017-01-30 10:29] iversonLv commented on #969
I remembered I discuss such case with @adroc who say there is something privacy policy for the flow.
So reviewer must access OR then forum not from detail page.

More info might need TC admin clarification.

[2017-01-30 13:06] #906 closed

[2017-01-30 13:16] birdofpreyru commented on #906
@shubhendusaurabh Ok. I accept this one, but still want to comment, that there is a flaw in your implementation (which has no impact now, but it will eventually).

You use the `INFINITE_SCROLL_OFFSET` constant as the fixed offset from the page's bottom to the control point, where you trigger the loading of the next chunk of challenges into the list. This relies on footer's height being constant, w

[2017-01-30 13:17] birdofpreyru commented on #908
@dmitrysobolev Any progress with this one? If not, I'd like to open this issue for pickup by other members.

[2017-01-30 13:34] birdofpreyru commented on #967
@ThomasKranitsas This needs the following changes:

1. Remove the `OTHERS` title, and ensure there is a bit larger padding between the top of the footer and the first link (`SITEMAP`).
2. Make the color of these footer links white (the same white as in the wide-screen view), and blue when hovered.
3. Decrease the spacing between social icons and `(C) 2016 Topcoder. All Rights Reserved`. Like twice

[2017-01-30 14:00] birdofpreyru commented on #946
@gets0ul I'm sorry, but just turning off warning messages on unhanded rejections is not what I expected to be done here. It does not fix the problems, it just hides them, and it is even worse.

After looking a bit more careful into the matter, it looks to me that these errors arise when the frontend attempts to interact with some 3-rd party service, related to Raven. It looks that it passes in wro

[2017-01-30 16:24] birdofpreyru commented on #954
@sumansaurabh Do you have any update on it?

[2017-01-30 16:42] gets0ul commented on #946
It is nothing to do with Raven.
If we disable the Raven, the same error messages are still produced.

Discussion in here, https://github.com/angular-ui/ui-router/issues/2889,
as I refer before in my previous pull request,
offer two solutions:

A workaround, hide those messages as they are missed rejection by ui-router (ui-router's fault)
or,
A fix, Upgrade the angular-ui-router version, as the rec

[2017-01-30 17:52] arifnyet commented on #917
@birdofpreyru can i pick up this ticket ?

[2017-01-30 18:03] ajefts opened #971 "[$5] - Add option to use new listings page"
As we get make progress on the new challenge listings experience, let's add a link to the new experience from the existing challenge listings page.  It should be something at the top that directs to user to try to new experience at www.topcoder.com/listings.

[2017-01-30 18:26] phinguyen712 commented on #917
@birdofpreyru may I have permission to pick up this ticket also?

[2017-01-30 19:11] birdofpreyru commented on #917
@arifnyet @phinguyen712
Well, @arifnyet was first, so the ticket goes to him for now.

[2017-01-30 19:17] birdofpreyru commented on #969
@ThomasKranitsas @iversonLv I agree, we can fix it, both looks like small frontend issues (just slight modifications of conditions for showing the buttons and links are necessary, and the info about your roles in a challenge, I guess, already is loaded into the controller). I'd say this is a $10 job. The only thing, I'm not sure yet how to test it.

[2017-01-30 19:29] birdofpreyru commented on #946
@gets0ul Great! The alternative fix, with the router upgrade and getting rid of the deprecated methods, I like a lot more. Accepted.

[2017-01-30 19:29] #946 closed

[2017-01-30 20:40] arifnyet commented on #917
i dont think i can solve this in 24 hrs... i need to solve the js file error first before i can test the captcha.... feel free to remove me if somebody else can solve this faster...

[2017-01-30 20:43] birdofpreyru commented on #917
@arifnyet Well, if you want to, feel free to play with this one a bit more, if @phinguyen712 does not mind.
Actually, this one is a bit tricky, as probably demands to deploy the backend code, which is java based... I have not managed to do it myself yet :/

[2017-01-30 20:54] arifnyet commented on #917
@birdofpreyru perhaps if someone can upload the latest newTCScript.js located in ./tc1-tcnode/tc-wars/static/src/main/webapp/js/reskin/newTCScript.js it could save me a lot of time of setting up multiple backends.. as you can see the error on the console said at line 823 the value is null which in the old script
`searchNeedle = searchBox.value,`
new script
`searchNeedle = searchBox ? searchBox.val

[2017-01-30 21:04] birdofpreyru commented on #917
@arifnyet Nope, at the moment I am really not sure what are you talking about. I have not managed to run that `tc1-tcnode` code myself yet :( @ajefts should be able to help, if he has time.

[2017-01-30 22:36] ajefts opened #972 "[$10] - lists in challenge specs"
A big complaint has been that unordered and ordered lists do not display correctly on the challenge details pages.  To reproduce, create or edit a challenge in Direct.  Add a list to the details.  View the challenge on the community site.

[2017-01-30 22:36] ajefts commented on #972
@birdofpreyru Would love to get a fix for this one if it's not already on the list.

[2017-01-30 22:51] birdofpreyru commented on #972
@ajefts It will be done!

Have you seen, we need your help in few issues:

To setup a test challenge in an appeal phase (so that add Complete Appeals / Go to Scorecards buttons into Dashboard, and potentially in challenge details pages):
https://github.com/appirio-tech/topcoder-app/issues/958

Here. I'm still struggling with deployment of the backend code, but it looks like somebody is already ahe

[2017-01-30 23:09] birdofpreyru commented on #972
### Expected Fix
- This should be fixed in the https://github.com/appirio-tech/tc-site repo.
- Here is the test challenge (you can also access it from the locally deployed `tc-site` frontend, which already has some enhacements of the challenged details page, not yet deployed into production): https://www.topcoder.com/challenge-details/30056243/?type=develop&noncache=true Both in the `CHALLENGE OVE

[2017-01-31 03:21] dmitrysobolev commented on #908
Still no progress, sorry. Please open it for pickup.

[2017-01-31 12:01] birdofpreyru commented on #954
@sumansaurabh Sorry, as no news for quite a few days, and no reply now, I'll release this ticket for pickup by other members.

[2017-01-31 13:19] arifnyet commented on #917
@birdofpreyru i dont think i manage to do this.. even with the backend deployed it still give me TCWebException

[2017-01-31 13:23] birdofpreyru commented on #917
@arifnyet Ok, no problem. How did you deploy it actually? Just following the README.md, or are there any know-how not mentioned in there?

[2017-01-31 13:37] arifnyet commented on #917
@birdofpreyru i use ec2 instance... run a clean ubuntu install and apt-get the needed tech from there... for the informix i have to upload the image manually.... but dont take my word for it as even tho it is deployed it still gives me TCWebException whenever i enter the ec2ip/tc?module=ReviewAuctionApply&aid=12316&arid=9&b=Apply+Now

[2017-01-31 13:39] birdofpreyru commented on #917
@arifnyet And where have you got the Informix image from?

[2017-01-31 13:42] arifnyet commented on #917
@birdofpreyru https://www-01.ibm.com/marketing/iwm/tnd/preconfig.jsp?id=2013-10-02+10%3A49%3A20.723369R&S_TACT=&S_CMP=

[2017-01-31 13:51] birdofpreyru commented on #917
@arifnyet Ok, I've also got Informix from that site.

Currently, when I build everything following instructions from the README, I get `HTTP Status 404` when I try to access `/tc` route :( Still trying to figure out, what am I missing.

[2017-01-31 14:02] arifnyet commented on #917
@birdofpreyru ok i check back my setup... i changed a few apache2 setup while doing this

[2017-01-31 14:05] birdofpreyru commented on #917
@arifnyet Yeap, I'll appreciate if you help me with it.
So far what I can do:
1. Access `localhost` which shows me JBoss welcome screen.
2. From there I can access `localhost/status`, which says JBoss is fine.
Everything else responds to me with 404 error.

[2017-01-31 14:32] #972 closed

[2017-01-31 14:40] shubhendusaurabh opened #973 "[$5] - Data Science challenge logo missing"
For some data science challenges logo is missing.
Link: https://www.topcoder.com/challenges/data/active/?pageIndex=1
![logo-broken](https://cloud.githubusercontent.com/assets/1818387/22469215/42afe8f4-e7f1-11e6-93aa-cfe98d182d6b.png)

cc @birdofpreyru

[2017-01-31 14:53] birdofpreyru commented on #973
@ajefts The issue is simple: it looks like API can mark data science challenges as TCO-eligible, in this case the frontend attempts to show `banner-tco-data.svg` icon instead of the standard `banner-data.svg`, and there is no such icon.

Do I understand it right, that Data Science challenges are not TCO eligible in the same way, like other challenges? So we should change the frontend to show the s

[2017-01-31 14:57] #954 closed

[2017-02-01 00:57] arifnyet commented on #917
@birdofpreyru sry for the wait... here is what i do to deploy some of the ear files eventho it is still tcwebexception
[httpd.txt](https://github.com/appirio-tech/topcoder-app/files/743600/httpd.txt)
[steps.txt](https://github.com/appirio-tech/topcoder-app/files/743604/steps.txt)

i suspect the database connection is at fault...

[2017-02-01 06:22] vikasrohit opened #974 "Subscribed communities are visible on skill picker"
As per current agreed and implemented behaviour, skill picker page should not show the communities which are already subscribed by the members. Business reason might be that skill picker is shown for a newly activated user, where it does not makes sense to unsubscribe from a community (program) because he might not have subscribed for any communities (program) yet. Technical reason behind this lim

[2017-02-01 07:26] vikasrohit commented on #974
Fixed and deployed with hotfix to production.
Fyi, @ajefts

[2017-02-01 07:26] #974 closed

[2017-02-01 12:11] birdofpreyru commented on #967
@ThomasKranitsas Any update?

[2017-02-01 12:11] birdofpreyru commented on #965
@ThomasKranitsas Any update?

[2017-02-01 12:28] ThomasKranitsas commented on #965
Sorry @birdofpreyru! I'll submit PR later today.

[2017-02-01 12:28] ThomasKranitsas commented on #967
I'll submit PR later today. sorry for delay

[2017-02-01 14:55] birdofpreyru commented on #917
@arifnyet Many thanks! I didn't know that JBoss server can be run with different configs, thus was running the wrong one, calling `run.sh` without `-c all` parameter (well, I never heard about JBoss before at all :)

Now I can see TC error message when I access to `/tc` and a bunch of error messages in JBoss log. Will try to resolve them :)

[2017-02-01 17:08] birdofpreyru opened #976 "[$5] - Fix Badge modal at the Profile Page in mobile layout."
Currently it looks like this:
![scr-8](https://cloud.githubusercontent.com/assets/20144632/22517398/397a98d4-e8a9-11e6-9152-f40f0efe5784.png)

I guess, the solution will be to fix the `min-width` of the modal.

[2017-02-01 18:13] birdofpreyru commented on #973
### Expected Fix
Add `wp/wp-content/themes/tcs-responsive/i/banner-tco-data.svg` into the https://github.com/appirio-tech/tc-site repo. Which should be created by adding a small blue/green/yellow stripe to the top of the regular `banner-data.svg`, the same as it is done for other tracks.

[2017-02-01 18:52] shubhendusaurabh commented on #973
@birdofpreyru Just noticed that these data science challenges are `Code` type and they work fine when loaded through other routes like `challenges/?pageIndex=2` or `challenges/develop/active/?pageIndex=2`
I think we can simply show develop banner here since they are develop track challenge.

[2017-02-01 19:02] birdofpreyru commented on #973
@shubhendusaurabh Let's just add the datasci TCO banner. Those banners are `.svg` files, so no need for painting, just copy-pasting of `.svg` code with minor modifications. I am not sure, what is the manager's idea about correct solution to it (probably, they don't want green Code banners to be present on Data Sci listing), so let's make the most simple fix now, and if it is not what is expected,

[2017-02-02 09:23] #976 closed

[2017-02-02 16:31] dmessing opened #979 "[$20] - Remove extra marketing tags"
We have marketo and adroll but don't use them anymore on pages like https://www.topcoder.com/challenges please remove them

FYI

<script type="text/javascript">
adroll_adv_id = "LOUA2FVRTJDYZC2BMX72Z7";
adroll_pix_id = "4XU6H3BYL5EQBFHZM4DIUU";
(function () {
var oldonload = window.onload;
window.onload = function(){
   __adroll_loaded=true;
   var scr = document.createElement("script");
   var ho

[2017-02-02 16:31] dmessing commented on #979
@birdofpreyru this might be an easy one to get tossed in

[2017-02-02 16:34] birdofpreyru commented on #979
### Expected Fix

Remove the mentioned `marketo` and `adroll` scripts from the pages served both from this repo, and from https://github.com/appirio-tech/tc-site, and ensure, that it does not break anything.

[2017-02-02 16:36] lijulat commented on #979
Can I try to fix ?

[2017-02-02 16:36] birdofpreyru commented on #979
@lijulat Sure! It is yours.

[2017-02-02 19:20] arifnyet commented on #917
@birdofpreyru i leave it to you then... custom made java is hard for me to deal with without racking my brains out...

[2017-02-02 21:21] birdofpreyru commented on #979
@lijulat Also remove the `KISSmetrics` scripts from both repos. As you remember, you have added this script to `tc-site` earlier to fix the missing user menu (https://github.com/appirio-tech/topcoder-app/issues/932) it turns out, that this analytics is not used anymore, so should be removed, and all references to it should be properly cleaned out, in the way that nothing is broken as that menu.

[2017-02-03 12:00] birdofpreyru commented on #965
@ThomasKranitsas So?

[2017-02-03 12:05] ThomasKranitsas commented on #965
Sorry, I completely forgot about it.. I'll back home at night (my local time zone)... So if anyone wants/CA fix it sooner I'm okay to remove me from this ticket otherwise I'll fix it when I'm back

[2017-02-03 12:08] birdofpreyru commented on #965
@ThomasKranitsas So, if you haven't done anything with this yet, I'd say, you can release the ticket, and if it is still open when you have time, you always can pick it up back again.

[2017-02-03 12:09] ThomasKranitsas commented on #965
Can you do that as I'm from mobile?

[2017-02-03 12:32] #973 closed

[2017-02-03 16:39] birdofpreyru opened #980 "[$5] - Change the styling of the PLATFORMS list in the Challenge Specs page"
The code is in https://github.com/appirio-tech/tc-site
Here is the sample Challenge Specs page: http://www.topcoder.com/challenge-details/30056243/?type=develop&noncache=true

You'll see there that `PLATFORMS` and `TECHNOLOGIES` lists are styled differently:
![0b2afa36-ea03-11e6-9840-8f4d1d367fc1](https://cloud.githubusercontent.com/assets/20144632/22599510/8488c488-ea37-11e6-9cb3-0e94b7ae6bfe.png

[2017-02-04 14:50] #965 closed

[2017-02-04 14:54] birdofpreyru commented on #965
@shubhendusaurabh Well done!

It also looks to me, that the chances are that you are going to be the winner of this Bug Bash, who will take the bonus payment and some TCO points. Can you submit a dummy submission into the original Bug Bash challenge on the TC web site? (I'm not sure yet, whether it is necessary to handle the bonus payment in the optimal way, but let's do it just in case)

[2017-02-04 14:55] birdofpreyru commented on #979
@lijulat Any update?

[2017-02-04 15:30] lijulat commented on #979
@birdofpreyru Apologies will raise a PR soon

[2017-02-04 15:30] lijulat commented on #979
@birdofpreyru A quick question should google analytics stay?

[2017-02-04 15:32] birdofpreyru commented on #979
@lijulat Yeap, as it was never mentioned to remove it, I guess Google.Analytics should stay.

[2017-02-04 15:50] lijulat commented on #979
@birdofpreyru #471 PR on the TC-site repo

[2017-02-04 15:54] birdofpreyru commented on #979
@lijulat Ok, will check it later.
Don't forget that we also need to remove them from the code in this repo as well.

[2017-02-04 15:56] lijulat commented on #979
@birdofpreyru PR coming your way  :) .  Can i delete the js file  or should i keep the js file and remove the contents? . Just asking ,because kissmetrics the js file is presetnt with no contents still in the repo,

[2017-02-04 15:58] birdofpreyru commented on #979
@lijulat Please remove them completely, just double check that nothing else refer to them

[2017-02-04 16:11] lijulat commented on #967
@birdofpreyru Is there anythign pending on this ticket?

[2017-02-04 16:17] birdofpreyru commented on #967
@lijulat Yes, check the comments in this PR: https://github.com/appirio-tech/topcoder-app/pull/978
It almost does what is necessary, but breaks the build, and it should be fixed

I believe, what @ThomasKranitsas did already, cost $20.
So, I'd say fixing the last small issues will cost $10, what do you think?

[2017-02-04 16:30] lijulat commented on #967
@birdofpreyru let me give me it a try.

[2017-02-04 16:30] gets0ul commented on #980
New commit has been added.

[2017-02-04 16:52] lijulat commented on #967
@birdofpreyru should i update the PR or raise a fresh PR

[2017-02-04 17:00] lijulat commented on #957
@birdofpreyru  Did you manage to look at this? Anything pending from me? I guess we might need the correct config values for staging/dev

[2017-02-04 17:16] birdofpreyru commented on #957
@lijulat I've looked into it briefly, saw it didn't work, and didn't do anything else yet.

[2017-02-05 11:51] #980 closed

[2017-02-05 12:01] birdofpreyru opened #983 "Direct's editor breaks lists in challenge specs"
At the moment, challenge specs WYSIWYG editors in Direct do not provide controls for embedding numbered or non-numbered lists. It is possible to insert such lists, though, by switching editors into HTML mode, and marking them up manually with `<ul>`, `<ol>`, `<li>` tags. In a resent issue tickets we have ensured that such lists are properly rendered on the TopCoder website.

It looks though, that

[2017-02-05 12:04] birdofpreyru commented on #983
@ajefts I've noticed a problem with WYSIWYG text editors in Direct. Do I understand right, that Direct App is hosted here: https://github.com/appirio-tech/direct-app ? Can you provide me with write access in that repo?

[2017-02-05 12:13] Sande3p commented on #955
The fix is quit easy just 2 lines of css: https://gyazo.com/6470a4d65244caa952abc64735170d8c
[code]
But the biggest challenge is where to find _css/copilot-pool.css_  & redeploy to server

[2017-02-05 12:17] birdofpreyru commented on #955
This .css file should be in the repo hosted in subversion.
So far I have not figured out how to deal with that (deployment of that for local testing is quite an adventure :)

[2017-02-05 12:20] #967 closed

[2017-02-05 12:22] Sande3p commented on #955
how the get access to this repo?
few years ago I fixed some similar issue & tested JBoss.
to depoly used _ant buid_.
Not sure it's the same server or different

[2017-02-05 12:31] birdofpreyru commented on #955
@Sande3p If you don't have access with your TC credentials via the link above, @ajefts can promote your permissions. Alternatively, I think I can upload a copy of that repo here to GitHub (but it surely will take some time).

Yeah, I've tried with `ant build` but it demanded some other code, which was not part of the repo, and I had not access to it back then. I got the access now, but have not tr

[2017-02-05 12:48] Sande3p commented on #955
The above link only display a single page.
I think the style.jsp  contains desired server-path to the css file. https://gyazo.com/765dd6f932a78c304865ddac1a4819a1

[2017-02-05 12:49] #979 closed

[2017-02-05 12:52] birdofpreyru commented on #955
@Sande3p Yeah, but you can explore the parent paths. Actually, the root of the repo is https://coder.topcoder.com/internal/web_module/trunk My experience with Subversion is about zero, but I've found that you may fetch it using `git svn` command (which works similar to usual `git`). It takes some time (few hours) to pull the whole repo, but then you can comfortably handle its local copy on your ma

[2017-02-05 12:59] Sande3p commented on #955
Is it possible to use winscp?
hostname? & port?

[2017-02-05 13:20] birdofpreyru commented on #955
I don't know.

[2017-02-05 13:42] Sande3p commented on #955
Finally I manage to checkout the code.
Do you think Tpocoder VM is required or we have to test it locally?

[2017-02-05 13:46] birdofpreyru commented on #955
I don't know :) In fact, if you know about TopCoder VM, or local deployment of the code from that repo, you may instruct me how to do those ;)

[2017-02-05 13:50] Sande3p commented on #955
I don't know much about the backed but I the contest spec. of this contest may help:
https://www.topcoder.com/challenge-details/30053864/?type=develop

[2017-02-05 23:38] Sande3p commented on #924
*I need topcoder arena VM* to fix the. I managed to setup the arena app. but authentication fails.
ref: https://gyazo.com/94bf7f0b0ac841b937fb15423fa152ac

[2017-02-06 00:05] rainerlopez opened #984 "[$10] - /my-dashboard ENDS IN time counter issue"
ref: https://www.topcoder.com/my-dashboard/
After reaching 0 (zero) the counter starts counting backwards (increasing the time).

image ref: https://drive.google.com/file/d/0Bxt92xXpPQgCeUpwWTFYM3lZbTg/view?usp=sharing
_The screening phase had already ended (reached zero) when the print screen was taken_

[2017-02-06 00:08] rainerlopez commented on #908
I'll set everything up here and see if I can help on this one.

[2017-02-06 00:18] rainerlopez opened #985 "Topcoder Blitz broken link"
ref: http://blitz.topcoder.com/hpe-lpc_build/
image ref: https://drive.google.com/file/d/0Bxt92xXpPQgCZUNJaUUxUGpWbjQ/view?usp=sharing

The [Topcoder Blitz](https://help.topcoder.com/general-help/member-bonuses/topcoder-blitz/) link at the end of http://blitz.topcoder.com/hpe-lpc_build/ page links to https://help.topcoder.com/general-help/member-bonuses/topcoder-blitz/ that is displaying:

"_oops

[2017-02-06 13:35] birdofpreyru commented on #984
### Expected Fix
When a phase is late (I guess, API returns a negative time till the end in that case), we should the following in the Grid view (please, discount for my poor Photoshop skills):
![scr-10](https://cloud.githubusercontent.com/assets/20144632/22648889/eb379554-ec78-11e6-97f3-35efe4919d0d.png)
I.e. we change the label above the time box from `ENDS IN` for `LATE FOR`, and we chance the

[2017-02-06 16:06] ajefts commented on #971
@birdofpreyru Can you add this one to the list?  I don't have a design for it, but I was hoping you guys could come up with something clean and simple.  This should just link people to the new experience, and not set any kind of preference.

Thanks.

[2017-02-06 16:16] birdofpreyru commented on #971
@ajefts Sure! Does it look fine to you, if we store selected option in the user browser's `localStorage`, and thus keep all changes at the frontend side, without messing with the backend?

[2017-02-06 16:18] birdofpreyru commented on #971
@ajefts Sorry, I have not read you previous msg carefully enough. So, just a link to the new listing, not a switch, no need to store the choice at all?

[2017-02-06 16:33] ThomasKranitsas commented on #908
@rainerlopez Will you work on this one or can I fix it?

[2017-02-06 16:36] rainerlopez commented on #908
Go for it @ThomasKranitsas ! Tkx for asking. I'm still setting the enviroments up here.

[2017-02-06 16:39] birdofpreyru commented on #971
### Expected Fix
In all current challenge listing pages (design, development, data science, served by the code in https://github.com/appirio-tech/tc-site) add under the title the link to the new challenge listings (`/listings` endpoint), like so:
![scr-12](https://cloud.githubusercontent.com/assets/20144632/22656176/cc7c528e-ec92-11e6-9568-293e888fd42f.png)
The link text reads `Get a glimpse of th

[2017-02-06 17:00] ajefts commented on #971
That works for me.  Thanks!

[2017-02-06 17:46] ajefts opened #987 "[$10] - add iOS badge to badge sprite"
Add the iOS participant badge to the badge sprite.  The badge is currently shown here:  https://ios.topcoder.com/badges

https://ios.topcoder.com/content/images/svg/Member-06.cad2892e.svg

[2017-02-06 17:47] ajefts commented on #987
@birdofpreyru Here is another one.

[2017-02-06 17:48] ajefts commented on #987
fyi @dmessing

[2017-02-06 18:49] birdofpreyru commented on #987
### Expected Fix

Add the badge to the sprite. Recently we have added Predix Community badge to the sprite, please check these closed issue and PR: https://github.com/appirio-tech/topcoder-app/issues/912, https://github.com/appirio-tech/topcoder-app/pull/953 and do the same with the new badge.

If @ajefts won't say differently before you fix this issue, use `iOS Community` name for the badge.

[2017-02-06 19:01] #984 closed

[2017-02-06 23:22] #971 closed

[2017-02-06 23:30] #987 closed

[2017-02-07 00:34] rainerlopez commented on #957
May II try this one? How is the progress here @birdofpreyru ? Tks

[2017-02-07 00:37] birdofpreyru commented on #957
@rainerlopez Sure! Currently we have stuck with this one.

[2017-02-07 01:18] rainerlopez commented on #957
1.
STATIC_FILE_HOST pointing to http://arena.cloud.topcoder.com:%PORT%
set STATIC_FILE_HOST=http://arena.cloud.topcoder.com:%PORT%
Just to situate myself, do we really need this dynamism intead of just <script src="js/newrelic.js"></ script> and <script src="js/bundle.js"></ script>?

2.
After everything installed it seems that the bundle.js file is missing inside /js/ folder.

[2017-02-07 02:16] rainerlopez commented on #957
Copied production https://arena.topcoder.com/js/bundle.js to local /js/ folder and everything seems to be ok.
The problem now is that everything is pointing to production including the authentication.
How do you guys think we can procced from here?

Continuing with the investigations and tests while waiting for instructions.

[2017-02-07 08:37] birdofpreyru commented on #957
@rainerlopez Yeap, like @lijulat said, it is exactly where we have stuck.

In principle, if there is a way to make it work against the production backend, I'll be fine with it for now. The core problem now is that after the locally deployed Arena redirects you to the prod login page, and you log in, you get redirected to the remote Arena page, not the local one.

[2017-02-07 09:41] rainerlopez commented on #957
Nice ! Thanks @lijulat & @birdofpreyru
I'll manage it and let you know ASAP.

[2017-02-07 12:21] rainerlopez commented on #957
@birdofpreyru & @lijulat
I'll need to fix this one also: https://github.com/appirio-tech/arena-web/issues/707

[2017-02-07 12:26] birdofpreyru commented on #957
@rainerlopez I believe, @lijulat has already fixed it in his clone of the repo.

[2017-02-07 12:27] rainerlopez commented on #957
Oh, I'll take a look ! Thanks @birdofpreyru

[2017-02-07 13:45] birdofpreyru commented on #957
@lijulat @rainerlopez Have you seen this document inside the Arena repo?
https://github.com/appirio-tech/arena-web/wiki/Web-Arena-Setup-Guide-For-Ubuntu
I've just noticed it by chance, looking for some other staff, and had no time to look into details, but it looks like it might have the info necessary for the deployment.

[2017-02-07 13:49] lijulat commented on #957
@birdofpreyru I will check and comeback to you. Initial glance looks promising.

[2017-02-07 13:54] lijulat commented on #957
@birdofpreyru A quick question though. Who should be looking into this? Since this ticket was assigned to me I thought I was . Bit confused now.

[2017-02-07 14:05] birdofpreyru commented on #957
Probably, you guys can collaborate? We'll split the prize according to efforts and contribution?

All I really care now, that we get the code fixed to work locally, and the deployment procedure well documented so that anybody with minimal experience can deploy it.

Once we have it, I believe, we'll run further challenges to enhance the Arena, so understanding how it works now, will give you some b

[2017-02-07 14:33] rainerlopez commented on #957
@birdofpreyru and @lijulat the document is promissing, yes.
But I think that r.now we need to fix the ng-table problem because it does not support bower anymore: https://github.com/esvit/ng-table Bower: NO LONGER SUPPORTED
And one of the instructions of the doc is: "bower install" and etc

It's giving me a hard time but I'm working on it.

@lijulat are you going to continue with this thread? If ye

[2017-02-07 18:33] lijulat commented on #957
@birdofpreyru Looks like from the wiki we need an Arena VM for the local deployment to work. That is where the webscoket connections point to. Excerpts from the wiki below for quick reference

"Upon registration as a submitter or reviewer you will need to request an Arena VM in order to make Web Arena functioning properly. To request your image, please post in contest forum.

Before requesting you

[2017-02-07 18:37] lijulat commented on #957
@rainerlopez NG table used by arena web production is v0.4.1 and I think bower supports version till v0.8.3. So that shouldn't be a problem

[2017-02-07 19:33] rainerlopez commented on #957
@lijulat you are right. But I think we can/need to fix it to be able to follow the library updates and etc.
By now, if we want to stick to any version we'll need to change bower.json line 28:
"angular-table": "https://github.com/esvit/ng-table.git",
that is pointing to their git and is breaking the "grunt" browserify task.

@birdofpreyru can give us some instructions on what to do by now with this

[2017-02-07 20:13] lijulat commented on #957
@rainerlopez I think you are referring to wrong repo. I had already fixed this in my repo couple of weeks back. There are no npm or bower install errors in my repo. This has been verified by @birdofpreyru  as well.

[2017-02-07 20:22] rainerlopez commented on #957
@lijulat that's great, I'll clone yours and keep investigating. Any improvement I'll let you know.
@birdofpreyru I think my collaboration here is a community contribution and Liju diserves the prize as soon as we finish all the requirements.
Count on me for now on.

[2017-02-07 20:22] birdofpreyru commented on #957
As I remember it, @lijulat indeed has fixed it, so that building process works without errors in his code. The first problem it has is that it redirects to the prod. authentication App, and from there it redirects to the prod. Arena (or just to prod. TC dashboard - I don't remember exactly now). Maybe there some further problems with the code deployment, but we can't see them yet.

Ok, I've noted

[2017-02-07 20:25] rainerlopez commented on #957
@birdofpreyru I think that with the VM and following the doc instructions the local deploy will be smooth.
The url's point for the VM and so the socket.
@lijulat is ahead with this and will probably solve everything as soon as he get the VM.

[2017-02-07 20:27] birdofpreyru commented on #957
Just to be sure, are you positive, that there is no way to connect it to the production backend with the data we get? It would be easier to deploy, and I believe there are numerous enhancements which can be done with the frontend Arena App, without changing the backend.

[2017-02-07 20:31] rainerlopez commented on #957
@birdofpreyru No!
Yes we can point directly to the production. (That will change the way it is set r.now. Maybe we don't even need the VM)
If this is you final expectations @lijulat or myself can work on it.
Of course, it will be a bit more work.

What do you think @lijulat ?

[2017-02-07 20:35] birdofpreyru commented on #957
Yeah, if we get the locally deployed frontend to work fine against the production backend, it will be fine for now. I believe, re-configuring it to the local backend in VM won't take much efforts, and also we will be able to start working on Arena App without waiting till we figure out about VM.

[2017-02-07 20:37] rainerlopez commented on #957
Great, I'll start investigating here.
@lijulat as soon as you read this thread please call me and let's sync to not do the same thing we both.

[2017-02-07 20:48] lijulat commented on #957
@rainerlopez You can continue the investigation. I am currently looking into something else.

[2017-02-07 22:27] birdofpreyru commented on #947
Hey @rrandom,
Please tell us, what is your TopCoder user handle, so that we can process the payment!

[2017-02-07 22:30] birdofpreyru commented on #947
Or, better submit a dummy zip file to the challenge (we have temporarily re-opened submission phase for that).

[2017-02-07 22:33] rainerlopez commented on #957
@birdofpreyru is there someone who can confirm if the prod socket (webSocketURL: 'https://arenaws.topcoder.com',) accept remote connections ?

[2017-02-07 22:36] birdofpreyru opened #989 "ANNOUNCEMENTS"
We'll use this thread for general announcements.

It turns out that it is a way easier to manage the payments for our Bug Bash, if everybody makes a dummy submission to the Bug Bash challenge page https://www.topcoder.com/challenge-details/30056206/?type=develop. We have done it ourselves for some of the Bug Bash participants, but you better check and submit if necessary (we have temporarily re-op

[2017-02-07 22:39] birdofpreyru commented on #957
I guess, it is supposed to, as the prod Arena does work somehow.
I think, nobody will confirm the details rapidly. It seems that Arena was deployed last time over an year ago, so it is hard to get the details now.

[2017-02-07 22:40] rainerlopez commented on #957
Don't worry, I'll test it till exaustion ;)

[2017-02-08 01:43] rrandom commented on #947
hi, @birdofpreyru  My Topcoder handle is somethin. Thanks!

[2017-02-08 04:44] harimp commented on #944
Hi @birdofpreyru  I saw the announcement, but I couldn't submit a dummy submission to the TC challenge page. My TC username is harimp.

[2017-02-08 07:26] birdofpreyru commented on #947
@rrandom Can you submit a dummy solution to the challenge page? https://www.topcoder.com/challenge-details/30056206/?type=develop

[2017-02-08 07:26] birdofpreyru commented on #944
@harimp Oh, this is strange. Can you try once more?
If it still does not work for you, no worries, we'll sort it out.

[2017-02-08 07:29] rrandom commented on #947
@birdofpreyru Sure! But the `Submit Your Entries` button in this page is gray. I cant submit

[2017-02-08 07:43] birdofpreyru commented on #947
@rrandom
Ohh... It looks like a small bug on the challenge page :)
Please, submit via OR: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30056206

[2017-02-08 07:44] birdofpreyru commented on #944
@harimp Yeah, I got the problem: submission button is grey even though the submission phase is opened
Please, submit via OR: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30056206

[2017-02-08 07:50] birdofpreyru opened #990 "[$10] - Inactive submission button at the Challenge Specs page, when submission phase is late."
When submission phase is late (i.e. we are past the deadline for submission, but the submission phase has been re-opened by admin for some very special reason, to allow somebody to contribute past the deadline), the `Submit` button at the Challenge Specs page remains inactive. Submission through the OR page is available though.

We should modify the button logic to be active whenever the submissio

[2017-02-08 07:52] rrandom commented on #947
@birdofpreyru Done, thanks!

[2017-02-08 08:31] harimp commented on #944
Submitted it! Thank you.

[2017-02-08 12:19] rainerlopez commented on #957
Hi @birdofpreyru & @lijulat
Well, I think we will need some help here:
We have some work to be done to point directly to production. Some tasks that I've listed in my investigation:

- Facebook App: We need to list the local domain in the app settings
- Websocket: We will need someone (at the dark side of the servers) who can help us telling what need to be done to manage the remote connection.

I

[2017-02-08 14:35] Sande3p commented on #924
Most probably VM is issued from topcoder direct (The same page from where tc contest were launched). But don't konw how it's issued.
This is a 2yr old mail from Topcoder VM https://gyazo.com/b04144c6be5b7966bf087bcc0667926d  . Not sure if this could help.

[2017-02-08 14:51] rainerlopez commented on #924
Tkx so much @Sande3p, we are exactly trying to fix the local deployment at: https://github.com/appirio-tech/topcoder-app/issues/957
Take a look @birdofpreyru

[2017-02-08 15:14] birdofpreyru commented on #924
Thanks a lot guys! Just wanna say, that more knowledgeable people, than I, at TopCoder are aware that we need VMs, or some other help with the backend part. Though, they need some time to verify that VMs they have are up-to-date with the latest changes in the code. So, probably, it is better to take it easier for the moment, and wait for further news from them.

[2017-02-10 03:37] #958 closed

[2017-02-10 03:43] birdofpreyru opened #993 "[$10] - iOS Community badge is added too close to the Predix badge in the sprite"
The `iOS Community` badge added in this ticket: https://github.com/appirio-tech/topcoder-app/issues/987
was added too close to the `Predix Community` badge, so that a small piece of iOS badge is visible on the Predix badge.
![scr-15](https://cloud.githubusercontent.com/assets/20144632/22974047/cb950bdc-f380-11e6-8f5c-9ee55c0f7f7f.png)
Please re-check the alignment of the Predix and iOS badges in t

[2017-02-10 03:44] birdofpreyru opened #994 "[$20] - Current challenges listing in Dashboard (mobile view)"
This is how it looks now: challenge cards are the same large as in the Desktop view, and they layed out horizontallly, making it a bit uncomfortable to scroll around the page.
![scr-01](https://cloud.githubusercontent.com/assets/20144632/22974324/1289b5b4-f382-11e6-94b6-c6b96372a423.png)

Let's make two changes for the mobile view:
1. Lay out challenge cards vertically, without a dedicated scrolli

[2017-02-10 03:46] birdofpreyru opened #995 "[$60] - Stats row in the dashboard (mobile view)"
Go to Dashboard, click any of the links to stats about a specific track (F2F, Code, etc.) and play with the window width.

Here is the regular large screen view:
![scr-02](https://cloud.githubusercontent.com/assets/20144632/22974711/eb11eb62-f383-11e6-9546-58d778872e08.png)

And here is the mobile view:
![scr-03](https://cloud.githubusercontent.com/assets/20144632/22974718/f2ae72be-f383-11e6-89ec-

[2017-02-10 03:47] birdofpreyru opened #996 "Marathon matches stats/challenges screens in mobile view need few corrections."

[2017-02-13 19:28] ajefts opened #998 "New listings - My Challenges not working"

[2017-02-14 14:55] ajefts opened #999 "New Listing - Data Science challenge fixes"
1.  Some of the data science challenges are actually Code or F2F challenges, while others are Marathon Matches.  So, the links and the icons need to be adjusted.

    - If it's a Marathon Match, then the challenge URL format is https://community.topcoder.com/tc?module=MatchDetails&rd=16165.  The Icon can use the MM label.  Registrants link is https://community.topcoder.com/longcontest/?module=View

[2017-02-14 18:53] vbaileytopcoder commented on #955
What is the status of this one @birdofpreyru? Thanks

[2017-02-14 19:03] birdofpreyru commented on #955
@vbaileytopcoder No progress :( As you see above, the fix itself is clear and trivial, but I and participants who participated in the BugBash did not know how to build/test/contribute to the legacy TC site, which hosts the copilots listing.

I believe, @ajefts is aware of this situation, that there are multiple fixes and enhancements related to the that legacy TC site which community can do, if we

[2017-02-14 19:08] vbaileytopcoder opened #1000 "Win Counters Not Correct"
Counters are not correct on this page:

https://www.topcoder.com/members/thomaskranitsas/details/?track=DEVELOP&subTrack=CODE&tab=challenges

If you check the above link you will see that the counter says 11 wins but if you count the challenges he won you will count 12.

This is not the only example of this:

https://www.topcoder.com/members/thomaskranitsas/details/?track=DEVELOP&subTrack=FIRST_2_

[2017-02-14 21:45] ajefts opened #1001 "[$10] - blog feed is not loading on my-dashboard"
The blog feed is not loading on the dashboard page.  I updated the feed URL to https://www.topcoder.com/feed/ in webpack, but it doesn't seem to be working still.

[2017-02-14 21:46] ajefts commented on #1001
@birdofpreyru Can you put this one on the list?

[2017-02-15 09:20] birdofpreyru commented on #955
@ajefts A bit confused here I am.

To rapidly fix this one, I just need to introduce the change suggested by @Sande3p into `copilot-pool.css`, but I can't find any `*copilot-pool*` file in my clone of the Subversion repo. The only file with this name I see in the repos I have ever cloned so far is inside `tc1-tcnode` repo from Git, which you have told before, you don't really use.

[2017-02-15 10:30] birdofpreyru opened #1002 "[$40] - Preparing for role-dependent customization of the challenge details page"
The challenge details page code is hosted in this repo: https://github.com/appirio-tech/tc-site

Currently, in my best understanding, when a challenge details page is loaded, no information about user role is fetched from the backend. It prevents us to customize the page according to the user roles (e.g. https://github.com/appirio-tech/topcoder-app/issues/969).

The goal in this ticket is to load

[2017-02-15 11:05] birdofpreyru opened #1003 "[$20] - Color of the Complete Appeals button"
Recently we have added `Complete Appeals` button to the challenge listing in the dashboard (https://github.com/appirio-tech/topcoder-app/pull/992, not yet in prod). Currently it is styled as any other button in the challenge card: white background, blue text, blue border in the regular state; blue background, white text in the hovered state.

As completing appeals too early may change contenstant'

[2017-02-15 12:04] birdofpreyru opened #1004 "[$20] - View Scorecards & Complete Appeals buttons at the Challenge Details page"
Recently we have added View Scorecards and Complete Appeals buttons to the challenge listing in the Dashboard (https://github.com/appirio-tech/topcoder-app/pull/992, not yet in production).

The goal of this ticket is to add such buttons to the challenge details page (hosted in https://github.com/appirio-tech/tc-site repo).

Here is how the header of the challenge details page looks right now afte

[2017-02-15 12:09] birdofpreyru commented on #985
This is right, but probably can be just ignored: the Blitz is almost finished, and the link is not that important, so does not look very beneficial to spend time on fixing it.

[2017-02-15 12:19] birdofpreyru opened #1005 ".JS error in /my-dashboard"
When `/my-dashboard` page is opened, I see `t.trim is not a function` error in the console. Not opening the ticket yet, as this error may be related to another issue, which is already scheduled to be fixed.

[2017-02-15 12:59] birdofpreyru commented on #1001
### Expected Fix
The Blog feed should be displayed in the Dashboard in the corresponding section in the bottom. Now it just always shows the loading indicator there:
![scr-05](https://cloud.githubusercontent.com/assets/20144632/22975386/da285fae-f386-11e6-9acc-73ac368b5d66.png)
Probably, it is just a small problem with the configuration.

[2017-02-15 13:01] birdofpreyru commented on #908
@ThomasKranitsas Any progress with this one? If you not, and you are not interested in it, we can open it to public for the new BugBash which is coming shortly :)

[2017-02-15 13:02] ThomasKranitsas commented on #908
Hey @birdofpreyru! I'm working on this right now.. I found the source of the issue and I'll submit a PR in the next hour

[2017-02-15 13:26] ThomasKranitsas commented on #908
To test it locally you can modify the `node_modules/appirio-tech-webpack-config/constants.coffee` to change `API_URL` & `API_URL_V2` to the production instead of -dev

[2017-02-15 13:28] birdofpreyru commented on #1000
@ajefts It looks like backend problem to me. I've tracked the network communication, and it looks like TC API v3 returns incorrect count of victories, when `/members/{handle}/stats` endpoint is envoked. To deal with it within the BugBash, we need brief instructions where that API is and how do we handle related development (if it is a part of the legacy tc site, I know the answer is `it is complic

[2017-02-15 13:30] ThomasKranitsas commented on #995
@birdofpreyru I'll work on this one

[2017-02-15 13:30] ThomasKranitsas commented on #995
Actually.. is this open or not yet? I now noticed the READY TO OPEN label

[2017-02-15 13:31] birdofpreyru commented on #908
@ThomasKranitsas I'm not sure I can, as I don't have any Mac around, and I could not reproduce the problem with other browser/OS. Can you make a brief video to show the original problem, and that it is fixed with the new code?

[2017-02-15 13:33] ThomasKranitsas commented on #908
Sure! Give me few minutes..

[2017-02-15 13:35] birdofpreyru commented on #995
@ThomasKranitsas Not yet :) Though, it is ready, I just didn't want to open the tickets before I publish the dummy challenge at TopCoder. Well, if you already started to work, no problem. I'll create the challenge and open other tickets soon.

[2017-02-15 13:40] birdofpreyru commented on #989
@all We are starting the second TopCoder Web Site Bug Bash. A few new tickets have been opened for pickup. Feel free to suggest other issues to resolve, though please focus on the frontend issues, as, as you know, everything related to the backend is complicated.

I'll publish the placeholder challenge at TC site soon. Please subscribe to it and make a dummy submission there, if you fix anything,

[2017-02-15 13:41] ThomasKranitsas commented on #908
Here's the video: http://take.ms/SoMQt
I sent a reset link recently thus I couldn't send another one... But you can see that when I open the link in Safari it doesn't redirect anywhere but instead it shows the Create new pass textbox as expected.

[2017-02-15 18:05] ajefts commented on #955
@birdofpreyru Since we like to confuse you, that's a legacy page and the css for it is in subversion:  https://coder.topcoder.com/internal/gd/trunk/website/tcdocs/css/

[2017-02-15 18:09] ajefts opened #1007 "[$25] Add cognitive banner to my-dashboard"
We need to add the banner from https://drive.google.com/drive/folders/0Bza1qtSwQr8UTzdHLUc1QUtObU0 to the my-dashboard page.  This should be placed above the Predix banner.

"Learn More" needs to be a link to https://cognitive.topcoder.com

As much as possible, please make the text editable in the code in the same way the other banners are setup.

Please also remove the TCO16 banner.

[2017-02-15 18:10] ajefts commented on #1007
@birdofpreyru Think we could do this one ASAP?

[2017-02-15 18:15] shubhendusaurabh commented on #990
@birdofpreyru Any test challenge active currently with above conditions?

[2017-02-15 18:44] birdofpreyru commented on #990
@shubhendusaurabh Nope, I've tried to rapidly create one for the remote dev env, but failed :( I believe though, this one might be a simple fix, which we can do without test. Most probably, the button condition checks that challenge phase is Submission, and the time till the end of the phase is positive, thus we only need to remove the second condition.

I'll look more into creating of the test ch

[2017-02-16 04:57] rrandom commented on #1007
I will take this one

[2017-02-16 09:32] shubhendusaurabh commented on #990
@birdofpreyru current logic is simply to check if `submissionEndDate` is positive and the user has registered to the challenge.
It would be better to check what's causing that issue and then fix that.

[2017-02-16 09:45] #993 closed

[2017-02-16 10:28] birdofpreyru commented on #1003
@ThomasKranitsas How do you build `topcoder-app` so that it uses the stylesheet from the updated version of `tc-site` repo?

[2017-02-16 10:35] birdofpreyru opened #1011 "[$10] - Back button on submission page does not work"
As has been noted here: https://github.com/appirio-tech/tc-site/issues/476, the `Back to active Challenge` link on submission page does not work, just updates the location path. It should be fixed.

[2017-02-16 10:46] birdofpreyru commented on #990
@ajefts Can you help me a bit here? I don't know how to make a mock billing account in `www.topcoder-dev.com/direct`, and without billing account development version of Direct does not allow to activate challenges.

[2017-02-16 10:52] ThomasKranitsas commented on #1003
@birdofpreyru I've no idea 😛 I just found where the css code for that button is and I updated it

[2017-02-16 11:26] birdofpreyru commented on #1003
@ThomasKranitsas You might found it wrong :-P After some inverstigation, I tend to believe that `topcoder-app` imports button styles (and some other styling) from `styles` repo (my best understanding, though I also might be wrong, as relations between different repos hosting different parts of tc are still quite a puzzle for me). Though, there is a problem: the first thing I see in `styles` repo i

[2017-02-16 12:01] birdofpreyru commented on #1003
@ThomasKranitsas Actually, as the stylesheets in `topcoder-app` override (I believe) those imported from other repos anyway, let's just add the style for `tc-btn-appeal` class to `topcoder-app/assets/css/my-dashboard/my-dashboard.scss` (or `.../my-challenges.scss`, if it is more appropriate). This way we resolve this issue in a secure way, and if we have any other input on styles, etc. we'll open

[2017-02-16 12:03] ThomasKranitsas commented on #1003
Okay.. I'll do that later today

[2017-02-16 12:48] birdofpreyru opened #1013 "[$10] - Complete Appeals button should turn into Resume Appeals when the appeals are completed"
The Complete Appeals button (recently added to the Dashboard https://github.com/appirio-tech/topcoder-app/issues/958) should turn into Resume Appeals once the user has completed has appeals (but the appeals phase is not over, because other competitors have not completed their appeals yet).

[2017-02-16 13:22] birdofpreyru commented on #955
@ajefts Done - I've comitted the fix. Don't hesitate to tell, if I did anything wrong: my previous experience with Subversions is about zero.

[2017-02-16 15:44] nomo-kazza commented on #999
https://community.topcoder.com/longcontest/?module=ViewRegistrants&rd=16166
does this link correct? it navigates to login/my dashboard page.

[2017-02-16 15:46] ThomasKranitsas commented on #999
@nomo-kazza the link works fine. Try cleaning your browser's cache/cookies

[2017-02-16 16:02] nomo-kazza commented on #999
I checked it by clearing my browser's cache/cookies. but still not working for me. may be something happen to my browser.

[2017-02-16 18:35] gets0ul commented on #1013
How to test it? Any idea?

[2017-02-16 19:02] birdofpreyru commented on #1013
Sorry, no good idea, beside waiting for a challenge of you to go into the describe situation.

Also, you may check this https://github.com/appirio-tech/tc-common-tutorials I believe, it there are instructions how to deploy Direct locally and then test everything related to the challenge flow locally, but I have not tried myself recently.

Most probably, some days later I'll be able to setup a test

[2017-02-16 19:36] gets0ul commented on #1013
Seems more work on setup rather than fixing the actual problem.

[2017-02-16 23:21] birdofpreyru commented on #1013
Yeap, but once you manage to set it up you'll be able effectively work on other issues which demand manipulations with challenge phases for testing.

[2017-02-17 09:08] #1007 closed

[2017-02-17 09:19] birdofpreyru commented on #990
@shubhendusaurabh
FYI: I believe, using this https://github.com/appirio-tech/tc-common-tutorials, especially `docker/direct-app` folder there, you can setup locally everything necessary to test challenge-phases-related functionality. I have not yet tried it now, but I believe, I was using that in some challenge a while ago, and it was working like a charm (after you make it through the setup :)

[2017-02-17 15:45] ajefts commented on #955
That did the trick :)

We didn't use proper branching, but it was a small fix so that's ok...

[2017-02-17 15:48] ajefts commented on #955
I added a paid task in Direct for you.  Thanks!

[2017-02-17 15:48] #955 closed

[2017-02-17 16:07] ajefts opened #1019 "New listings - Clicking on a tag should filter based on that tag"
![image](https://cloud.githubusercontent.com/assets/3812270/23072859/520d7a60-f501-11e6-820c-a5e05cd8d523.png)

[2017-02-17 16:10] birdofpreyru commented on #1019
This is done, but not yet merged in. I will do it, and few other fixes of the listing over the weekend.

[2017-02-17 16:11] ajefts opened #1020 "New Listings - checkbox filters improvement"
When I click the checkbox filters for design/dev/data, I have to hit the magnifying glass in order to invoke the fitler. Should it just filter upon clicking the checkboxes? Also, I think they should be defaulted to selected.

[2017-02-17 16:12] ajefts opened #1021 "New Listings - clear filters doesn't work"
When I hit Clear Filters, it doesn't seem to clear everything

[2017-02-17 16:13] ajefts opened #1022 "New Listings - deep link filters"
We need to have the filters deep linked.  So, I should be able to construct a URL to a filtered challenge list with any combination of valid filters.

[2017-02-17 16:14] ajefts opened #1023 "New Listing - Save Filters"
Save filters need to be wired up.

[2017-02-17 16:15] birdofpreyru commented on #1020
Also done, but not merged. There were two parallel challenges this week, related to the new listing page. The one I have participated and won, have fixed a bunch of staff related to the filtering, but the code should have a bunch of conflicts with the results from other challenge :(

[2017-02-17 16:16] ajefts opened #1024 "New Listings - checkboxes on by default"
The design/dev/data checkboxes should be on by default since they are included in the default search results.

Also, the list should re-filter as soon as I toggle the checkboxes - no need to hit the search icon again.

[2017-02-17 16:21] ajefts opened #1025 "New Listings - Code/F2F Data Science Icons"
When we have a Code or F2F challenge that is set with technology="Data Science", we use the orange icon so it show as being part of the data science challenges.  However, we should use the "Cd" and "F2F" label instead of the "MM" label.

![image](https://cloud.githubusercontent.com/assets/3812270/23073349/2b961304-f503-11e6-965b-3d587b4d06e4.png)

[2017-02-17 16:24] ajefts opened #1026 "New Listings - # of prizes"
The # of prizes in the listing is always showing 1.  It should show the total number of final prizes (don't include checkpoint prizes)

[2017-02-17 16:26] ajefts opened #1027 "New Listings - Status for MM challenges not correct"
We're currently showing MM challenges as "Stalled".  This needs to be the correct phase.

[2017-02-17 16:36] ajefts opened #1028 "New Listings - Add Paging"
Add infinite scroll to the listings pages.

[2017-02-17 16:37] ajefts opened #1029 "New Listings - Past Challenges"
Add past challenges to the app.

[2017-02-17 16:38] ajefts opened #1030 "New Listings - switch the v3 api"
Currently we're using the v2 api.  Let's now port to the v3 api.

[2017-02-17 16:39] ajefts opened #1031 "New Listings - SRM pages"
Implemented the SRM pages

[2017-02-17 16:40] ajefts opened #1032 "New Listings - add rss feeds"
Add the rss feeds for design/dev/data science.

[2017-02-17 16:41] ajefts opened #1033 "New Listings - add page for tasks"
Incorporate tasks into the listing design

[2017-02-17 20:23] vic-topcoder opened #1034 "feedback- - Integration Test"
**Sender**: vgeorge@appirio.com
**Comment**: This example screen shows you if your integration setup is correct.

Sorry, no image available for this report.

**Browser**: Chrome Chrome
**Referer**: [http://www.usersnap.com](http://www.usersnap.com)
**Browser size**: 1680 x 1050

Powered by [usersnap.com](https://usersnap.com/?utm_source=github_entry&utm_medium=web&utm_campaign=product)

[2017-02-17 20:24] #1034 closed

[2017-02-17 20:26] vic-topcoder opened #1035 "feedback - Integration Test"
**Sender**: vgeorge@appirio.com
**Comment**: This example screen shows you if your integration setup is correct.

Sorry, no image available for this report.

**Browser**: Chrome Chrome
**Referer**: [http://www.usersnap.com](http://www.usersnap.com)
**Browser size**: 1680 x 1050

Powered by [usersnap.com](https://usersnap.com/?utm_source=github_entry&utm_medium=web&utm_campaign=product)

[2017-02-17 20:27] #1035 closed

[2017-02-17 20:36] vic-topcoder opened #1036 "feedback - Integration Test"
**Sender**: vgeorge@appirio.com
**Comment**: This example screen shows you if your integration setup is correct.

Sorry, no image available for this report.

**Browser**: Chrome Chrome
**Referer**: [http://www.usersnap.com](http://www.usersnap.com)
**Browser size**: 1680 x 1050

Powered by [usersnap.com](https://usersnap.com/?utm_source=github_entry&utm_medium=web&utm_campaign=product)

[2017-02-17 20:43] #1036 closed

[2017-02-18 01:22] birdofpreyru commented on #1003
@ThomasKranitsas Any update?

[2017-02-18 01:23] birdofpreyru commented on #1002
@Colinh84 Any update?

[2017-02-18 01:23] birdofpreyru commented on #1001
@lijulat Any update?

[2017-02-18 01:23] birdofpreyru commented on #995
@ThomasKranitsas Any update?

[2017-02-18 11:51] Colinh84 commented on #1002
@birdofpreyru This is going to take a little bit more time if it is ok, the tc-site repo is difficult and time-consuming to deploy correctly so it took a lot of time just to get that up and running.

[2017-02-18 12:10] birdofpreyru commented on #1002
@Colinh84 Ok.

[2017-02-18 18:04] lijulat commented on #1001
@birdofpreyru Apologies I haven't had the time to look at this yet. I am currently caught up in some other tasks which prevents me from taking this up any time soon.

[2017-02-18 23:14] #1001 closed

[2017-02-18 23:30] #994 closed

[2017-02-19 12:28] Colinh84 commented on #1002
pull request is in: https://github.com/appirio-tech/tc-site/pull/479

[2017-02-19 13:01] #1011 closed

[2017-02-19 13:22] #1002 closed

[2017-02-19 13:49] #1004 closed

[2017-02-19 14:16] ThomasKranitsas commented on #995
Sorry I won't be able to fix it as I'm extremely busy right now

[2017-02-19 14:42] birdofpreyru opened #1040 "[$60] - Refactoring of buttons on Challenge Details page"
This ticket relates to REGISTER, UNREGISTER, SUBMIT, etc. buttons on the Challenge Details page. Related code is hosted in https://github.com/appirio-tech/tc-site

Here is the context: we have just added new VIEW SCORECARDS and COMPLETE APPEALS buttons to the Challenge Details page (https://github.com/appirio-tech/topcoder-app/issues/1004, some bugs are possible, but the assumed behavior is that d

[2017-02-19 14:52] rushikesh90 commented on #995
I can work on this

[2017-02-19 14:57] rushikesh90 commented on #995
Where exactly do you want the primary stats line in vertical view? I think it will look better if it is horizontal

[2017-02-19 15:04] birdofpreyru commented on #995
The same place where it is in the desktop view. I don't mind keep it horizontal, if it looks good. Feel free to decrease fonts / spacing in this row in the mobile view, if it helps. Just keep in mind that at some pages this component has more than 3 values shown. Thus rearranging vertically or in few lines still may be necessary as the last resort in corner cases

[2017-02-19 16:41] rushikesh90 commented on #995
Can you tell me how can I sign  NDA  and add submitted challenges for temporary user. There are no challenges for the user in stats line and it is not visible for no data.

[2017-02-19 17:23] birdofpreyru commented on #995
It is easier to tweak the App so that it loads stats not for the user logged in, but for the one you ask. To do so:
1. In `/node_modules/appirio-tech-webpack-config/constants.coffee` change `API_URL` and `API_URL_V2` in the `DEV` section to `https://api.topcoder.com/v3` and `https://api.topcoder.com/v2`.
2. In `/app/services/user.service.js` modify the `getUserIdentity()` function so that it alway

[2017-02-20 14:06] birdofpreyru opened #1041 "[$10] - Footer margins"
On the pages served by the code from this repo, margins around the footer are too large (the screenshot is from the Dashboard page for past challenges in Code track, but similar problem is with all pages):
![scr-07](https://cloud.githubusercontent.com/assets/20144632/23127879/f7ff682a-f77c-11e6-8de1-752ed0c7889e.png)

We should decrease the spacing (1) to a reasonable size, and replace spacing (2)

[2017-02-20 14:11] rushikesh90 commented on #995
I cant get the localcode running. Whenever I login it redirects to live site. As a result my code changes are not visible. Is there something I am missing? I am following Readme instructions to launch website locally.

[2017-02-20 14:15] birdofpreyru commented on #995
When this happens, you can just manually correct URL in browser, to `local.topcoder-dev.com:3000`. Also, it might happen, that it redirects you to a wrong auth page. Again, you may correct it manually adding/removing `-dev` part in the `topcoder-dev.com` part of the url.

Also, if you want to run the App against the production backend, check the latest code in `dev` branch. I've figured out how to

[2017-02-20 17:19] #1019 closed

[2017-02-20 18:11] #1020 closed

[2017-02-20 18:11] #1021 closed

[2017-02-20 18:13] birdofpreyru commented on #1023
Done, but does not use the backend, just `localStorage`.

[2017-02-20 18:13] #1024 closed

[2017-02-20 18:14] birdofpreyru commented on #1026
Not possible to do with API v2 (without separately pulling all details for each challenge).

[2017-02-20 18:14] #1027 closed

[2017-02-20 18:16] birdofpreyru commented on #1029
Done to some extend: for now, together with active challenges, the listing pulls the last 20 past challenges for each track. For a better implementation, we need to clarify, what the exact logic should be? How do we decide, how many past challenges to show? How user says that he wants to see more?

[2017-02-20 18:42] birdofpreyru commented on #1022
Done. Though, probably you won't like the way serialization is done: it does not produce a human-readable addition to URL. I've implemented filters as a hierarchy of filter classes (i.e. each class extends its parent adding to it additional filtering necessary for this very component, so that resulting hierarchy matches the hierarchy of UI components we use for filtering). So, each class in the hi

[2017-02-20 20:29] vic-topcoder opened #1044 "feedback - Visual fixes"
**Comment**: Read my notes
[Open #1 in Usersnap Dashboard](https://usersnap.com/a/#/topcoder-team/p/topcoder-challen-7ac17f85/1)
**Notes**:
 - This is not yet fixed - the empty state can't be read
 - The filters should not take into account the on/off state of track switches; or search bar.

<a href='https://usersnappublic.s3.amazonaws.com/2017-02-20/21-28/47a6cac0-72f9-4bf7-8f43-d460a2c02cdc.png'

[2017-02-20 23:52] birdofpreyru commented on #1044
https://github.com/appirio-tech/react-components/pull/114 (not yet merged) fixes the bug with filter counter, and also fixes wrong rendering of section separator line in the filters sidebar.

I can't fix the wrong position of placeholder in the search bar, as it works fine in Chrome and Firefox on Ubuntu, and I believe you see it in Safari on Mac. Unfortunately, I have no Mac to test and fix it (s

[2017-02-21 01:13] birdofpreyru commented on #969
### Expected Fix

We are ready to enhance it. First, have a look at this PR: https://github.com/appirio-tech/tc-site/pull/479, it implements the loading of user roles into the controller of Challenge Details page, and provides an auxilary function to check the roles.

You should use this to change the logic behind showing/hiding the link to challenge forum at the Challenge Details page. The link s

[2017-02-21 05:00] rushikesh90 commented on #995
The primary stats line is carousel, something like this http://codepen.io/yoanmarchal/pen/avGzBm. So even on mobile device screen , all stats can be seen by sliding. Is it necessary that all primary stats should be visible simultaneouly?

[2017-02-21 05:02] rushikesh90 commented on #995
The 3x3 square is not related to subtrack name e.g CODE. Do you want it on the same line of subtrack name or someplace else?

[2017-02-21 09:12] birdofpreyru commented on #995
Sure! Having to scroll to see them demands extra efforts from user, not that comfortable, and has no added value. Nothing prevents us from making them just visible.

Do you mean `Not related functionally`? I know, but it is located next to `Code` in the Desktop design, thus I want consistency. It is also obvious, that its current location in Mobile view is just a random, thus a result of styling m

[2017-02-21 09:17] birdofpreyru commented on #1000
@ajefts I am not sure, but looking at win counters, I feel like they have just stuck and stopped counting further a week or few ago. Probably, you should just reboot something in the backend, if it makes sense?

[2017-02-21 09:31] #1041 closed

[2017-02-21 09:57] birdofpreyru opened #1046 "[$10] - Fix styling issues in the top nav menu"
Both screenshots are from the pages served by code from this repo. Both are unforthseen side-effects of other changes.

1. User menu in the Mobile view ovelaps with other menus.
![scr-08](https://cloud.githubusercontent.com/assets/20144632/23159410/f0f8ba76-f822-11e6-90d5-11d787c2a878.png)
You'll see, this problem is introduced by my change in styling, done in the commit 801c118b1fac8e0068e237aa78

[2017-02-21 10:01] #998 closed

[2017-02-21 10:02] #1005 closed

[2017-02-21 10:11] birdofpreyru opened #1047 "[$5] - Active/Past challenge listings in Dashboard and Profile (Mobile view)"
This is how my challenge listing in Dashboard looks now (you may check related commits which update the styling 4363a2e889db7187441a45fbb7cc8457e811a89f, and f475776cbc104659467f7f77a64b6a3137e6e69f):
![scr-10](https://cloud.githubusercontent.com/assets/20144632/23160150/b063bb2a-f825-11e6-8787-4a9b60cb51de.png)

However, at Dashboard page with listings of past challenges, they are rendered not th

[2017-02-21 10:17] birdofpreyru opened #1048 "[$15] - List view of past challenges (Mobile view)"
Here are screenshot of my Past Challenges in my Dashboard, when viewed in Mobile size, with the list view enabled:
![scr-12](https://cloud.githubusercontent.com/assets/20144632/23160496/0405b89a-f827-11e6-92c2-8b24f681a001.png)
![scr-13](https://cloud.githubusercontent.com/assets/20144632/23160544/38213672-f827-11e6-9176-a9bab9ea45db.png)
As you see, in some cases the gray rectangle in the right p

[2017-02-21 10:23] birdofpreyru commented on #989
Just a reminder that our Bug Bash II officially ends in 28 hours.

Please, everybody who has done any accepted fixes, submit a dummy submission to the challenge page (https://www.topcoder.com/challenge-details/30056508/?type=develop), to faciliate payments management.

@Colinh84 @gets0ul @rrandom @shubhendusaurabh @ThomasKranitsas

[2017-02-21 18:00] vic-topcoder opened #1052 "feedback - JGHFYUFUYFYFYUF9UFT7D7T5D67RD96DT797R76R67R67"
**Sender**: None
**Comment**: FGRGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
[Open #2 in Usersnap Dashboard](https://usersnap.com/a/#/topcoder-team/p/topcoder-challen-7ac17f85/2)

<a href='https://usersnappublic.s3.amazonaws.com/2017-02-21/18-59/3e326f36-320b-4c87-8aa2-b1c1ad874548.png'>![feedback - JGHFYUFUYFYFYUF9UFT7D7T5D67RD96DT797R76R67R67](https://usersnappublic.s3.amazonaws.com/2017-02-21/18-59/d1cc23a3-

[2017-02-21 18:46] birdofpreyru commented on #1052
?

[2017-02-21 21:38] vbaileytopcoder commented on #1000
@ajefts  is there anything I can do to move this one?

[2017-02-21 22:49] #969 closed

[2017-02-21 22:52] birdofpreyru opened #1053 "[$20] - User roles in Challenge Details page should be upadted when user registers/unregister"
When user registers/unregisters for a challenge pressing corresponding buttons at the Challenge Details page, the user roles loaded in the page controller should be updated properly (re-loaded).
It is expected that the fix should fix the issue with forum link, referenced below.
The issue relates to the code in `tc-site` repo.

[2017-02-21 23:12] #1046 closed

[2017-02-21 23:20] #1047 closed

[2017-02-21 23:21] #908 closed

[2017-02-21 23:49] #1040 closed

[2017-02-22 00:01] birdofpreyru opened #1054 "[$20] - Changes for buttons at the Challenge Details page"
Check the ticket https://github.com/appirio-tech/topcoder-app/issues/1040 and the corresponding PR https://github.com/appirio-tech/tc-site/pull/480. We have re-factored the code behind user actions button at the Challenge Details page for Design track (those `Register`, `Unregister`, `Submit`, etc. buttons).

Under this ticket I want:

1. To make similar changes for similar buttons at Design track

[2017-02-22 06:59] rushikesh90 commented on #995
I have created pull request 1055 .. not sure how to link it to issue

[2017-02-22 06:59] rushikesh90 commented on #1054
I want to work on this

[2017-02-22 10:52] rushikesh90 commented on #1054
So I may be missing something but "similar changes for similar buttons at **Design** track" do you mean the earlier changes are not there or you are referring to some other track?
Can you extend the time for bug bash as there is very little time left

[2017-02-22 13:59] birdofpreyru commented on #1054
Check the HTML template. Originally it had two large `if` sections. One was producing the buttons for the page with a Design challenge, and another for the page with a Development challenge. In that previous ticket and PR we have refactored the Development buttons, not touching the other branch of that `if` in the template.

Now we should get rid of that `if` in the template, just using the same n

[2017-02-22 19:45] birdofpreyru commented on #989
@shubhendusaurabh @ThomasKranitsas @Colinh84 @rrandom @gets0ul
Our second Bug Bash is finished! I've put all info from my records into your scorecards in the Bug Bash challenge at TC site. Also, I've set the prizes corresponding to your places (if they are not shown in OR, you can see them at the challenge details page). Feel free to double check it and use appeals process to point out my mistakes

[2017-02-23 02:48] jamesmarquez opened #1058 "[$20] - Update TCO17 Banner in TC Dashboard"
Update the banner of TCO17 in TC Dashboard

The image to be use is https://tco17.topcoder.com/wp-content/uploads/sites/2/2016/08/01b-home-hero.jpg

Then move the content layout to the left just like in the Cognitive banner.

[2017-02-23 14:05] ajefts commented on #1058
@birdofpreyru Could you put this one on your list  please?

[2017-02-23 14:08] birdofpreyru commented on #1058
@ajefts Yeap, I've seen it already.
Do you want to start the next Bug Bash already? Or shall we wait for some time, and to queue more staff to do?

[2017-02-23 15:43] ajefts commented on #1058
how about we open another one and incorporate the new listings issues as
well?  We should coordinate with @tladendo

On Thu, Feb 23, 2017 at 9:08 AM, birdofpreyru <notifications@github.com>
wrote:

[2017-02-24 20:46] #1052 closed

[2017-02-24 20:55] vic-topcoder opened #1061 "SM - Final design fixes"
We have to do several fixes for the existing design to be ready for development:

- [x] Header to reflect challenge title

- [x] Move "back" link under title

- [x] Header to list challenge phase and time remaining (feature update? - may be optional)

- [x] Add link to Online Review (OR) when the accordion is expanded; position at the top of the section

- [x] Add "Help" button at the bottom of th

[2017-02-24 21:02] Dara-K commented on #1061
Hey Vic,

Yes, sure will take care of these.

[2017-02-25 14:37] sdgun opened #1062 "Can't see the forum link as soon as the competitor registered for the challenge"
Earlier when user registered for the challenge using the 'Register' button, forum link is displayed. Now user have to refresh the page to see the link. It is better to display the forum link as soon as the competitor registered for the challenge

https://www.screencast.com/t/A30vHCqmt

[2017-02-25 14:44] birdofpreyru commented on #1062
Sorry about it, it is a temporary problem. Will be resolved by https://github.com/appirio-tech/topcoder-app/issues/1053 within the next Bug Bash.

[2017-02-25 14:45] sdgun commented on #1062
@birdofpreyru No Issues, Thanks :+1:

[2017-02-27 23:30] birdofpreyru commented on #1061
Is it ready? It looks so by checkboxes above, but I have not got the result yet :)

[2017-02-27 23:33] Dara-K commented on #1061
No, it's not ready - busy weekend. I didn't know what the checkboxes were for and I checked them when was trying to subscribe on this task before you invited me here. Will work on them tomorrow and check with Vic.

[2017-03-01 19:11] Dara-K commented on #1061
@vic-topcoder @birdofpreyru Task completed and here are the files - PNGs, HTMLs and the .Sketch source
https://www.dropbox.com/s/a07c2o4m78vubgr/Submissions%20Management%20-%20FINAL.zip?dl=0

[2017-03-02 01:11] vic-topcoder opened #1065 "Prize pool breaks in 2 lines; should be 1"
**Sender**: vic@vic-tor.com
**Comment**: I think this is great listing. I love your imagination and dedication.

Prize pool should not break into 2 lines
[Open #3 in Usersnap Dashboard](https://usersnap.com/a/#/topcoder-team/p/topcoder-challen-7ac17f85/3)

<a href='https://usersnappublic.s3.amazonaws.com/2017-03-02/02-10/e882f95f-3b15-46d9-afff-f1a46c3d1986.png'>![feedback - Test one](https://user

[2017-03-02 01:46] vic-topcoder commented on #1061
Great! Thanks, @Dara-K

[2017-03-02 02:08] vic-topcoder commented on #1061
@birdofpreyru I'm making the .svg icons available in "/assets/" here: https://drive.google.com/drive/folders/0B1LbmKnex41fR2pJTkpMaWpTV0k?usp=sharing

`/assets/icons` has the elements from the design; `/assets/fonts/` contains optimized Robot web fonts, `/assets/file-formats/` has the standard set of file type icons we use, to represent the type file attached.

Let's try to use React SVG Loader in

[2017-03-02 02:10] #1061 closed

[2017-03-02 19:21] ajefts commented on #924
@skyhit Would you be able to help us with the dev environment on this so people can make changes to the web arena?

[2017-03-02 22:37] fullerrc opened #1066 "Arena - no problems are loading. Freezes."

[2017-03-03 10:59] harshitmehta123 opened #1067 "Feedback Option is not working."
Feedback button on the right side of the page is not working.
<img width="1155" alt="screen shot 2017-03-03 at 4 27 07 pm" src="https://cloud.githubusercontent.com/assets/6296738/23548656/87fef5e4-002e-11e7-97da-ef3e214094b8.png">

Says "ERROR -Referrer not valid for this API Key"

[2017-03-03 17:21] ajefts opened #1069 "Hide tasks in challenge listings and rss"
show them if there is nobody assigned

[2017-03-04 09:23] birdofpreyru opened #1071 "[$30] - Add Unregister button to Dashboard"
Add `Unregister` button to active challenge tiles in Dashboard.

Should have the same reddish style, as the `Complete Appeals` button (see https://github.com/Savvas-cl/topcoder-app/commit/ea261e3a15cd00f02263481c690cd140d9c8ac67). Should be visible only for submitters to that challenge, when they have not submitted yet (you can have a look at the logic of similar button in Challenge Details page i

[2017-03-06 20:16] ajefts commented on #1067
fixed

[2017-03-06 20:16] #1067 closed

[2017-03-06 20:17] #1032 closed

[2017-03-08 20:27] ajefts opened #1073 "[$15] Filters are not responsive"

[2017-03-08 20:42] ajefts opened #1074 "Register call to action seems to be randomly showing or not"
Sometimes the register call to action is showing, and other times it doesn't.  I can't figure out the logic it's using...but it seems random...

![image](https://cloud.githubusercontent.com/assets/3812270/23723076/c5c6b4da-0415-11e7-8972-35b300575be1.png)

[2017-03-08 20:45] ThomasKranitsas commented on #1074
Hey guys! I can help here if you want :) The base code was mine I know how the register button works

[2017-03-09 21:14] vic-topcoder opened #1075 "Remove registration from the challenge timeline tooltip"
Registration should be a binary option (on/off) on which we establish if a competitor can participate on a challenge or not. It should not be listed as part of the timeline, as it is confusing and overlaps with phases.

![screen shot](https://cloud.githubusercontent.com/assets/8484061/23770881/c46ba3d4-04c9-11e7-88bb-5443352d6ea3.png)

Grouping of active challenges is done based on registration -

[2017-03-09 21:17] vic-topcoder opened #1076 "Layout issues"
The current layout has some issues with the 2 columns - overlap or too big of a gap, height of containers and footer position
![screen shot 5](https://cloud.githubusercontent.com/assets/8484061/23771125/b2efda02-04ca-11e7-8c37-83696bebb593.png)
![screen shot 7](https://cloud.githubusercontent.com/assets/8484061/23771149/c342c036-04ca-11e7-9c84-4229c1f1f710.png)
![screen shot 8](https://cloud.githu

[2017-03-09 21:34] vic-topcoder opened #1077 "[$5] Disable reload when click on active (current) tab navigation"
![screen shot 11](https://cloud.githubusercontent.com/assets/8484061/23771936/f7e128b6-04cd-11e7-802f-c29228b58c8a.png)
Do not reload the page when clicking on the Challenges tab when it is active. Why do we support reload here?

[2017-03-09 21:37] vic-topcoder opened #1078 "[$10] Search button is not active when search is focused"
![screen shot 12](https://cloud.githubusercontent.com/assets/8484061/23771813/7cb42b2a-04cd-11e7-90d0-7eeed82ba6f3.png)

Should be active (blue) and change states on hover

[2017-03-09 21:40] vic-topcoder opened #1079 "Forum link icon broken"
![screen shot 10](https://cloud.githubusercontent.com/assets/8484061/23771860/abe6a49a-04cd-11e7-8db8-34ed1498247f.png)

Expected:
![screen shot 12](https://cloud.githubusercontent.com/assets/8484061/23771874/b8589756-04cd-11e7-89ba-506205b1b6a3.png)

As a move towards the new scaffolding, we should use pure .SVG loaded as react components and styled with CSS. @birdofpreyru is currently working on

[2017-03-09 21:41] vic-topcoder opened #1080 "Winner data/tooltip is not complete"
![screen shot 9](https://cloud.githubusercontent.com/assets/8484061/23771959/0795cafa-04ce-11e7-981a-37b1f028db03.png)

[2017-03-09 21:42] vic-topcoder commented on #1080
Tooltip position is also off - should be above the avatar image

[2017-03-10 08:37] birdofpreyru commented on #957
FYI: A copilot more knowledgeble about TC backend is taking care about local deployment of different parts of TC site. I am not closely following on his plan&progress, but I see, he has just run a F2F challenge to deal with the login problem: https://www.topcoder.com/challenge-details/30056747/?type=develop&nocache=true You guys might want to participate, as he also have a better knowledge about c

[2017-03-10 08:39] birdofpreyru commented on #1054
@rushikesh90 Any news on this one? I am preparing to start another Bug Bash this weekend. If you are not interested in this ticket anymore, I'll open it for that Bug Bash.

[2017-03-10 08:39] birdofpreyru commented on #995
@rushikesh90 Any news on this one? I am preparing to start another Bug Bash this weekend. If you are not interested in this ticket anymore, I'll open it for that Bug Bash.

[2017-03-10 08:40] birdofpreyru commented on #1003
Hey @ThomasKranitsas, how are you doing? :)

Are you still planning to finish this one? I am preparing to start another Bug Bash this weekend. If you are not interested in this ticket anymore, I'll open it for that Bug Bash.

[2017-03-10 09:14] rushikesh90 commented on #1054
Ok Sure you can open this for bug bash. I had some system problem.

[2017-03-10 09:15] rushikesh90 commented on #995
I will work on this . Give me some time.

[2017-03-10 11:08] ThomasKranitsas commented on #1003
Hey @birdofpreyru, I completely forgot about this one.. I was extremely busy..
Sure you can open it for the next Bug Bash as I don't have enough time to fix it today.

Sorry and thanks for your understanding!

[2017-03-12 11:52] #914 closed

[2017-03-12 12:01] #985 closed

[2017-03-12 12:56] birdofpreyru commented on #990
### Update
Test challenge set up at dev site: https://www.topcoder-dev.com/challenge-details/30050681/?type=develop&noncache=true. Submission phase is manually set open, but it is late (phase end date is in the past already).
`dan_developer` test user is registered to the challenge as competitor. He can upload submission using Online Review, but he can't from the challenge details page, as the but

[2017-03-12 13:02] birdofpreyru commented on #1000
@ajefts It looks like statistics still are not being updated :(

[2017-03-12 13:05] birdofpreyru commented on #1003
### Update
This is still should be done. The styling should reside in `topcoder-app` repo, and should not be specific to the `Complete Appeals` button (i.e. don't name corresponding class after that button, call it something like `btn-danger`, as we'll have another buttons using this color scheme).

[2017-03-12 13:47] birdofpreyru commented on #1013
### Update
1. Here is the test challenge (at dev site): https://www.topcoder-dev.com/challenge-details/30050691/?type=develop&noncache=true. Test user `dan_developer` has submitted to that challenge, and the challenge is currently in Appeals phase.
2. It seems, there is no API to test whether a user has completed his appeals or not (if you find one, it will be great!). We still need a service meth

[2017-03-12 14:01] birdofpreyru commented on #1058
For the reference, here are the ticket and PR taking care about Cognitive banner: https://github.com/appirio-tech/topcoder-app/issues/1007, https://github.com/appirio-tech/topcoder-app/pull/1014

The new photo for the banner should be nicely cropped! Use your common sense to make the best crop for the target size. It is expected that we have faces and hands of people not cut, while we can their le

[2017-03-12 15:22] birdofpreyru commented on #910
@ajefts @skyhit

Is there a chance you can add related logic to the API any time soon? Then we'll be able to implement necessary frontend changes during the Bug Bash.

Basically, we need to allow to save two additional params into user profile, probably allowing the following field:
[code]

Also, if `inPublicProfile` is true, the total user earnings should be included into the user profile object.

[2017-03-12 15:40] birdofpreyru commented on #1080
@tladendo Should I steal this one from you into the Bug Bash?

[2017-03-12 15:40] birdofpreyru commented on #1079
@tladendo Should I steal this one from you into the Bug Bash?

[2017-03-12 15:40] birdofpreyru commented on #1078
@tladendo Should I steal this one from you into the Bug Bash?

[2017-03-12 15:41] birdofpreyru commented on #1077
@tladendo Should I steal this one from you into the Bug Bash?

[2017-03-12 15:42] birdofpreyru commented on #1075
@tladendo Should I steal this one from you into the Bug Bash?

[2017-03-12 15:42] birdofpreyru commented on #1074
@tladendo Should I steal this one from you into the Bug Bash?

[2017-03-12 15:43] birdofpreyru commented on #1073
@ajefts @tladendo Seems to be fine now. Should we close this ticket?

[2017-03-12 19:05] Savvas-cl commented on #1003
@birdofpreyru pls give me permission so I can self-assign and change labels. Thank you.

[2017-03-12 19:08] birdofpreyru commented on #1003
@Savvas-cl Permissions granted

[2017-03-13 00:24] Savvas-cl commented on #1003
@birdofpreyru  as it will be a non-specific to challenges button styling. I think that the most appropriate place to put the css styling is in this file:
topcoder-app/node-modules/appirio-styles/styles/topcoder/_tc-buttons.scss

Is this okay?

[2017-03-13 00:29] birdofpreyru commented on #1003
@Savvas-cl: Nope, because the first thing I see when open that repo (https://github.com/appirio-tech/styles) is `DEPRICATED! DO NOT USE!`.

Please, just put the new style into this repo.

[2017-03-13 00:32] Savvas-cl commented on #1003
so in either of the following two is it okay?
/css/my-dashboard/my-dashboard.scss (or .../my-challenges.scss)

[2017-03-13 00:40] birdofpreyru commented on #1003
Should be in the same file, where the challenge tiles for the Dashboard are styled.
It looks to me, that they are styled in the .../assets/css/directives/challenge-tile.scss,
but, please, double-check.

[2017-03-13 00:45] Savvas-cl commented on #1003
Yes that was the other option I had. I did not want to put it there because no other button related styling lies there. But I think its okay. Thanks.

[2017-03-13 01:13] shizhouxing commented on #1058
@birdofpreyru It's now ready for review.

[2017-03-13 14:53] birdofpreyru opened #1083 "[$10] - Complete Appeals button in Dashboard should be shown only when Submitter role is present"
Same for the list view.
![scr-08](https://cloud.githubusercontent.com/assets/20144632/23859777/22a3fd28-0805-11e7-9eec-beefcbe6a8d4.png)

[2017-03-13 15:05] #1003 closed

[2017-03-13 15:14] birdofpreyru commented on #1048
@Colinh84 In respect of the original problem, it looks fine now, thanks. Though, I see another problem now: some tiles tend to go into a second column:
![scr-09](https://cloud.githubusercontent.com/assets/20144632/23860685/f4326652-0807-11e7-8102-4c108179e614.png)

Are you interested to fix it for extra $10? No problem, if you are not, I can accept this as it is, and open a new ticket for that fix

[2017-03-13 15:19] #1058 closed

[2017-03-13 21:03] garntsev commented on #1053
When I start topcoder-app application locally and press Compete -> Development challenges (or any other challenges page) I see http://local.topcoder-dev.com:3000/404/ page and then it redirects to https://www.topcoder-dev.com/404/
Please, help me clarify steps required to have challenge page up and running!
Account: christina_uw. Role: user.

[2017-03-13 22:05] birdofpreyru commented on #1053
This is because current Challenge Details page is served by code from another repo: https://github.com/appirio-tech/tc-site

[2017-03-14 00:49] shizhouxing commented on #1071
@birdofpreyru How can I test this locally? It seems there is nothing in `My challenges`.

[2017-03-14 00:51] birdofpreyru commented on #1071
You can run it against production backend and just register/unregister from any active challenge

[2017-03-14 01:28] shizhouxing commented on #1071
@birdofpreyru It's now ready for review.

[2017-03-14 09:34] Colinh84 commented on #1048
@birdofpreyru ok no problem, I will work on this extra problem here.

[2017-03-14 09:49] garntsev commented on #1053
If Challenge Details page is in the tc-site then shouldn't this bug be in tc-site repo?

[2017-03-14 10:49] WajihaaKanwal commented on #1083
Hello,
I am unable to assign this issue to me.

[2017-03-14 12:34] birdofpreyru commented on #1083
@WajihaaKanwal I've sent you invitation to the repo. The ticket is yours, please assign yourself (I've already changed the label to `IN PROGRESS`).

[2017-03-14 12:38] birdofpreyru commented on #1053
@garntsev For the purposes of this Bug Bash we keep the track of all issues in `topcoder-app` repo just to have them in the same place, thus simplifying the management.

[2017-03-14 12:39] birdofpreyru commented on #995
@rushikesh90 Any update?

[2017-03-14 12:54] birdofpreyru commented on #1071
@shizhouxing Can you update this so that, instead of redirecting to the confirmation page, the button just unregisters the user from the challenge (as it happens on the Challenge Details page), and updates the Dashboard appropriately?

[2017-03-14 13:39] shizhouxing commented on #1071
@birdofpreyru It seems the logic of buttons at challenge detail page and dashbord are very different. In challenge detail page (in `tc-site` repo) , there are services to do such things, but in the current repo, all buttons on the challenge tile on dashboard page just uses links. The `complete appeal` button also redirects to the Online Review.

[2017-03-14 13:45] #1071 closed

[2017-03-14 13:47] birdofpreyru commented on #1071
Ok, got it. We'll try to handle it in a separate ticket later.

[2017-03-14 15:45] ajefts opened #1085 "Broken links"
Hello, the two links at the bottom of the page, both with the blue text "calculated with this algorithm" lead to broken links
https://www.topcoder.com/member-onboarding/understanding-your-topcoder-rating/

The Links themselves:
http://help.topcoder.com/data-science/srm-and-mm-rating-systems/algorithm-rating-system/

[2017-03-14 15:54] birdofpreyru commented on #1085
### Expected Fix
Update the links to point at https://help.topcoder.com/hc/en-us/articles/217481618-Algorithm-Ratings for Algorithm and Marathon Matches and https://help.topcoder.com/hc/en-us/articles/219240797-Development-Reliability-Ratings-and-Bonuses for development ratings.
The page in question, I believe, is served by https://github.com/appirio-tech/tc-site repo.

[2017-03-14 17:02] shubhendusaurabh commented on #1085
@birdofpreyru I think this is a blog post. So any changes in the content must be done through wp-admin.

[2017-03-14 18:33] birdofpreyru commented on #1085
@shubhendusaurabh Oh... I thought it is a hard-coded template of the page.

@ajefts How should we proceed?

[2017-03-14 19:50] ajefts commented on #924
The updated updateCoderPlacement function has been deployed.  This seems to have helped, but it looks like there are other issues that prevent the problems from loading sporadically.  So, making progress but still some more work to do here...

[2017-03-14 22:18] shubhendusaurabh commented on #1054
@birdofpreyru Is userrole method working? I get undefined while debugging.
Also if a user has submitted `unregister` button is useless as there is check in controller which does not allow a submitter to unregister.

[2017-03-14 23:23] birdofpreyru commented on #1054
@shubhendusaurabh

You are right, if user has submitted, we should not show the Unregister button. I believe in current implementation it is checked already, but it is not hidden, just disabled. Let's hide it. Though, the main focus here is that if user has no Submitter role, we should not show the button at all.

Well, as I have accepted the fix which implemented it, I believe, I has checked and

[2017-03-15 11:45] birdofpreyru commented on #995
@rushikesh90 Sorry, as it was a lot of time and no progress, I open this ticket to other people.

[2017-03-15 18:08] Colinh84 commented on #1048
@birdofpreyru I have not been able to reproduce this column issue. I have tested in both Chrome and Firefox in both responsive and mobile emulation modes, and I can never see more than 1 column, even with my real topcoder account with hundreds of past challenges showing.. Can you give more information on what browser and resolution you saw this bug? Also just to make sure, did you clear your brows

[2017-03-16 01:22] ajefts opened #1087 "Github account linking"
Issue reported from member:

But I find the reason of my previous issue. my GitHub profile contains no-ASCII code, when decoded jwt which contains my GitHub profile, infomation in js, it will throw a exception.

My GitHub account xxxxx, bio contains a emoji and Chinese characters, and my Github information didn't sync to topcoder profile in last few months.

When I remove Chinese characters and em

[2017-03-16 01:23] ajefts opened #1088 "Add ability to edit email via settings page"

[2017-03-16 01:24] ajefts opened #1089 "Add ability to remove Linked Accounts on profile settings page"

[2017-03-16 14:47] #990 closed

[2017-03-16 14:53] #1053 closed

[2017-03-16 15:36] birdofpreyru commented on #995
@shizhouxing
I like what you did! Though, here are some fixes, I would like to see:
1. When I do window very narrow, the column of stats is not centered horizontally.
![scr-10](https://cloud.githubusercontent.com/assets/20144632/24004092/b08a8118-0a65-11e7-91d8-1ae1c1ea3bc9.png)
2. Currently, in mobile view, we have at most 3 stats values displayed. On some pages we have more of them, so all besid

[2017-03-16 15:48] birdofpreyru commented on #1048
@Colinh84 I've double checked, after cleaning the cache, and still see the issue. Tested with my real Topcoder account, on Chrome/Ubuntu with responsive emulation mode. Here screencast: https://youtu.be/vWcwKGG2bVw As you may note, the issue is visible not on all mobile sizes, only in some range.

[2017-03-16 15:53] birdofpreyru commented on #1088
@ajefts It dublicates this: https://github.com/appirio-tech/topcoder-app/issues/911

[2017-03-16 16:02] birdofpreyru commented on #1089
@ajefts Isn't it already supported? I've just removed a link to my GitHub account from profile settings page. Just one drawback: now I am not able to link it back, it encounters some error, when I try :)

[2017-03-16 17:21] appirio-jenkins commented on #1089
Sorry, I wasn't complete with that ticket.  I know there are some issues
with it but wasn't sure of the details yet.  But I think it needs some
cleanup in general.

On Thu, Mar 16, 2017 at 12:02 PM, birdofpreyru <notifications@github.com>
wrote:

[2017-03-16 18:18] Sande3p opened #1090 "Adding Javascript support to arena"
JavaScript is one the most widely used language.
We should add JavaScript language option to the arena.

[2017-03-16 18:29] shubhendusaurabh opened #1091 "[$10] - Challenge Description text overflowing"
If the challenge description contains long text inside `pre` tag, the text is overflowing.

https://www.topcoder.com/challenge-details/30056829/?type=develop
![pre](https://cloud.githubusercontent.com/assets/1818387/24012594/8fb372da-0aa4-11e7-8116-0a7a0843a510.png)

cc @birdofpreyru

[2017-03-16 18:32] birdofpreyru commented on #1091
Let's, in case of overflow, turn such blocks of unformatted text into scrollable containers. While mantaining original stying as a regular paragraph, when there is no overflow.

[2017-03-16 18:33] birdofpreyru commented on #1091
@shubhendusaurabh Do you want to fix it yourself?

[2017-03-17 07:22] shizhouxing commented on #995
OK I'll try to fix them.

[2017-03-17 07:29] Colinh84 commented on #1048
@birdofpreyru I tried again to test, using the same environment and browser you mentioned and still cannot reproduce. I even modified the challenge details to semi-randomly display listed challenges of all types (since I initially didn't have any design or data-science challenges listed) and with different roles to catch all markup and styling differences between challenge listings. Below I includ

[2017-03-17 10:17] birdofpreyru commented on #1083
@WajihaaKanwal Any update on this? Or I will open the ticket for pickup by other people.

[2017-03-17 10:27] birdofpreyru commented on #1048
@Colinh84 No, I still see the issue. Anyway, I accept this ticket, as it improves the situtation with just a minor drawback.

[2017-03-17 10:27] #1048 closed

[2017-03-17 10:52] #1054 closed

[2017-03-17 10:59] #1091 closed

[2017-03-17 12:49] ajefts opened #1092 "Site design feedback"
This is from a user that came in via support. A lot of these tutorial pages are on the old design.

------------------
Submitted from: https://www.topcoder.com/community/data-science/data-science-tutorials/binary-search/

[2017-03-17 12:49] ajefts commented on #1092
@vic-topcoder fyi...

[2017-03-17 13:21] ajefts opened #1093 "[$20] - Add TCO link to the top nav in tc-site like it is on topcoder-app"

[2017-03-17 13:29] birdofpreyru commented on #1093
This is the link in the top menu in desktop view:
![scr-11](https://cloud.githubusercontent.com/assets/20144632/24044993/e56b8fcc-0b1d-11e7-8055-cd1c81bc4f37.png)
there is similar link in mobile-size view.

Both are missing on Challenge Details page (and on other pages served from `tc-site` repo) and should be added there.

[2017-03-17 15:06] shizhouxing commented on #995
@birdofpreyru It's now ready for review.

[2017-03-18 13:37] Savvas-cl commented on #1093
@birdofpreyru it is now ready for review.

[2017-03-18 13:54] #995 closed

[2017-03-18 14:06] #1093 closed

[2017-03-18 14:14] birdofpreyru commented on #989
@shizhouxing Hey! What happened? Why I see random Bug-Bash-related labels assign by you to tickets all around?

[2017-03-18 14:19] shizhouxing commented on #989
@birdofpreyru Oh... Really apologise that it seems I made a mistake when filtering tickets. Very sorry for that...

[2017-03-18 14:24] birdofpreyru commented on #989
OK. I've removed those labels.

[2017-03-19 16:41] Savvas-cl commented on #1083
@birdofpreyru it is now ready for review

[2017-03-20 13:42] #1083 closed

[2017-03-20 13:58] birdofpreyru commented on #989
@Colinh84 @Savvas-cl @shizhouxing @shubhendusaurabh
Bug Bash III is finished, many thanks for participation, everybody!

We'll handle payments as soon as possible. I've just noticed that @shubhendusaurabh has not submitted a dummy submission, and it looks like with my level of permissions (or just lack of knowledge) I can't neither re-open submission phase, nor upload a dummy submission for him. S

[2017-03-20 16:20] shubhendusaurabh commented on #989
@birdofpreyru In some previous bug bash when I had failed to submit, payments were handled through JIRA. Maybe look into it.

[2017-03-21 13:01] birdofpreyru commented on #989
@Colinh84 @Savvas-cl @shizhouxing I've entered your payment details in the system. Please check that I did no mistakes in my records, and if there are any problems use the standard appeal procedure to point them out. Otherwise, press Complete Appeals button to get the payments a bit faster.

[2017-03-22 13:15] birdofpreyru opened #1095 "Downloads link in the challenge details page is not visible to reviewers."
The link is visible only to competitors, but not to the people with other roles in the challenge.

[2017-03-24 18:09] tladendo opened #1098 "Styling issues"
- [ ] forum link is still rendered wrong
- [ ] prize pool label - breaks in 2 lines, it should not;
- [ ] tag font metrics seem off;
- [ ] timeline hover target is only the progress bar - this makes it hard to view; should be the title and the status label as well;
- [ ] sorting drop-down is off, and once clicked on an item, it should hide automatically
- [ ] current sorting is not highlighted on

[2017-03-28 20:02] vic-topcoder opened #1101 "Typography, colors, and layout polishes"
There are some things to fix on the listing.

- [ ] wrong use of "Roboto-Bold" font instead of "Roboto" and font-weight — tags
- [ ] wrong sizing of tags; they must be 20px tall;
Desired CSS:
![screen shot 14](https://cloud.githubusercontent.com/assets/8484061/24424379/391611fc-13b5-11e7-8413-0e1bda6ee43f.png)

- [ ] Change the padding between prize and status columns to 20px; currently it is too

[2017-03-28 20:13] vic-topcoder opened #1102 "Status labels text"
Let's provide an adequate content to users. When we have

- **Stalled**: `NaN:NaN h to go` → "Challenge is currently on hold"
- When we have `00 d 00:23 h to go` - drop the 00d; if we have days and min, display that, if we have only min, display minutes:
  - `00 d 06:46 h to go ` → `6:46 h to go'
  - `00 d 00:46 h to go ` → `46 min to go'
- **Final Fixes** → "Winner is working on fixes"
- **Late**

[2017-03-29 18:08] ajefts opened #1103 "New Listings - registration phase show as open when it's not"
On the new listings, you'll see challenges showing in the "Open for registration" list that are Completed challenges.  I believe this is because the page is looking at the phase dates, and not the status. Especially for F2F, it's very likely to see the registration end date in the future even when the phase/challenge is closed.

[2017-03-29 18:08] ajefts commented on #1103
@tladendo Let's get this one fixed asap please.

[2017-03-29 18:09] ajefts opened #1104 "New Listing - remove alpha label"
Remove the alpha label from the listings page.

[2017-03-29 18:10] ajefts opened #1105 "New Listing - prize tooltip and challenge link has hard coded api path"
Looks like it's always hitting the prod domain

[2017-03-29 18:11] ThomasKranitsas commented on #1103
@ajefts @tladendo I've fixed this before but it seems that a change made later broke my code 🤔

[2017-03-29 18:36] ajefts commented on #1103
@ThomasKranitsas can you fix it again?

[2017-03-29 18:36] ThomasKranitsas commented on #1103
@ajefts it's a quick one so yep.. Just give me few minutes.

[2017-03-29 18:49] ThomasKranitsas commented on #1103
@ajefts just to confirm... That issue only appears when you select the `All Challenges` option from the sidebar filters, right?

[2017-03-29 18:50] ajefts commented on #1102
@ThomasKranitsas Want to do this one quick too?

[2017-03-29 18:50] ajefts commented on #1101
@ThomasKranitsas Another one if you want to grab it

[2017-03-29 18:57] appirio-jenkins commented on #1103
Yes, it seems to just be All Challenges.

On Wed, Mar 29, 2017 at 2:49 PM, Thomas Kranitsas <notifications@github.com>
wrote:

[2017-03-29 18:58] ajefts opened #1106 "New Listing - default the page to All Challenges"
When you load the page with no filters, default it to All Challenges.

[2017-03-29 18:58] ajefts commented on #1106
@ThomasKranitsas fyi

[2017-03-29 19:25] ThomasKranitsas commented on #1101
@ajefts I don't have much time for this one. Sorry :)

[2017-03-29 21:45] ajefts opened #1107 "[$15] - New Listings - Clicking My Challenges in sidebar doesn't work"

[2017-03-29 21:47] birdofpreyru commented on #1105
I've checked the commit ff79d46087ca07c424fe9ee806fc45e8964a64c4 in this repo, and it looks to me like `/listings` there already use the correct backends for dev and prod modes.

[2017-03-29 21:51] ajefts opened #1108 "New Listings - Register link is not set"
![image](https://cloud.githubusercontent.com/assets/3812270/24478285/51be6256-14a8-11e7-9b06-59ec86bb8dbe.png)

The "to register" action needs to go to the challenge page.  Use the same url that the challenge name is using.

[2017-03-29 21:56] ThomasKranitsas commented on #1108
@ajefts I'm not sure if that was fixed but on the very first challenge I had set the register button to be randomly appeared on some challenges regardless if they are open for registration or not.

The reason was to mock the scenario that the button appears to challenges that a user hasn't been registered yet.

I guess the fix for this should be to either show the register button if the challenge

[2017-03-29 22:20] ajefts commented on #1108
Ok, after talking with @vic-topcoder let's add some more detail to this. Please refer to the specs here:  https://drive.google.com/open?id=0B1LbmKnex41fRWNNdXNTQzdDNzA

For the timeline, we should assume the registration "phase" does not exist.  So, if registration is open the there should be the call to action to the right ("....to register") and that should show the time left to register.  When

[2017-03-29 22:24] ajefts commented on #1105
Hi @birdofpreyru

It's actually the URL that it's using when you click a challenge and also when it calls the API to get prizes.  In dev, it's using www.topcoder.com instead of www.topcoder-dev.com....

[2017-03-29 22:35] vic-topcoder opened #1109 "Code challenge with data science background"
On production listing, we have a code/background mismatch. The challenge is code, but is orange as data science. The challenge is also TCO eligible and that code is green (code). They should match. Look at https://www.topcoder.com/listings/

Expected:
![screen shot 53](https://cloud.githubusercontent.com/assets/8484061/24479665/36ecc50c-1495-11e7-8ed5-4ec512ec459f.png)

Rendered:
![screen shot 52]

[2017-03-30 00:08] ajefts commented on #1103
Challenge created successfully
Challenge Url: https://www.topcoder.com/challenge-details/30057023/?type=develop&noncache=true

[2017-03-30 05:08] vic-topcoder opened #1110 "[$20] - Side navigation doesn't reflect current bucket/list"
When clicking on "load more" at the end of a bucket, the side navigation doesn't reflect the selection. It should navigate to the appropriate section. Clicking on "load more" should function the same as clicking on the side navigation.

![screen shot 54](https://cloud.githubusercontent.com/assets/8484061/24488508/2d61d2c0-14cc-11e7-8740-cd2893e8ab27.png)

[2017-03-30 05:09] vic-topcoder opened #1111 "Side navigation is not sticky"
After the latest updates the side navigation doesn't stick anymore to the top of the viewport on scroll. It should stick.
![screen shot 55](https://cloud.githubusercontent.com/assets/8484061/24488546/577cdeba-14cc-11e7-8cd3-5424e78ad764.png)

[2017-03-30 09:03] ThomasKranitsas commented on #1109
@vic-topcoder actually the icon is orange because the challenge has the `Data Science` keyword.
So the expected image you posted above is not quite correct. I guess the correct fix here should be to change the TCO badge to orange if the challenge has the `Data Science` keyword.

Can you please confirm this? Thanks